workflows/1_-_Chatbot_6_Assistente_interno_Guess.json
{"createdAt":"2025-05-28T01:29:18.046Z","updatedAt":"2025-07-17T13:34:25.405Z","id":"l4LDHscnY9x5FdIY","name":"1 - Chatbot 6. Assistente interno Guess","active":true,"isArchived":false,"nodes":[{"parameters":{"chatId":"={{ $('Info').item.json.telegram_chat_id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2080,660],"id":"b80e3286-644b-469f-b7d7-74a1554b02be","name":"Responder Telegram","webhookId":"29b4713a-6a94-4cc8-be74-5ec2981d1933","credentials":{"telegramApi":{"id":"HuA2rNZ8IBOumBkP","name":"Telegram account Wanderson"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[60,660],"id":"2df969ce-0bcb-4831-ac9f-d8d57f55be1b","name":"Receber Mensagem Telegram","webhookId":"fcc60b8b-701f-4bdf-9361-8911bf7f83ac","credentials":{"telegramApi":{"id":"HuA2rNZ8IBOumBkP","name":"Telegram account Wanderson"}}},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=Agora são {{ $now.format('FFFF') }}.\n\n## PAPEL\n\nVocê é um assistente interno de reagendamento no escritório, acionado diretamente por um profissional via mensagem para gerenciar situações de remarcação de consultas, incluir lembretes na lista de compras ou agendar tarefas.\n\n## OBJETIVO GERAL\n\n1. Reagendar consultas a pedido do profissional.  \n2. Adicionar lembretes na lista de compras quando solicitado.  \n3. Agendar tarefas a pedido do profissional\n\n\n## RESUMO DE RESPONSABILIDADES\n\n1. Reagendamento de leads  \n   - Acesse o Google Calendar por meio das ferramentas de evento para identificar as consultas afetadas.\n   - Extraia o número de telefone e o ID da conversa na descrição do evento.\n   - Use a ferramenta \"Enviar_reagendamento\" para enviar mensagens de reagendamento aos pacientes.\n   - Envie a pergunta de preferência de nova data e horário.\n2. Lista de compras do escritório  \n   - Se o profissional solicitar a inclusão de um item na lista de compras, utilize a ferramenta \"Criar_tarefa\" para adicionar o lembrete.\n3. Agendamento de tarefas do escritório\n   - Se o profissional solicitar o agendamento de uma tarefa na agenda do Google Calendar, utilize a ferramenta \"Criar_tarefa\" para adicionar o lembrete.\n4. Ler e resumir lista de emails\n   - Se o profissional solicitar informação sobre os emails recebidos, use a ferramenta \"Ler_emails\" e resuma as informações\n\n## ORIENTAÇÕES DE LINGUAGEM E PROCEDIMENTO\n\n- Use uma abordagem empática, profissional e acolhedora.\n- Nunca envie mensagens para pacientes sem autorização explícita do profissional.\n- Quando listar eventos ou tarefas, seja objetivo e organizado.\n- Mantenha clareza e concisão em todas as interações.\n\n## PROFISSIONAIS E ESPECIALIDADES\n\nSegue o nome dos profissionais, suas especialidades, e o ID da agenda que deve ser usado nas ferramentas Google Calendar\n\n**MUITO IMPORTANTE!! O ID DA AGENDA INCLUI O \"@group.calendar.google.com\". NÃO OMITA AO UTILIZAR AS FERRAMENTAS**\n\n- Dr. João Paulo Ferreira - Médico - Clinico Geral (c_46b1d614bf4f151ca950431202bf90ca003301793b48cffc489dc411be79c4bf@group.calendar.google.com)\n- Dr. Roberto Almeida - Médico - Cardiologia (c_6c3005bf4afd591f13f242f6509208ddbe1feadad3f6521884ab79c59069bfd0@group.calendar.google.com)\n- Dra. Ana Silva - Dentista - Clínica Geral (c_ebce2058c0b75e881585b90539f6ded839de178d4bb64e1aa9e4f6468d6954a6@group.calendar.google.com)\n- Dra. Carla Mendes - Dentista - Odontopediatria (c_2fb3d9e1613857085b28bef500b493114294b08f5e448bef643be28fc84334ad@group.calendar.google.com)\n\n## IMPORTANTE\n\n- Use a ferramenta \"Refletir\" antes e depois de realizar operações complexas, para ter certeza de que deu tudo certo.\n- SEMPRE QUE ENVIAR UMA MENSAGEM PARA O PACIENTE, **USE A FERRAMENTA \"Salvar_memoria\"**. ISSO É MUITO IMPORTANTE, NÃO FAÇA ERRADO POR FAVOR.\n\n## INSTRUÇÕES FINAIS\n\n- Atenda exclusivamente às solicitações de reagendamento e inclusão de lembretes.\n- A remarcação de consultas ocorre somente quando o profissional pede, utilizando as ferramentas de evento para identificar os pacientes e a ferramenta \"Enviar_reagendamento\" para enviar a mensagem.\n- Para a lista de compras e lembretes, sempre use \"Criar_tarefa\".\n- Para a sua resposta que será enviada para o profissional que fez a soliticação, **NÃO UTILIZE FORMATAÇÃO MARKDOWN**.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1720,660],"id":"94054218-41be-442c-bfe3-501bd3ddb2b4","name":"Assistente do escritório interno"},{"parameters":{"content":"## Assistente interno\n","height":560,"width":2300,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,500],"id":"5ebed0b0-55df-4a22-808f-99f2a6fed4e8","name":"Sticky Note4"},{"parameters":{"descriptionType":"manual","toolDescription":"Salva a informação de agendamento enviada, para que a secretária saiba que foi enviada.","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_historico_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $fromAI('telefone', 'Telefone do paciente, formatado com apenas números, incluindo código do país. Ex.: \"551112345678\"', 'string') }}","message":"={ \"type\": \"ai\", \"content\": \"{{ $fromAI('message', 'A mesma mensagem enviada para o paciente.', 'string') }}\" }"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1480,900],"id":"7a18d27e-ad4c-4974-95dd-0d0c3fba1068","name":"Salvar memoria","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}}},{"parameters":{"operation":"getAll","limit":5,"filters":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[2020,900],"id":"5443a8f6-fb75-42c3-9d75-d7ca4b34b4fb","name":"Ler emails","webhookId":"809e1bd4-fac5-4520-bfc7-3cedca348a0e","credentials":{"gmailOAuth2":{"id":"RuwCHqYn83uy1IVM","name":"Gmail account"}}},{"parameters":{"task":"YXdwUHJaRVoxWDdudFNGNg","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}","additionalFields":{"dueDate":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Date', ``, 'string') }}","notes":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}","status":"needsAction"}},"type":"n8n-nodes-base.googleTasksTool","typeVersion":1,"position":[1880,900],"id":"6e88575e-3eaa-4e03-851e-ce47be51060c","name":"Criar tarefa","credentials":{"googleTasksOAuth2Api":{"id":"of94HIrpBOMdtSsE","name":"Google Tasks account"}}},{"parameters":{"assignments":{"assignments":[{"id":"439cbe58-9652-4831-bf25-f077216f1d55","name":"url_chatwoot","value":"https://chatwoot.alcateia.site","type":"string"},{"id":"0a3fa735-aced-46e9-b9de-1734f9f2b537","name":"id_conta","value":"={{ $json.account_id }}","type":"string"},{"id":"2c4f57f2-8175-43e9-8d59-2796b2ebf488","name":"telegram_chat_id","value":"={{ $('Receber Mensagem Telegram').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,660],"id":"c4edc1cc-dfda-4fbc-bb6f-aef671716bc3","name":"Info"},{"parameters":{"resource":"Profile","operation":"Fetch Profile","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[280,660],"id":"42aa6de5-47bf-4056-a2ab-7c246c90eb91","name":"Buscar informações da conta","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"assistente_interno","tableName":"n8n_historico_mensagens","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1340,900],"id":"6867d0cd-600a-49c8-bf26-ce540f679ea4","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1200,900],"id":"285bb82c-dcd5-4a1c-a3a8-2a1e3dd86355","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NS3lWtAwJAoj2SGy","name":"Google Gemini(PaLM) Api account Wanderson Gemini API"}}},{"parameters":{"sseEndpoint":"https://webhook.alcateia.site/mcp/c42f7565-7a7c-4653-9842-3bb9c930b7c2/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1600,900],"id":"439ad2b8-c0c6-4fe7-9ffe-d6995e292369","name":"MCP Google Calendar"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[2160,900],"id":"67fbcba0-c60c-4866-a9e7-dd9f4966e514","name":"Refletir"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Receber Mensagem Telegram').item.json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"48feeb05-d1a0-45a7-9e6b-04faef4b5175"}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cf1a12e-bd0a-4ac6-a33c-6748438c9c8a","leftValue":"={{ $('Receber Mensagem Telegram').item.json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[720,660],"id":"6d163692-0d9e-4d44-b6d1-2e08ad172be8","name":"Tipo de mensagem"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1220,560],"id":"c6715ab1-ade6-4784-821a-83448d863780","name":"Transcrever áudio","credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}}},{"parameters":{"assignments":{"assignments":[{"id":"45efc554-3f74-4922-a2cf-f64d2ea084c0","name":"mensagem","value":"={{ $('Receber Mensagem Telegram').item.json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,760],"id":"310cbfe9-ea97-416a-b6d9-971a0f840dbc","name":"Set mensagem texto"},{"parameters":{"assignments":{"assignments":[{"id":"0e95db55-1b2e-4762-a547-9481029291e9","name":"mensagem","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,560],"id":"05d8e207-fc8b-4173-ad7c-db5b650c0a9f","name":"Set mensagem áudio"},{"parameters":{"content":"## 6. Assistente interno","height":80,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,380],"id":"30064031-e79f-4941-9784-4b92f2d2261a","name":"Sticky Note30"},{"parameters":{"description":"Use essa ferramenta para enviar as informações de reagendamento no WhatsApp.\n\nO ID da conversa deve ser extraído das informações do evento.","workflowId":{"__rl":true,"value":"NZWbx3GRZXlpH2Ad","mode":"list","cachedResultName":"5. Enviar agendamento Guess"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mensagem', ``, 'string') }}","id_conta":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conta', ``, 'string') }}","id_conversa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conversa', ``, 'string') }}","url_chatwoot":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url_chatwoot', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1740,900],"id":"cac3345b-11a4-4d46-a275-6f9daaf307ca","name":"Enviar agendamento"},{"parameters":{"resource":"file","fileId":"={{ $('Receber Mensagem Telegram').item.json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1000,560],"id":"835c4e58-1b5d-41c8-b7c7-19e242ee024e","name":"Download áudio","webhookId":"968a4615-7fd8-450e-b4d0-6f3bff824d18","credentials":{"telegramApi":{"id":"HuA2rNZ8IBOumBkP","name":"Telegram account Wanderson"}}}],"connections":{"Assistente do escritório interno":{"main":[[{"node":"Responder Telegram","type":"main","index":0}]]},"Salvar memoria":{"ai_tool":[[{"node":"Assistente do escritório interno","type":"ai_tool","index":0}]]},"Ler emails":{"ai_tool":[[{"node":"Assistente do escritório interno","type":"ai_tool","index":0}]]},"Criar tarefa":{"ai_tool":[[{"node":"Assistente do escritório interno","type":"ai_tool","index":0}]]},"Info":{"main":[[{"node":"Tipo de mensagem","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Assistente do escritório interno","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Assistente do escritório interno","type":"ai_languageModel","index":0}]]},"MCP Google Calendar":{"ai_tool":[[{"node":"Assistente do escritório interno","type":"ai_tool","index":0}]]},"Refletir":{"ai_tool":[[{"node":"Assistente do escritório interno","type":"ai_tool","index":0}]]},"Tipo de mensagem":{"main":[[{"node":"Download áudio","type":"main","index":0}],[{"node":"Set mensagem texto","type":"main","index":0}]]},"Transcrever áudio":{"main":[[{"node":"Set mensagem áudio","type":"main","index":0}]]},"Set mensagem texto":{"main":[[{"node":"Assistente do escritório interno","type":"main","index":0}]]},"Set mensagem áudio":{"main":[[{"node":"Assistente do escritório interno","type":"main","index":0}]]},"Enviar agendamento":{"ai_tool":[[{"node":"Assistente do escritório interno","type":"ai_tool","index":0}]]},"Download áudio":{"main":[[{"node":"Transcrever áudio","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5d54caa7-db10-4d66-b2d3-6e1a62cbda11","triggerCount":1,"tags":[]}
