workflows/1_-_Chatbot_4_Escalar_humano_Guess.json
{"createdAt":"2025-05-28T01:29:01.738Z","updatedAt":"2025-07-17T13:34:11.934Z","id":"OCj5ZmqmDrBqen8Y","name":"1 - Chatbot 4. Escalar humano Guess","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telefone"},{"name":"nome"},{"name":"ultima_mensagem"},{"name":"id_conta"},{"name":"id_conversa"},{"name":"telegram_chat_id"},{"name":"url_chatwoot"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[280,660],"id":"5462265c-35ef-43d5-a670-7a9e874779fc","name":"When Executed by Another Workflow"},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').item.json.telegram_chat_id }}","text":"=Assistente desabilitado para o usuário {{ $('When Executed by Another Workflow').item.json.nome || '(usuário não cadastrado)' }} ({{ $('When Executed by Another Workflow').item.json.telefone }}).\n\nÚltima mensagem:\n\n---\n\n{{ $('When Executed by Another Workflow').item.json.ultima_mensagem }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1060,660],"id":"91076b70-9846-4a48-8d83-068d123c1a9b","name":"Enviar alerta","webhookId":"388cbcc0-29e3-499e-8ba5-e485e852b75c","credentials":{"telegramApi":{"id":"HuA2rNZ8IBOumBkP","name":"Telegram account Wanderson"}}},{"parameters":{"method":"POST","url":"={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.id_conta }}/conversations/{{ $('When Executed by Another Workflow').item.json.id_conversa }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"labels","value":"={{ $json.payload.append('agente-off').unique() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,660],"id":"514b916c-e0ae-4b7c-90e5-12768118da99","name":"Colocar etiqueta agente-off","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.alcateia.site/api/v1/accounts/{{ $json.account_id }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"color\": \"#6233D0\",\n  \"description\": \"Agente IA não responderá esse contato.\",\n  \"title\": \"agente-off\",\n  \"show_on_sidebar\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,1020],"id":"0c6124fb-d54a-451e-8369-a781280d7dd8","name":"Criar etiqueta agente-off","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"content":"## Criar etiqueta\n\nVocê pode criar a etiqueta \"agente-off\" por aqui, ou pela interface do Chatwoot.\n\n\n\n\n\n\n\n\n\n\n\n\n\n","height":340,"width":1040,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[220,900],"id":"a32478e0-db75-45f6-b97b-988ff5d5fce6","name":"Sticky Note"},{"parameters":{"url":"={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.id_conta }}/conversations/{{ $('When Executed by Another Workflow').item.json.id_conversa }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,660],"id":"c5db9ea4-adac-4517-b38f-9410d00c2b0c","name":"Listar etiquetas da conversa","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"resource":"Profile","operation":"Fetch Profile","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[560,1020],"id":"7ed9ed24-aa0e-45af-afbf-632263a963ae","name":"Buscar informações da conta","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[280,1020],"id":"79a9d961-de37-4654-9059-e418573bf1d3","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## 4. Escalar humano","height":80,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,520],"id":"bccb63ef-4982-4a43-94a3-ad1ec9ec27f0","name":"Sticky Note30"},{"parameters":{"method":"POST","url":"=https://chatwoot.alcateia.site/api/v1/accounts/{{ $json.account_id }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"color\": \"#A44C74\",\n  \"title\": \"testando-agente\",\n  \"show_on_sidebar\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,1020],"id":"eda0d31c-c889-4c3a-b3aa-c0208ad067d1","name":"Criar etiqueta testando-agente","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Listar etiquetas da conversa","type":"main","index":0}]]},"Colocar etiqueta agente-off":{"main":[[{"node":"Enviar alerta","type":"main","index":0}]]},"Criar etiqueta agente-off":{"main":[[{"node":"Criar etiqueta testando-agente","type":"main","index":0}]]},"Listar etiquetas da conversa":{"main":[[{"node":"Colocar etiqueta agente-off","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8d8c6ee5-52e7-4834-9657-d216b00df10a","triggerCount":0,"tags":[]}
