workflows/1_-_Chatbot_3_Baixar_e_enviar_arquivo_do_Google_Drive_Guess.json
{"createdAt":"2025-05-28T01:28:53.391Z","updatedAt":"2025-07-17T13:34:06.651Z","id":"8iyUgBQoSaSzE0LV","name":"1 - Chatbot 3. Baixar e enviar arquivo do Google Drive Guess","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"file_id"},{"name":"id_conta"},{"name":"id_conversa"},{"name":"url_chatwoot"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[60,680],"id":"1a52efe8-182d-4fc9-b06c-7b0f28489f87","name":"When Executed by Another Workflow"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[280,680],"id":"8219f603-cf03-4e94-b572-3467eef5166f","name":"Baixar arquivo","credentials":{"googleDriveOAuth2Api":{"id":"kh2A3MRfkpNJ1Z65","name":"Google Drive account Wanderson"}}},{"parameters":{"assignments":{"assignments":[{"id":"71dda3d7-4505-4d03-b70f-63f5c005c0c3","name":"status","value":"={{ $json.status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,680],"id":"5788bbe0-a5f1-4b68-93b5-461865b62c14","name":"Output"},{"parameters":{"method":"POST","url":"={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.id_conta }}/conversations/{{ $('When Executed by Another Workflow').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,680],"id":"aa9ac79f-c7b5-427e-86a4-36b810cd4951","name":"Enviar arquivo","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"content":"## 3. Baixar e enviar arquivo do Google Drive","height":80,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,540],"id":"09b2835b-4fd1-401d-ad48-fc6215ae0d98","name":"Sticky Note30"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Baixar arquivo","type":"main","index":0}]]},"Baixar arquivo":{"main":[[{"node":"Enviar arquivo","type":"main","index":0}]]},"Enviar arquivo":{"main":[[{"node":"Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"53b40cf1-12ed-4e53-877a-4c69fc76fa8e","triggerCount":0,"tags":[]}
