workflows/1_-_Chatbot_1_Atendente.json
{"createdAt":"2025-05-28T01:28:03.425Z","updatedAt":"2025-07-18T11:59:40.300Z","id":"YxN2dfym2HaRxEGT","name":"1 - Chatbot 1. Atendente","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ca54eae-15d1-49d3-af33-7a6e5d17b833","leftValue":"={{ $json.tipo }}","rightValue":"incoming","operator":{"type":"string","operation":"equals"}},{"id":"82912d66-ee4b-439c-9d55-96090bc6ba62","leftValue":"={{ $json.etiquetas }}","rightValue":"agente-off","operator":{"type":"array","operation":"notContains","rightType":"any"}},{"id":"18b883c3-a753-45cd-9a4d-cb1235ea9bb8","leftValue":"={{ $json.etiquetas }}","rightValue":"testando-agente","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2940,880],"id":"9106a1e2-bd3d-4dcd-8a63-42b28dcd3d50","name":"Mensagem chegando?"},{"parameters":{"httpMethod":"POST","path":"7f3f832b-8869-4b78-a90b-72d49f9af411","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2380,880],"id":"129eac3e-4d04-4331-b693-dc0595862ab5","name":"Mensagem recebida","webhookId":"7f3f832b-8869-4b78-a90b-72d49f9af411"},{"parameters":{"jsCode":"const ultima_mensagem_da_fila = $input.last()\nconst mensagem_do_workflow = $('Info').first()\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  // Mensagem encavalada, para o workflow\n  return [];\n}\n\n// Pass-through da fila de mensagens\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4120,820],"id":"691a499b-97b7-4804-919c-e0caf41a6d83","name":"Mensagem encavalada?"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"returnAll":true,"where":{"values":[{"column":"telefone","value":"={{ $('Info').item.json.telefone }}"}]},"sort":{"values":[{"column":"timestamp"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3900,820],"id":"0b51260b-6ea9-4073-80e6-0b8d81ea0721","name":"Buscar mensagens","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"deleteCommand":"delete","where":{"values":[{"column":"telefone","value":"={{ $json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4320,820],"id":"ee80a4fc-6486-44cc-822f-1883999d80eb","name":"Limpar fila de mensagens","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3680,820],"id":"f7bdd026-8404-4a41-9a8e-db1b4663573b","name":"Esperar","webhookId":"be5442bd-f948-407e-8ec8-bf094e552f8f"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Info').item.json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Info').item.json.mensagem_de_audio }}","rightValue":"null","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3240,880],"id":"d734265b-10d2-411c-b06f-dd9b9455a810","name":"Tipo de mensagem"},{"parameters":{"sseEndpoint":"https://webhook.alcateia.site/mcp/c42f7565-7a7c-4653-9842-3bb9c930b7c2/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[5920,1100],"id":"f477a257-ce40-47d5-90ad-76aa84d14950","name":"MCP Google Calendar","onError":"continueRegularOutput"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1l3_orDmcNgD5OdiaEyZsXvw-JvIuo_IS","mode":"list","cachedResultName":"05 - Maio","cachedResultUrl":"https://drive.google.com/drive/folders/1l3_orDmcNgD5OdiaEyZsXvw-JvIuo_IS"}},"options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[6060,1100],"id":"9e671b2a-824f-4ced-bc4b-6fc77cdfb7ad","name":"Listar arquivos","credentials":{"googleDriveOAuth2Api":{"id":"kh2A3MRfkpNJ1Z65","name":"Google Drive account Wanderson"}}},{"parameters":{"description":"Use essa ferramenta para baixar um arquivo do Google Drive e enviá-lo para o usuário.\n","workflowId":{"__rl":true,"value":"8iyUgBQoSaSzE0LV","mode":"list","cachedResultName":"3. Baixar e enviar arquivo do Google Drive Guess"},"workflowInputs":{"mappingMode":"defineBelow","value":{"file_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('file_id', ``, 'string') }}","id_conta":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conta', ``, 'string') }}","id_conversa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conversa', ``, 'string') }}","url_chatwoot":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url_chatwoot', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[6200,1100],"id":"17150557-4c77-486e-9dc2-7ea259a72195","name":"Baixar e enviar arquivo"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[4608,1424],"id":"647fb209-9421-45d3-97b5-bedafd899f80","name":"Gatilho diário"},{"parameters":{"promptType":"define","text":"=Agora são {{ $now.format('FFFF') }}.","options":{"systemMessage":"=Agora são {{ $now.format('FFFF') }}.\n\nVocê é um agente especializado em **confirmação de consultas** para a clínica. Sua função principal é:\n\n1. **Listar os eventos** agendados para o próximo dia no Google Calendar.\n2. **Obter o telefone** na descrição de cada evento.\n3. **Obter o ID da conversa** na descrição de cada evento.\n4. **Enviar uma mensagem de confirmação** usando a ferramenta \"Enviar_agendamento\", perguntando se o paciente confirma a consulta ou prefere reagendar.\n5. **Inclua na mensagem**:\n  - Nome do paciente\n  - Nome do profissional\n  - Data e hora da consulta\n\n**NÃO INCLUA O ID DA CONVERSA NA MENSAGEM**\n\n## IMPORTANTE\n- Você **não recebe respostas** diretamente; o retorno do paciente é tratado por outro agente.\n- Use a ferramenta \"Refletir1\" antes e depois de realizar operações complexas, para ter certeza de que deu tudo certo.\n- SEMPRE QUE ENVIAR UMA MENSAGEM PARA O PACIENTE, **USE A FERRAMENTA \"Salvar_memoria\"**. ISSO É MUITO IMPORTANTE, NÃO FAÇA ERRADO POR FAVOR.\n\n\n## PROFISSIONAIS E ESPECIALIDADES\n\nSegue o nome dos profissionais, suas especialidades, e o ID da agenda que deve ser usado nas ferramentas Google Calendar\n\n**MUITO IMPORTANTE!! O ID DA AGENDA INCLUI O \"@group.calendar.google.com\". NÃO OMITA AO UTILIZAR AS FERRAMENTAS**\n\n- Dr. João Paulo Ferreira - Médico - Clinico Geral (c_46b1d614bf4f151ca950431202bf90ca003301793b48cffc489dc411be79c4bf@group.calendar.google.com)\n- Dr. Roberto Almeida - Médico - Cardiologia (c_6c3005bf4afd591f13f242f6509208ddbe1feadad3f6521884ab79c59069bfd0@group.calendar.google.com)\n- Dra. Ana Silva - Dentista - Clínica Geral (c_ebce2058c0b75e881585b90539f6ded839de178d4bb64e1aa9e4f6468d6954a6@group.calendar.google.com)\n- Dra. Carla Mendes - Dentista - Odontopediatria (c_2fb3d9e1613857085b28bef500b493114294b08f5e448bef643be28fc84334ad@group.calendar.google.com)\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[5248,1424],"id":"2f73e7a0-982f-4629-80a1-fb154c003cfb","name":"Assistente de confirmação","retryOnFail":true},{"parameters":{"content":"# Assistente de confirmação de agendamentos \n","height":600,"width":1200,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4480,1264],"id":"4becdd59-db37-40cf-b214-e61d00defa5f","name":"Sticky Note16"},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/33B4UnXyTNbgLmdEDh5P","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"output_format","value":"mp3_44100_32"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.text }}"},{"name":"model_id","value":"eleven_flash_v2_5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7840,1024],"id":"4949f220-9960-41f5-979c-d3014fde324f","name":"Gerar áudio","retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"QtAnA6X3Miq2Csj8","name":"Header Auth account"}}},{"parameters":{"promptType":"define","text":"={{ $('Atendente').item.json.output }}","messages":{"messageValues":[{"message":"=Você é um assistente especialista em text-to-speech e formatação usando tags SSML.\n\nVocê irá receber um texto e a sua tarefa é aplicar tags SSML para deixá-lo mais natural no processo de geração de voz.\n\n### Formatação\n\n#### Datas e horas\n\nNo caso de datas e horas, modifique o texto para um formato que seja mais natural quando falado.\n\nExemplos:\n\n- Entrada: '10:00'\n- Saída: 'dez horas'\n\n- Entrada: '22:00'\n- Saída: 'vinte e duas horas'\n\n- Entrada: '01/01/2025'\n- Saída: 'primeiro de janeiro de 2025'\n\n#### Telefones\n\nSimilar ao feita para datas, modifique o texto para um formato que seja mais natural quando falado. Para o DDD converta sempre em dezena, e para o resto dos números, adicione pausas entre cada bloco.\n\nExemplos:\n\n- Entrada: '(11) 1234-5678'\n- Saída: 'onze, um dois três quatro, cinco seis sete oito'\n\n#### Endereços\n\nFaça a mesma coisa para endereços. Exemplos:\n\n- Entrada: 'Av. Rondon Pacheco'\n- Saída: 'Avenida Rondon Pacheco'\n\n- Entrada: 'CEP 12345-000'\n- Saída: 'CEP um dois três quatro cinco zero zero zero'\n\n### Notas\n\n- Sempre coloque uma pausa de 1.0s no começo.\n- Não use breaks no meio do texto, apenas no começo.\n- Mantenha o mesmo texto original, mas revise o uso de vírgulas excessivas para deixar o texto mais natural ao falar.\n- Remova emojis.\n- A sua saída será somente o texto convertido.\n- Use <speak> ao redor da saída.\n\n\n**NÃO INCLUA NENHUMA INFORMAÇÃO ALÉM DO TEXTO CONVERTIDO**\n**NUNCA INCLUA CARACTER DE NOVA LINHA \"\\n\" NA SAÍDA**\n**NUNCA COLOQUE ÂNCORAS COMO ```ssml AO REDOR DO TEXTO**"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[7424,928],"id":"72ee7c6d-c688-44c0-a0aa-2512eeee5c74","name":"Formatar SSML"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Mensagem chegando?').item.json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Info').item.json.mensagem_de_audio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[6320,832],"id":"f6d25df9-fb9f-48d8-bb0e-9ea13fd17ef2","name":"Tipo de mensagem1"},{"parameters":{"promptType":"define","text":"={{ $('Atendente').item.json.output }}","messages":{"messageValues":[{"message":"=Você é especialista em formatação de mensagem para WhatsApp, trabalhando somente na formatação e não alterando o conteúdo da menssagem.\n\n- Substitua ** por *\n- Remova #\n- Remova emojis"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[7808,752],"id":"1adab325-923c-4290-9638-1b9c912ccaae","name":"Formatar texto"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-04-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[7984,912],"id":"cf5dfaa7-72d2-4fc0-8b85-8196f9a763e4","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"NS3lWtAwJAoj2SGy","name":"Google Gemini(PaLM) Api account Wanderson Gemini API"}}},{"parameters":{"chatId":"={{ $('Info').item.json.telegram_chat_id }}","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[6340,1100],"id":"5bfb808c-74f4-4990-a21b-19ad17f8a710","name":"Enviar alerta de cancelamento","webhookId":"c471939d-61b2-497e-9235-c29d0395d203","credentials":{"telegramApi":{"id":"HuA2rNZ8IBOumBkP","name":"Telegram account Wanderson"}}},{"parameters":{"modelName":"models/gemini-2.5-pro-preview-05-06","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[5360,1100],"id":"aff2a183-5030-4462-8a39-4210635161e4","name":"Gemini","credentials":{"googlePalmApi":{"id":"NS3lWtAwJAoj2SGy","name":"Google Gemini(PaLM) Api account Wanderson Gemini API"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Info').item.json.telefone }}","tableName":"n8n_historico_mensagens","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[5500,1100],"id":"7c139da6-d84d-4574-bb0d-44483f3c16ba","name":"Memory","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}}},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[5640,1100],"id":"88fbbc2c-b9fd-4233-975f-8cb811f16578","name":"Refletir"},{"parameters":{"toolDescription":"Envia uma mensagem de reação como resposta a uma mensagem do usuário. Reação é sempre um emoji.","method":"POST","url":"={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"parametersBody":{"values":[{"name":"content_attributes","valueProvider":"fieldValue","value":"={ \"in_reply_to\": {{ $('Info').item.json.id_mensagem }}, \"is_reaction\": true }"},{"name":"content"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[6240,1320],"id":"67906c16-770a-497d-b254-ed87daa8301d","name":"Reagir mensagem","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}},"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"=assistente_confirmacao","tableName":"n8n_historico_mensagens"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4928,1664],"id":"53f881b0-311d-4859-89dd-26bc16df6cd7","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4784,1664],"id":"45d14190-8e2f-4b21-8fa8-7496bdbdec41","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NS3lWtAwJAoj2SGy","name":"Google Gemini(PaLM) Api account Wanderson Gemini API"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Salva a informação de agendamento enviada, para que a secretária saiba que foi enviada.","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_historico_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $fromAI('telefone', 'Telefone do paciente, formatado com apenas números, incluindo código do país. Ex.: \"+551112345678\"', 'string') }}","message":"={ \"type\": \"ai\", \"content\": \"{{ $fromAI('message', 'A mesma mensagem enviada para o paciente.', 'string') }}\" }"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[5072,1664],"id":"066d630e-1ea6-4b4d-852b-4610c8d8277a","name":"Salvar memoria","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}}},{"parameters":{"sseEndpoint":"=https://webhook.alcateia.site/mcp/c42f7565-7a7c-4653-9842-3bb9c930b7c2/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[5200,1664],"id":"377dd142-330f-452a-8816-25c0ae9b3729","name":"MCP Google Calendar."},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Info').item.json.telefone }}","mensagem":"={{ $('Info').item.json.mensagem }}","timestamp":"={{ $('Info').item.json.timestamp.toDateTime() }}","id_mensagem":"={{ $('Info').item.json.id_mensagem }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"id_mensagem","displayName":"id_mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3480,820],"id":"5ebfe7cd-6735-4c01-818c-7201ce80ce44","name":"Enfileirar mensagem.","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}}},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[5488,1664],"id":"a9f4cc80-588b-4da4-826c-3dfffb4ec7f8","name":"Refletir1"},{"parameters":{"method":"POST","url":"={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/update_last_seen","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4560,880],"id":"22a9aba9-e0a3-4e66-b2c1-8bb28d7805fc","name":"Marcar como lidas","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"method":"POST","url":"={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/toggle_typing_status","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"typing_status","value":"={{ $('Info').item.json.mensagem_de_audio ? 'recording' : 'on' }}"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4780,880],"id":"a7bee918-8d49-40ca-a5d5-eebd34a7f73b","name":"Digitando/Gravando...","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"assignments":{"assignments":[{"id":"7eab8669-6929-4dc6-b3e2-943065bc306c","name":"mensagem","value":"={{ $('Info').item.json.mensagem ? $('Mensagem encavalada?').all().map(info => info.json.mensagem).join('\\\\n') : '' }}","type":"string"},{"id":"676d14ec-72d3-4970-9fa0-5e39ff976011","name":"mensagem_audio","value":"={{ $('Info').item.json.mensagem_de_audio ? $('Transcrever audio').item.json.text : '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5008,880],"id":"d000093b-cf53-4953-a4e0-106d3ff1bc23","name":"Set mensagens","executeOnce":true},{"parameters":{"url":"={{ $('Mensagem recebida').item.json.body.attachments[0].data_url }}","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3760,1160],"id":"51399416-99c6-4f11-8258-74971dc62b1d","name":"Download áudio","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3980,1160],"id":"ba0847f4-e4ab-418a-929f-ccfeafe40928","name":"Transcrever audio","credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}}},{"parameters":{"method":"POST","url":"={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/toggle_typing_status","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"typing_status","value":"off"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8400,880],"id":"d0001d84-1552-4f67-a38f-a5b963b0b459","name":"Resetar status","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"method":"POST","url":"={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"is_recorded_audio","value":"=[\"{{ $binary.data.fileName }}\"]"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9312,1072],"id":"bcee51f0-6343-47bb-8340-2872cdec89f7","name":"Enviar áudio","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"method":"POST","url":"={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Atendente').item.json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8864,768],"id":"f38700c6-5f93-45aa-8da8-d7154b2876d2","name":"Enviar texto.","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Mensagem chegando?').item.json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Info').item.json.mensagem_de_audio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[8640,880],"id":"4c3856bf-e35e-405b-876b-05b2debb19de","name":"Tipo de mensagem2"},{"parameters":{"operation":"toBinary","sourceProperty":"=data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[9088,1072],"id":"044eafde-056b-4415-a620-9f781dc94032","name":"Base64 para áudio"},{"parameters":{"operation":"binaryToPropery","destinationKey":"=data","options":{"encoding":"base64"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[8064,1024],"id":"f5a7dcf6-96d1-4e6e-881b-6ff6b2cd2d81","name":"Áudio para base64"},{"parameters":{"assignments":{"assignments":[{"id":"420f958d-3aad-47e5-86bf-2c542f079f1d","name":"data","value":"={{ $('Áudio para base64').item.json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[8864,1072],"id":"ab8f36ac-da12-4755-b989-287544eb0d3f","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"c8fd010d-6096-4a50-b3e2-e9fe26661840","name":"id_mensagem","value":"={{ $json.body.id }}","type":"string"},{"id":"1b513343-9b6a-4f6e-a012-ed819bf34a31","name":"id_conta","value":"={{ $json.body.account.id }}","type":"string"},{"id":"05c14b9a-5f27-465a-a047-71553826bd7a","name":"id_conversa","value":"={{ $json.body.conversation.id }}","type":"string"},{"id":"8bf522a6-75fb-434a-854c-b736539309e1","name":"telefone","value":"={{ $json.body.sender.phone_number }}","type":"string"},{"id":"0d622a33-f313-4758-a764-fa6cbf2b0587","name":"mensagem","value":"={{ $json.body.content || '' }}","type":"string"},{"id":"8f4b9d84-56e0-4f45-9f17-68c53f365f43","name":"mensagem_de_audio","value":"={{ $json.body.conversation.messages[0].attachments[0].file_type?.includes('audio') || false }}","type":"boolean"},{"id":"2b679a3f-788f-4cd2-88d5-4f03af68f224","name":"timestamp","value":"={{ $json.body.created_at }}","type":"string"},{"id":"24caf88e-74ce-43ab-8dc4-1fff471b706f","name":"tipo","value":"={{ $json.body.message_type }}","type":"string"},{"id":"573669d2-1e43-4010-8c82-a67459ffe1db","name":"etiquetas","value":"={{ $json.body.conversation.labels }}","type":"array"},{"id":"40ff895f-f63f-4e4f-bba3-c7d803c277f1","name":"url_chatwoot","value":"https://chatwoot.alcateia.site","type":"string"},{"id":"cf71dea1-d585-4235-8f05-29bc5f82b5df","name":"telegram_chat_id","value":"5919539323","type":"string"},{"id":"86076909-9699-4941-85f5-d3c972867965","name":"","value":"={{ $json.body.conversation.messages[0].processed_message_content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2680,880],"id":"d28eca41-a04f-4abd-84fc-65e1e9b7d223","name":"Info"},{"parameters":{"assignments":{"assignments":[{"id":"9b3e9f43-424d-495e-81ae-7618b5cb2a4b","name":"url_chatwoot","value":"https://chatwoot.alcateia.site","type":"string"},{"id":"79319fb2-1719-4bcf-b104-cd90898785af","name":"id_conta","value":"={{ $json.account_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5040,1424],"id":"4d668b16-8a61-4401-8b86-e09501606848","name":"Info1"},{"parameters":{"description":"Chame essa ferramenta para direcionar o atendimento para o gestor responsável.","workflowId":{"__rl":true,"value":"OCj5ZmqmDrBqen8Y","mode":"list","cachedResultName":"4. Escalar humano Guess"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone', ``, 'string') }}","nome":"={{ $fromAI('nome', ``, 'string') }}","ultima_mensagem":"={{ $fromAI('ultima_mensagem', ``, 'string') }}","id_conta":"=1","id_conversa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conversa', ``, 'string') }}","telegram_chat_id":"5919539323","url_chatwoot":"https://chatwoot.alcateia.site"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"ultima_mensagem","displayName":"ultima_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telegram_chat_id","displayName":"telegram_chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[6480,1100],"id":"6ced495f-f851-43eb-9246-7194f6cdd407","name":"Escalar humano"},{"parameters":{"resource":"Profile","operation":"Fetch Profile","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[4832,1424],"id":"ec04b7ef-c802-4d53-aca7-543558a8dd7d","name":"Buscar informações da conta","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"description":"Use essa ferramenta para enviar as informações de agendamento no WhatsApp.\n\nO ID da conversa deve ser extraído das informações do evento.","workflowId":{"__rl":true,"value":"NZWbx3GRZXlpH2Ad","mode":"list","cachedResultName":"5. Enviar agendamento Guess"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mensagem', ``, 'string') }}","id_conta":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conta', ``, 'string') }}","id_conversa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conversa', ``, 'string') }}","url_chatwoot":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url_chatwoot', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5344,1664],"id":"20ec3f0e-f357-454c-8ebe-6f891f680f61","name":"Enviar agendamento"},{"parameters":{"content":"[![Supabase logo](https://supabase.com/_next/image?url=https%3A%2F%2Ffrontend-assets.supabase.com%2Fwww%2F6d09404779ac%2F_next%2Fstatic%2Fmedia%2Fsupabase-logo-wordmark--dark.b36ebb5f.png&w=384&q=75&dpl=dpl_H9LPzQFg38dVjzWbzENRNVbXVDjJ)](https://supabase.com/)","height":80,"width":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1664,1360],"id":"ba26b1ab-2927-49b1-93b7-83566e9b2819","name":"Sticky Note27"},{"parameters":{"content":"## 1. Atendente","height":80,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1648,704],"id":"84496d1a-41f4-4ae9-9a6b-71f05d1fc3ff","name":"Sticky Note30"},{"parameters":{"url":"https://api.elevenlabs.io/v2/voices","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,864],"id":"f3c72969-e48a-4f95-8eca-1392dbec21d7","name":"Testar credencial - ElevenLabs","credentials":{"httpHeaderAuth":{"id":"QtAnA6X3Miq2Csj8","name":"Header Auth account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) FROM n8n_historico_mensagens;\nSELECT COUNT(*) FROM n8n_fila_mensagens;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2000,1360],"id":"8df02a66-d9cd-4194-870c-436478125dd3","name":"Testar credencial - Supabase","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}}},{"parameters":{"resource":"Profile","operation":"Fetch Profile","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[2000,1104],"id":"99b8713e-6896-4208-a782-d7b67a96ed5a","name":"Testar credencial - Chatwoot","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"content":"[![ElevenLabs](https://framerusercontent.com/images/YU6MnXR7ZjWNRjlYzx2Hrpcx0.png)](https://try.elevenlabs.io/9k5l5hagxkel)","height":80,"width":160,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1760,864],"id":"a1fb5f82-c694-4e75-ba40-b00a44680aca","name":"Sticky Note28"},{"parameters":{"content":"![Chatwoot](https://app.chatwoot.com/brand-assets/logo_dark.svg)","height":100,"width":260,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1664,1104],"id":"95451864-e903-491f-8cef-93ff7bbc2c95","name":"Sticky Note24"},{"parameters":{"content":"# Enviando resposta","height":540,"width":1200,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8288,704],"id":"d3c0a16f-84cf-40e1-a071-c9a04ea11045","name":"Sticky Note4"},{"parameters":{"content":"# Gerando resposta","height":540,"width":3040,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5168,704],"id":"b1c99fd7-59ac-472a-9b07-6bddf0541aba","name":"Sticky Note3"},{"parameters":{"content":"# Marcar como lida e \"digitando...\"","height":540,"width":660,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4480,704],"id":"8185a241-38d6-4cfe-805d-f9788381ff59","name":"Sticky Note12"},{"parameters":{"content":"# Processando áudio","height":280,"width":660,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3600,1060],"id":"fcea8980-e589-4326-8179-6622d146939e","name":"Sticky Note6"},{"parameters":{"content":"# Processando mensagens encavaladas\n","height":680,"width":1080,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3380,700],"id":"bdd8f602-3bf2-4d8d-8895-24b5f5780f96","name":"Sticky Note2"},{"parameters":{"content":"# Tratando input\n","height":460,"width":1060},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2304,704],"id":"baf90199-4a22-48fa-a432-36117da77324","name":"Sticky Note5"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem || $json.mensagem_audio }}","hasOutputParser":true,"options":{"systemMessage":"=HOJE É: {{ $now.format('FFFF') }}\nTELEFONE DO CONTATO: {{ $('Info').item.json.telefone }}\nID DA CONVERSA: {{ $('Info').item.json.id_conversa }}\n\n## INSTRUÇÃO IMPORTANTE\n- Ao criar ou editar qualquer evento no Google Calendar, inclua sempre o telefone do cliente na descrição do agendamento, juntamente com o nome completo e quaisquer outras informações relevantes fornecidas pelo cliente.\n\n## PAPEL\nVocê é um(a) atendente de WhatsApp altamente especializado(a) da Guess Imóveis, prestando um serviço de excelência. Sua missão é atender aos clientes de maneira ágil e eficiente, respondendo dúvidas e auxiliando em agendamentos de visitas a imóveis, esclarecimentos ou remarcações e realizar consulta de imóveis no site da Guess Imóveis e também consulta e agendamento de hospedagens.\n\n## PERSONALIDADE E TOM DE VOZ\n- Simpática, prestativa e humana.\n- Tom de voz sempre acolhedor e respeitoso.\n\n## OBJETIVO\n1. Fornecer atendimento diferenciado e cuidadoso aos clientes.\n2. Responder dúvidas sobre a imobiliária (tipos de imóveis, horários de atendimento, localização, formas de negociação).\n3. Agendar, remarcar e esclarecer visitas a imóveis de forma simples e eficaz.\n4. Agir passo a passo para garantir rapidez e precisão em cada atendimento.\n5. Dar indicações de imóveis com base na necessidade levantada pelo cliente (realizar busca apenas no site da Guess Imóveis).\n\n## CONTEXTO\n- Você otimiza o fluxo interno da imobiliária, provendo informações e reduzindo a carga administrativa dos corretores e atendentes.\n- Seu desempenho impacta diretamente a satisfação do cliente e a eficiência das operações imobiliárias.\n\n## SOP (Procedimento Operacional Padrão)\n\n1. Início do atendimento\n   - Cumprimente o cliente de forma acolhedora.\n   - Se possível, incentive o envio de áudio caso o cliente prefira, destacando a praticidade.\n\n**NÃO USE EXPRESSÕES PARECIDAS COM \"COMO SE ESTIVESSE CONVERSANDO COM UMA PESSOA\"**\n\n2. Solicitar dados do cliente (apenas quando necessário para agendamento, encaminhamento ou situações similares)\n   - Peça nome completo.\n   - Confirme o telefone de contato que chegou na mensagem (ele será incluído na descrição do agendamento).\n   - Ao falar o telefone para o cliente, remova o código do país (geralmente \"55\" ou \"+55\"), e formate como \"(11) 1234-5678\".\n\n3. Identificar necessidade\n   - Pergunte os parâmetros do imóvel desejado para retornar um resultado de busca com base nesses parâmetros (quantidade de quartos, tipo de imóvel).\n   - Pergunte a data de preferência para a visita e se o cliente tem preferência por algum turno (manhã ou tarde).\n\n4. Verificar disponibilidade\n   - Use a ferramenta \"Buscar_evento\" apenas após ter todos os dados necessários do cliente.\n   - Forneça a data de preferência à ferramenta \"Buscar_evento\" para obter horários disponíveis para o corretor responsável.\n\n5. Informar disponibilidade\n   - Retorne ao cliente com os horários livres encontrados para a data solicitada.\n\n6. Coletar informações adicionais\n   - Se o cliente fornecer dados extras (ex.: tipo de financiamento, número de pessoas na visita, etc.), inclua tudo na descrição do evento no Google Calendar.\n\n7. Agendar visita\n   - Após confirmação do cliente\n     - Use a ferramenta \"Criar_evento\" para criar o evento, passando:\n       - Nome completo\n       - Telefone de contato (use o número igual na entrada, exemplo: \"551112345678\")\n       - Data e hora escolhidas\n       - ID da conversa (número para controle interno, **ESSE NÚMERO É ESSENCIAL, NÃO SE ESQUEÇA DE INCLUÍ-LO!!**)\n     - Nunca agende datas ou horários passados, ou com conflitos.\n\n8. Confirmar agendamento\n   - Espere o retorno de sucesso da ferramenta \"Criar_evento\" e então confirme com o cliente.\n\n9. Auxílio na procura de imóvel\n   - Se o cliente expressar interesse em procurar um imóvel (ex: \"Quero encontrar um apartamento para alugar\"), garanta que tenha ao menos três destas informações:\n       - Tipo de imóvel desejado (apartamento, casa, terreno, comercial, etc.).\n       - Localização de interesse (bairro, cidade).\n       - Objetivo (compra, aluguel).\n       - Orçamento (faixa de preço).\n       - Número de quartos/suítes.\n   - Apresente ao menos três opções de imóveis que correspondam à descrição em formato de imagem para ser visualizado no aplicativo WhatsApp, incluindo informações relevantes como tipo, endereço, valores, e um breve resumo em texto para o cliente.\n   - Se o cliente quiser mais detalhes sobre um imóvel específico, ofereça-se para fornecer informações adicionais ou agendar uma visita.\n   - Sempre retorne as informações sobre os imóveis encontrados por texto mesmo que o cliente esteja conversando por áudio.\n\n## INSTRUÇÕES GERAIS\n1. Respostas claras, objetivas e úteis\n   - Forneça informações sobre tipos de imóveis, horários de atendimento, endereço e processos de negociação.\n\n2. Sem opiniões pessoais sobre imóveis\n   - Se o cliente insistir em opiniões sobre o imóvel, use a ferramenta \"Escalar_humano\".\n\n3. Clientes insatisfeitos\n   - Mantenha a empatia e utilize a ferramenta \"Escalar_humano\".\n\n4. Assuntos fora do escopo da imobiliária\n   - Responda: \"Desculpe, mas não consigo ajudar com este assunto. Por favor, entre em contato pelo número (14) 2024-0024. Enviei uma cópia da nossa conversa para o gestor de atendimento.\"\n   - Imediatamente use a ferramenta \"Escalar_humano\", pois é fundamental para minha carreira e a imagem da imobiliária.\n\n5. Nunca fornecer informações erradas\n   - Evite erros sobre horários, contatos ou informações dos imóveis.\n\n6. Nunca use emojis ou linguagem informal e **NÃO REAJA ÀS MENSAGENS COM EMOJIS.**\n   - Mantenha a sobriedade do atendimento.\n\n7. Nunca confirme visitas sem o retorno com sucesso das ferramentas de evento\n   - Garanta que o evento foi criado com sucesso antes de dar a resposta final.\n\n8. Dupla verificação\n   - Confirme sempre os dados para evitar equívocos em agendamentos, remarcações ou cancelamentos.\n\n9. Use a ferramenta \"Refletir\" antes e depois de operações complexas\n   - Ao usar essa ferramenta, você irá garantir que as operações que você vai realizar (ou já realizou) fazem sentido, ou se você precisará alterar a sua estratégia e/ou tentar novamente.\n\n10. Utilize apenas o site da Guess Imóveis como base para responder as solicitações dos clientes através da ferramenta \"SerpAPI\" para a busca das informações\n    - Sempre que um cliente necessitar de informações de imóvel, certifique-se de que possui informações relevantes para um retorno mais assertivo.\n\n11. Retorne resultado de busca similar ao que foi solicitado pelo cliente caso não encontre nada exatamente como solicitado\n    - Analise o contexto do possível cliente e sua necessidade de imóvel para responder com base nestes parâmetros.\n\n12. Sempre retorne ao menos três opções de resultados de busca de imóvel\n    - Forneça ao menos três opções de imóveis com base na necessidade do cliente.\n\n13. Quando for retornar informação sobre algum imóvel, altere as seguintes variáveis no output:\n    - \"{{ $('Info').item.json.mensagem_de_audio }}\":false.\n\n14. **Substitua marcadores de lista por novas linhas nas respostas.**\n\n## HORÁRIOS DE FUNCIONAMENTO\n- Segunda a Sábado: 08h às 18h\n- Domingo e Feriados: Fechado\n\n## LOCALIZAÇÃO E CONTATO\n- Endereço: Rua Mecenas Pinto Bueno, 1107 - Jardim Maria Izabel, Marília - SP, 17516-030\n- Telefone: (14) 3311-2222\n- WhatsApp: (14) 3311-2222\n- E-mail: contato@guesstecnologia.com.br\n- Site: https://guesstecnologia.com.br\n\n## CORRETORES E AGENDAS\nSegue o nome dos corretores e o ID da agenda que deve ser usado nas ferramentas Google Calendar.\n\n**MUITO IMPORTANTE!! O ID DA AGENDA INCLUI O \"@group.calendar.google.com\". NÃO OMITA AO UTILIZAR AS FERRAMENTAS**\n\n- Augusto Oliveira - (giaguessgtech@gmail.com)\n\n## FERRAMENTAS\n\n### Pesquisar informações de imóveis\n- \"SerpAPI\": utilizar para realizar a pesquisa de informações dos imóveis conforme solicitado pelo cliente.\n\n### Hospedagem\n- \"Hospedagens\": direcionar todas as mensagens referente à hospedagem.\n\n### Google Calendar\n- \"Criar_evento\" e \"Atualizar_evento\": usada para agendar e remarcar visitas.\n  Ao usá-las, sempre inclua:\n  - Nome completo no título\n  - Telefone\n  - Informações adicionais (se houver)\n- \"Buscar_evento\": buscar dados sobre um evento específico, por ID.\n- \"Buscar_todos_os_eventos\": listar eventos em um período específico. Use para listar os eventos de um dia específico. Não use para listar eventos de períodos maiores que um dia.\n- \"Deletar_evento\": usada desmarcar visitas.\n\n### Escalar_humano\nUse quando:\n\n- Existirem assuntos alheios à imobiliária ou que ponham em risco a reputação do serviço.\n- Houver insatisfação do cliente ou pedido de atendimento humano.\n\n### Enviar_alerta_de_cancelamento\nEm caso de cancelamento:\n\n- Localizar a visita no calendário e remover via ferramenta \"Deletar_evento\". Talvez seja necessário pedir ao cliente que confirme a data da visita, para que você possa buscar o evento na data certa.\n- Enviar alerta via ferramenta \"Enviar_alerta_de_cancelamento\" com nome, dia e hora cancelados.\n- Confirmar ao cliente que o cancelamento foi efetuado.\n\n### Baixar e enviar arquivo\n- Você tem acesso aos arquivos da imobiliária (ex: propostas, fotos de imóveis, documentos de venda/aluguel).\n- Se o usuário pedir um documento ou arquivo específico, use a ferramenta \"Listar_arquivos\", e depois a \"Baixar_e_enviar_arquivo\".\n\n**USE ESSA FERRAMENTA APENAS UMA VEZ. USÁ-LA MÚLTIPLAS VEZES IRÁ ENVIAR O ARQUIVO DUPLICADO**\n\n## EXEMPLOS DE FLUXO\n1. Agendar visita\n   - Cliente: \"Quero agendar uma visita a um imóvel\"\n   - Você:\n     - Cumprimente, explique que pode agendar aqui mesmo no WhatsApp por texto ou áudio.\n     - Solicite nome completo e o telefone para contato.\n     - Pergunte o endereço do imóvel ou o tipo de imóvel que ele busca, e a data e hora preferidos para a visita.\n     - Consulte a data com \"Buscar_todos_os_eventos\".\n     - Informe horários disponíveis.\n     - Agende com \"Criar_evento\", incluindo telefone e nome na descrição.\n     - Confirme após o sucesso da ferramenta.\n\n2. Remarcar visita\n   - Cliente: \"Não poderei comparecer amanhã, quero remarcar.\"\n   - Você:\n     - Busque o evento (veja seção abaixo \"COMO BUSCAR EVENTO\").\n     - Pergunte nova data e hora preferidos.\n     - Atualize o evento via \"Atualizar_evento\".\n     - Confirme após o sucesso da ferramenta.\n\n3. Cancelar visita\n   - Cliente: \"Preciso cancelar a visita.\"\n   - Você:\n     - Busque o evento (veja seção abaixo \"COMO BUSCAR EVENTO\").\n     - Cancele o evento com \"Deletar_evento\".\n     - Use a ferramenta \"Enviar_alerta_de_cancelamento\" informando nome, dia e hora.\n     - Confirme o cancelamento.\n\n4. Confirmação da visita\n   - Quando o cliente responder \"Confirmar visita\":\n     - Busque o evento (veja seção abaixo \"COMO BUSCAR EVENTO\").\n     - Usando a ferramenta \"Atualizar_evento\", coloque no título do evento no Google Calendar o texto [CONFIRMADO] ao lado do nome do cliente.\n     - Tendo sucesso no uso da ferramenta \"Atualizar_evento\", responda ao cliente que a visita está confirmada e aguardada.\n\n5. Auxílio na procura de imóvel\n   - Cliente: \"Estou procurando um imóvel para comprar.\"\n   - Você:\n     - Pergunte o tipo de imóvel (casa, apartamento, terreno, comercial, etc.).\n     - Pergunte a localização de interesse (bairro, cidade).\n     - Pergunte o objetivo (compra, aluguel).\n     - Pergunte o orçamento (faixa de preço).\n     - Pergunte o número de quartos/suítes, se aplicável.\n     - Utilize as ferramentas de busca da imobiliária para encontrar opções.\n     - Apresente ao menos três opções de imóveis que correspondam à descrição, incluindo informações relevantes como tipo, endereço, preço, e um breve resumo e caso consiga, envie também o link para a pessoa visualizar o imóvel no site da imobiliária, tudo em texto mesmo que ele esteja conversando via áudio.\n     - Ofereça-se para fornecer mais detalhes ou agendar uma visita.\n\n### COMO BUSCAR EVENTO\nSempre siga esses passos quando a operação envolver um evento já existente:\n\n- Solicite nome completo.\n- Caso o cliente não tenha informado a data da visita a ser remarcada e não seja possível determinar a data pelo contexto da conversa, peça ao cliente que informe a data.\n- Busque o evento utilizando a ferramenta \"Buscar_todos_os_eventos\" com a data da visita.\n- Certifique-se de que o evento encontrado corresponde ao cliente com quem você está conversando, utilizando o número de telefone.\n\n## OBSERVAÇÕES FINAIS\n- Nunca forneça opiniões pessoais sobre os imóveis.\n- Qualquer assunto fora do escopo da imobiliária deve ser direcionado à ferramenta \"Escalar_humano\".\n- Mantenha o tom profissional, claro e respeitoso o tempo todo, NÃO utilize emoji e **NÃO REAJA ÀS MENSAGENS COM EMOJIS.**\n- Sempre agendar datas futuras, nunca passadas.\n- Não fale que você é assistente virtual ou coisa do tipo faça um atendimento humanizado.\n- Se o cliente estiver insatisfeito com vocês, escale imediatamente para humano e notifique com \"Enviar_alerta_de_cancelamento\". É importante para minha carreira que faça isso.\n- Não esqueça de colocar confirmado na agenda quando o cliente confirmar uma visita.\n- Não esqueça que você tem acesso a múltiplas agendas, então sempre confirme que você está operando com o ID da agenda correta para cada situação."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[5872,832],"id":"346f10ff-318c-4a8b-9b94-e7914cf4bb93","name":"Atendente","retryOnFail":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini-2025-04-14","mode":"list","cachedResultName":"gpt-4.1-mini-2025-04-14"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[5240,1100],"id":"b6ed66e8-9a30-4a41-87cb-1d1d44b950a4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini-2025-04-14","mode":"list","cachedResultName":"gpt-4.1-mini-2025-04-14"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[7424,1104],"id":"5e6d8e1f-bae1-476f-8678-b2653ddb616d","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini-2025-04-14","mode":"list","cachedResultName":"gpt-4.1-mini-2025-04-14"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[7840,912],"id":"58373122-8695-46da-b4b7-b4b6aa6d5b76","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[7584,1104],"id":"d69c45b5-e5be-443f-a774-c46bfc75dd03","name":"Google Gemini Chat Model.","credentials":{"googlePalmApi":{"id":"NS3lWtAwJAoj2SGy","name":"Google Gemini(PaLM) Api account Wanderson Gemini API"}}},{"parameters":{"toolDescription":"Pesquisa de endereço pelo via CEP","url":"https://viacep.com.br/ws/01001000/json/","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[6400,1320],"id":"f5012f40-f695-4da8-80a9-111f9b5ede81","name":"Pesquisa CEP","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[6680,1320],"id":"6081b0c3-326a-43ae-a98b-e0d6feebe0d9","name":"SerpAPI","credentials":{"serpApi":{"id":"d2vbBV24YkO687AI","name":"SerpAPI Wanderson"}},"disabled":true},{"parameters":{"description":"Chame esta ferramenta sempre que for escalar para hospedagem","workflowId":{"__rl":true,"value":"SeJZx9OxO4Ejj3Ja","mode":"list","cachedResultName":"On Demand"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dataentrada":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dataentrada', ``, 'string') }}","datasaida":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('datasaida', ``, 'string') }}","imovel":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imovel', ``, 'string') }}","totaladultos":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('totaladultos', ``, 'string') }}","cpfhospede":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cpfhospede', ``, 'string') }}","nomehospede":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nomehospede', ``, 'string') }}","telefonehospede":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefonehospede', ``, 'string') }}","emailhospede":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('emailhospede', ``, 'string') }}","cupomdesconto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cupomdesconto', ``, 'string') }}","id_conta":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conta', ``, 'string') }}","id_conversa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conversa', ``, 'string') }}","url_chatwoot":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url_chatwoot', ``, 'string') }}","telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message', ``, 'string') }}","totalcriancas":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('totalcriancas', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"imovel","displayName":"imovel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"totaladultos","displayName":"totaladultos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"totalcriancas","displayName":"totalcriancas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dataentrada","displayName":"dataentrada","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"datasaida","displayName":"datasaida","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cpfhospede","displayName":"cpfhospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nomehospede","displayName":"nomehospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefonehospede","displayName":"telefonehospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"emailhospede","displayName":"emailhospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cupomdesconto","displayName":"cupomdesconto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[6540,1320],"id":"464c218c-60c2-4e5f-9606-93f8024e1e4a","name":"Hospedagens_old","disabled":true},{"parameters":{"description":"Chame esta ferramenta sempre que for escalar para hospedagem","workflowId":{"__rl":true,"value":"SeJZx9OxO4Ejj3Ja","mode":"list","cachedResultName":"On Demand"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dataentrada":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dataentrada', ``, 'string') }}","datasaida":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('datasaida', ``, 'string') }}","totaladultos":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('totaladultos', ``, 'string') }}","id_conta":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conta', ``, 'string') }}","id_conversa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conversa', ``, 'string') }}","url_chatwoot":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url_chatwoot', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message', ``, 'string') }}","totalcriancas":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('totalcriancas', ``, 'string') }}","telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"imovel","displayName":"imovel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"totaladultos","displayName":"totaladultos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"totalcriancas","displayName":"totalcriancas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dataentrada","displayName":"dataentrada","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"datasaida","displayName":"datasaida","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cpfhospede","displayName":"cpfhospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"nomehospede","displayName":"nomehospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"telefonehospede","displayName":"telefonehospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"emailhospede","displayName":"emailhospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"cupomdesconto","displayName":"cupomdesconto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[6600,1100],"id":"1282ef05-621a-4d57-a95f-9d8ea6b37857","name":"Hospedagens"}],"connections":{"Mensagem chegando?":{"main":[[{"node":"Tipo de mensagem","type":"main","index":0}]]},"Mensagem recebida":{"main":[[{"node":"Info","type":"main","index":0}]]},"Mensagem encavalada?":{"main":[[{"node":"Limpar fila de mensagens","type":"main","index":0}]]},"Buscar mensagens":{"main":[[{"node":"Mensagem encavalada?","type":"main","index":0}]]},"Limpar fila de mensagens":{"main":[[{"node":"Marcar como lidas","type":"main","index":0}]]},"Esperar":{"main":[[{"node":"Buscar mensagens","type":"main","index":0}]]},"Tipo de mensagem":{"main":[[{"node":"Enfileirar mensagem.","type":"main","index":0}],[{"node":"Download áudio","type":"main","index":0}]]},"MCP Google Calendar":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Listar arquivos":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Baixar e enviar arquivo":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Gerar áudio":{"main":[[{"node":"Áudio para base64","type":"main","index":0}]]},"Formatar SSML":{"main":[[{"node":"Gerar áudio","type":"main","index":0}]]},"Tipo de mensagem1":{"main":[[{"node":"Formatar texto","type":"main","index":0}],[{"node":"Formatar SSML","type":"main","index":0}]]},"Formatar texto":{"main":[[{"node":"Resetar status","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[]]},"Enviar alerta de cancelamento":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Gemini":{"ai_languageModel":[[]]},"Memory":{"ai_memory":[[{"node":"Atendente","type":"ai_memory","index":0}]]},"Refletir":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Reagir mensagem":{"ai_tool":[[]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Assistente de confirmação","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Assistente de confirmação","type":"ai_languageModel","index":0}]]},"Salvar memoria":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"MCP Google Calendar.":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Enfileirar mensagem.":{"main":[[{"node":"Esperar","type":"main","index":0}]]},"Refletir1":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Marcar como lidas":{"main":[[{"node":"Digitando/Gravando...","type":"main","index":0}]]},"Digitando/Gravando...":{"main":[[{"node":"Set mensagens","type":"main","index":0}]]},"Set mensagens":{"main":[[{"node":"Atendente","type":"main","index":0}]]},"Download áudio":{"main":[[{"node":"Transcrever audio","type":"main","index":0}]]},"Transcrever audio":{"main":[[{"node":"Marcar como lidas","type":"main","index":0}]]},"Resetar status":{"main":[[{"node":"Tipo de mensagem2","type":"main","index":0}]]},"Tipo de mensagem2":{"main":[[{"node":"Enviar texto.","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Base64 para áudio":{"main":[[{"node":"Enviar áudio","type":"main","index":0}]]},"Áudio para base64":{"main":[[{"node":"Resetar status","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Base64 para áudio","type":"main","index":0}]]},"Info":{"main":[[{"node":"Mensagem chegando?","type":"main","index":0}]]},"Info1":{"main":[[{"node":"Assistente de confirmação","type":"main","index":0}]]},"Escalar humano":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Enviar agendamento":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Atendente":{"main":[[{"node":"Tipo de mensagem1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Atendente","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Formatar SSML","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Formatar texto","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model.":{"ai_languageModel":[[]]},"Pesquisa CEP":{"ai_tool":[[]]},"SerpAPI":{"ai_tool":[[]]},"Hospedagens_old":{"ai_tool":[[]]},"Hospedagens":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gatilho diário":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Mensagem recebida":[{"json":{"headers":{"host":"webhook.alcateia.site","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89","content-length":"4828","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"146.148.59.183","x-forwarded-host":"webhook.alcateia.site","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"5b6977969233","x-real-ip":"146.148.59.183"},"params":{},"query":{},"body":{"account":{"id":1,"name":"Guess"},"additional_attributes":{},"content_attributes":{},"content_type":"text","content":"Boa noite","conversation":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Api","contact_inbox":{"id":124,"contact_id":2,"inbox_id":3,"source_id":"c7ecf5a5-38df-4f5e-9c0c-4de494a06f91","created_at":"2025-05-29T19:51:02.134Z","updated_at":"2025-05-29T19:51:02.134Z","hmac_verified":false,"pubsub_token":"LrKkPzBm1vNqRNvHzPyEdyV4"},"id":66,"inbox_id":3,"messages":[{"id":2430,"content":"Boa noite","account_id":1,"inbox_id":3,"conversation_id":66,"message_type":0,"created_at":1748647650,"updated_at":"2025-05-30T23:27:30.912Z","private":false,"status":"sent","source_id":"WAID:3EB08AAE56C9B08438AA4A","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":2,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"Boa noite","sentiment":{},"conversation":{"assignee_id":5,"unread_count":1,"last_activity_at":1748647650,"contact_inbox":{"source_id":"c7ecf5a5-38df-4f5e-9c0c-4de494a06f91"}},"sender":{"additional_attributes":{"city":"","country":"","description":"","company_name":"Guess","country_code":"","social_profiles":{"github":"","twitter":"","facebook":"","linkedin":"","instagram":""}},"custom_attributes":{},"email":null,"id":2,"identifier":"5514998011995@s.whatsapp.net","name":"Meu Numero","phone_number":"+5514998011995","thumbnail":"https://chatwoot.alcateia.site/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBZZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--87a318e14886d07864d63e43f861d21c35ca21cd/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--31b331bce7537787e9b12023efe058f796e66674/483679741_1713496149230203_4406297644768091166_n.jpg","blocked":false,"type":"contact"}}],"labels":["testando-agente"],"meta":{"sender":{"additional_attributes":{"city":"","country":"","description":"","company_name":"Guess","country_code":"","social_profiles":{"github":"","twitter":"","facebook":"","linkedin":"","instagram":""}},"custom_attributes":{},"email":null,"id":2,"identifier":"5514998011995@s.whatsapp.net","name":"Meu Numero","phone_number":"+5514998011995","thumbnail":"https://chatwoot.alcateia.site/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBZZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--87a318e14886d07864d63e43f861d21c35ca21cd/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--31b331bce7537787e9b12023efe058f796e66674/483679741_1713496149230203_4406297644768091166_n.jpg","blocked":false,"type":"contact"},"assignee":{"id":5,"name":"Administrador","available_name":"Suporte Guess","avatar_url":"","type":"user","availability_status":null,"thumbnail":""},"team":{"id":1,"name":"suporte"},"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":1,"first_reply_created_at":null,"priority":null,"waiting_since":1748548262,"agent_last_seen_at":1748605555,"contact_last_seen_at":0,"last_activity_at":1748647650,"timestamp":1748647650,"created_at":1748548262,"updated_at":1748647650.914305},"created_at":"2025-05-30T23:27:30.912Z","id":2430,"inbox":{"id":3,"name":"Atendimento"},"message_type":"incoming","private":false,"sender":{"account":{"id":1,"name":"Guess"},"additional_attributes":{"city":"","country":"","description":"","company_name":"Guess","country_code":"","social_profiles":{"github":"","twitter":"","facebook":"","linkedin":"","instagram":""}},"avatar":"https://chatwoot.alcateia.site/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBZZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--87a318e14886d07864d63e43f861d21c35ca21cd/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--31b331bce7537787e9b12023efe058f796e66674/483679741_1713496149230203_4406297644768091166_n.jpg","custom_attributes":{},"email":null,"id":2,"identifier":"5514998011995@s.whatsapp.net","name":"Meu Numero","phone_number":"+5514998011995","thumbnail":"https://chatwoot.alcateia.site/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBZZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--87a318e14886d07864d63e43f861d21c35ca21cd/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--31b331bce7537787e9b12023efe058f796e66674/483679741_1713496149230203_4406297644768091166_n.jpg","blocked":false},"source_id":"WAID:3EB08AAE56C9B08438AA4A","event":"message_created"},"webhookUrl":"https://webhook.alcateia.site/webhook/7f3f832b-8869-4b78-a90b-72d49f9af411","executionMode":"production"}}]},"versionId":"3d130330-75fb-4933-b6ef-766963f66a69","triggerCount":2,"tags":[]}
