workflows/2_-_Guess_Imveis_11_Assistente.json
{"createdAt":"2025-07-22T13:00:37.101Z","updatedAt":"2025-07-22T13:01:11.938Z","id":"6LS65jYYXJDMKwB4","name":"2 - Guess Imóveis 11. Assistente","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-340,-40],"id":"f1081efe-5479-4bde-ae87-64e025f1371d","name":"Gatilho diário"},{"parameters":{"promptType":"define","text":"=Agora são {{ $now.format('FFFF') }}.","options":{"systemMessage":"=Agora são {{ $now.format('FFFF') }}.\n\nVocê é um agente especializado em **confirmação de consultas** para a clínica. Sua função principal é:\n\n1. **Listar os eventos** agendados para o próximo dia no Google Calendar.\n2. **Obter o telefone** na descrição de cada evento.\n3. **Obter o ID da conversa** na descrição de cada evento.\n4. **Enviar uma mensagem de confirmação** usando a ferramenta \"Enviar_agendamento\", perguntando se o paciente confirma a consulta ou prefere reagendar.\n5. **Inclua na mensagem**:\n  - Nome do paciente\n  - Nome do profissional\n  - Data e hora da consulta\n\n**NÃO INCLUA O ID DA CONVERSA NA MENSAGEM**\n\n## IMPORTANTE\n- Você **não recebe respostas** diretamente; o retorno do paciente é tratado por outro agente.\n- Use a ferramenta \"Refletir1\" antes e depois de realizar operações complexas, para ter certeza de que deu tudo certo.\n- SEMPRE QUE ENVIAR UMA MENSAGEM PARA O PACIENTE, **USE A FERRAMENTA \"Salvar_memoria\"**. ISSO É MUITO IMPORTANTE, NÃO FAÇA ERRADO POR FAVOR.\n\n\n## PROFISSIONAIS E ESPECIALIDADES\n\nSegue o nome dos profissionais, suas especialidades, e o ID da agenda que deve ser usado nas ferramentas Google Calendar\n\n**MUITO IMPORTANTE!! O ID DA AGENDA INCLUI O \"@group.calendar.google.com\". NÃO OMITA AO UTILIZAR AS FERRAMENTAS**\n\n- Dr. João Paulo Ferreira - Médico - Clinico Geral (c_46b1d614bf4f151ca950431202bf90ca003301793b48cffc489dc411be79c4bf@group.calendar.google.com)\n- Dr. Roberto Almeida - Médico - Cardiologia (c_6c3005bf4afd591f13f242f6509208ddbe1feadad3f6521884ab79c59069bfd0@group.calendar.google.com)\n- Dra. Ana Silva - Dentista - Clínica Geral (c_ebce2058c0b75e881585b90539f6ded839de178d4bb64e1aa9e4f6468d6954a6@group.calendar.google.com)\n- Dra. Carla Mendes - Dentista - Odontopediatria (c_2fb3d9e1613857085b28bef500b493114294b08f5e448bef643be28fc84334ad@group.calendar.google.com)\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[320,-40],"id":"630f3530-2b79-4c5e-99d7-9486b06f083b","name":"Assistente de confirmação","retryOnFail":true},{"parameters":{"content":"# Assistente de confirmação de agendamentos \n","height":620,"width":1200,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-460,-220],"id":"86ed2b9e-9088-41b6-83d7-6db3d5f233f6","name":"Sticky Note16"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=assistente_confirmacao","tableName":"n8n_historico_mensagens"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-40,200],"id":"a45f0f94-9d12-423b-9fca-0f62e7288f97","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-200,200],"id":"30f4eec3-b16a-4a6b-861c-15901b8d6a38","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NS3lWtAwJAoj2SGy","name":"Google Gemini(PaLM) Api account Wanderson Gemini API"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Salva a informação de agendamento enviada, para que a secretária saiba que foi enviada.","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_historico_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $fromAI('telefone', 'Telefone do paciente, formatado com apenas números, incluindo código do país. Ex.: \"+551112345678\"', 'string') }}","message":"={ \"type\": \"ai\", \"content\": \"{{ $fromAI('message', 'A mesma mensagem enviada para o paciente.', 'string') }}\" }"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[120,200],"id":"6f854e42-86b0-4eff-880c-5b2ee650d522","name":"Salvar memoria","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}}},{"parameters":{"resource":"Profile","operation":"Fetch Profile","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[-120,-40],"id":"03ed422d-5986-454d-8e70-2993384e1e69","name":"Buscar informações da conta","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"description":"Use essa ferramenta para enviar as informações de agendamento no WhatsApp.\n\nO ID da conversa deve ser extraído das informações do evento.","workflowId":{"__rl":true,"value":"zqxJoLpfXdadkfQg","mode":"list","cachedResultName":"2 - Guess Imóveis 05. Enviar agendamento Guess"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mensagem', ``, 'string') }}","id_conta":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conta', ``, 'string') }}","id_conversa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conversa', ``, 'string') }}","url_chatwoot":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url_chatwoot', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[440,200],"id":"278fb3c2-c071-4646-9ef1-25f1ba8ceed6","name":"Enviar agendamento"},{"parameters":{"assignments":{"assignments":[{"id":"9b3e9f43-424d-495e-81ae-7618b5cb2a4b","name":"url_chatwoot","value":"https://chatwoot.alcateia.site","type":"string"},{"id":"79319fb2-1719-4bcf-b104-cd90898785af","name":"id_conta","value":"={{ $json.account_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[100,-40],"id":"2272d49a-5cc4-45a9-ba2d-52a38d299c94","name":"Info"},{"parameters":{"sseEndpoint":"=https://webhook.alcateia.site/mcp/4d5dd8dd-714a-48aa-881d-b33e3b5ce061/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[280,200],"id":"1c610213-e0b6-4c7b-a9ac-8e8de12935e7","name":"MCP Google Calendar"},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[600,200],"id":"21988815-f5d5-4e1c-9149-bbd34d1d8e29","name":"Refletir"}],"connections":{"Postgres Chat Memory":{"ai_memory":[[{"node":"Assistente de confirmação","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Assistente de confirmação","type":"ai_languageModel","index":0}]]},"Salvar memoria":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Enviar agendamento":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Info":{"main":[[{"node":"Assistente de confirmação","type":"main","index":0}]]},"MCP Google Calendar":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Refletir":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7fb6baea-ee5a-4bdf-895b-1eb4b73e8c74","triggerCount":0,"tags":[]}
