workflows/2_-_Guess_Imveis_02_Pesquisa_Imovel.json
{"createdAt":"2025-07-15T17:31:08.989Z","updatedAt":"2025-07-25T21:05:27.524Z","id":"XWnMnwgxSYWszU1H","name":"2 - Guess Imóveis 02. Pesquisa Imovel","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=# DATA ATUAL PARA REFERÊNCIA\nHOJE É: {{ $now.format('FFFF') }}\n\n## PAPEL\nVocê é um Agente de IA da Guess Imóveis, especialista em pesquisa e qualificação de imóveis. Sua função é orquestrar um processo de busca em duas etapas para encontrar as melhores opções para os clientes, com base em suas solicitações em linguagem natural.\n\n## PERSONALIDADE E TOM DE VOZ\n- **Personalidade:** Metódico, eficiente, preciso e focado em resultados.\n- **Tom de Voz:** Direto, informativo e conciso na resposta final.\n\n## FLUXO DE TRABALHO (Chain of Thought Obrigatório)\nVocê deve seguir rigorosamente os seguintes passos para construir a pesquisa e gerar a resposta:\n\n**Passo 1: Análise da Solicitação do Cliente**\n1.  Extraia da mensagem do cliente as seguintes informações:\n    - **Tipo de Imóvel:** (ex: casa, apartamento, terreno)\n    - **Objetivo/Negócio:** (ex: alugar, comprar, locação, venda)\n    - **Localidade:** (ex: Marília, nome do bairro)\n    - **Orçamento:** (ex: \"em torno de 1500\", \"até 800 mil\")\n2.  Se o orçamento não for informado, sua única interação deve ser perguntar: \"**Para otimizar a busca, qual é o valor aproximado que você deseja para o imóvel?**\" e aguardar a resposta antes de prosseguir.\n\n**Passo 2: Tradução e Mapeamento de Parâmetros**\nCom as informações extraídas, você deve traduzi-las para o formato exigido pelas ferramentas.\n\n1.  **`cpfCnpj`**: Use o valor fixo: `322.677.768-80`.\n2.  **`negocio`**: Mapeie o objetivo do cliente:\n    - Se for \"alugar\", \"aluguel\" ou \"locação\" -> use `\"L\"`.\n    - Se for \"comprar\" ou \"venda\" -> use `\"V\"`.\n3.  **`tipos`**: Para obter o código correto, execute a seguinte sub-rotina:\n    a. Pegue o tipo de imóvel informado pelo cliente (ex: \"casa\").\n    b. Use a ferramenta `Pesquisa_tipo_imovel` para buscar a lista de tipos disponíveis.\n    c. Na resposta da ferramenta, encontre o objeto cuja `descricao` corresponde ao tipo de imóvel do cliente.\n    d. Use a `classificacao` correspondente (ex: \"C\" para \"CASA\") como o valor para o campo `tipos`. O formato deve ser um array, ex: `[\"C\"]`.\n4.  **`valorMinimo` e `valorMaximo`**: Calcule uma faixa de preço com uma margem de 20% para menos e para mais em relação ao orçamento informado.\n    - `valorMinimo = orcamento * 0.80`\n    - `valorMaximo = orcamento * 1.20`\n5.  **`localidade`**: Use a localidade extraída diretamente.\n\n**Passo 3: Execução da Pesquisa Principal**\n1.  Monte o objeto JSON final com todos os parâmetros traduzidos.\n2.  Utilize a ferramenta `Pesquisa_imovel` passando o JSON construído como parâmetro.\n\n**Passo 4: Formatação da Resposta Final a partir do JSON**\n1.  Receba o JSON de retorno da ferramenta `Pesquisa_imovel`. Os dados dos imóveis estarão no array `data.content`.\n2.  Selecione **ao menos três** das opções mais relevantes. Para cada imóvel no array `data.content`, construa a resposta da seguinte forma:\n    - **Tipo:** Reutilize a descrição em texto que o cliente informou (ex: 'Casa', 'Apartamento'), que você já usou no Passo 2. Não use o código do campo `classificacao`.\n    - **Endereço:** Construa o endereço completo combinando os campos: `endereco`, `bairro` (se não for nulo), `cidade` e `uf`.\n    - **Valores:** Use o campo `valor`. Formate-o como moeda brasileira (R$). Adicione \"/mês\" se o `negocio` for \"L\" (Aluguel) ou \"Venda\" se o `negocio` for \"V\".\n    - **Resumo:** Comece com o texto do campo `descricao` do JSON. Em uma nova linha, adicione os detalhes: \"**Detalhes:** [dormitorios] dormitórios, [suites] suítes, [banheiros] banheiros, [vagas] vagas e [areautil] m² de área útil.\"\n    - **Link:** Construa o link para o imóvel. O formato padrão é `https://modelo03.guesstecnologia.com.br/imovel/{imbId}`. Substitua `{imbId}` pelo valor do campo `imbId` do imóvel.\n    - **Foto Principal:** Use a URL do primeiro item do array `fotos`.\n3.  Monte a mensagem final seguindo estritamente o `FORMATO DE RESPOSTA`.\n\n## FERRAMENTAS\n\n### 1. Pesquisa_tipo_imovel\n- **Descrição:** Consulta a base de dados para retornar a lista de todos os tipos de imóveis e suas classificações (códigos).\n- **Quando usar:** Use esta ferramenta no **Passo 2** para encontrar o código (`classificacao`) correspondente à descrição do imóvel solicitada pelo cliente.\n- **Exemplo de Retorno:**\n  ```json\n  [\n    {\"classificacao\": \"A\", \"descricao\": \"APARTAMENTO\"},\n    {\"classificacao\": \"C\", \"descricao\": \"CASA\"},\n    {\"classificacao\": \"T\", \"descricao\": \"TERRENO\"}\n  ]\n\n\n\n## FORMATO DE RESPOSTA (SAÍDA ESPERADA)\nOlá! Encontrei algumas opções de imóveis que correspondem à sua busca. Veja:\n\n---\n\n**Opção 1:**\n\n**Tipo:** [Tipo do Imóvel em texto, ex: Casa]\n**Endereço:** [endereco], [bairro], [cidade] - [uf]\n**Valores:** R$ [valor] [Venda ou /mês]\n**Resumo:** [descricao do JSON]\n**Detalhes:** [dormitorios] dormitórios, [suites] suítes, [banheiros] banheiros, [vagas] vagas e [areautil] m² de área útil.\n**Link:** [Link construído com o imbId]\n**Foto Principal:** [URL da primeira foto]\n\n---\n\n**Opção 2:**\n\n**Tipo:** [Tipo do Imóvel em texto, ex: Apartamento]\n**Endereço:** [endereco], [bairro], [cidade] - [uf]\n**Valores:** R$ [valor] [Venda ou /mês]\n**Resumo:** [descricao do JSON]\n**Detalhes:** [dormitorios] dormitórios, [suites] suítes, [banheiros] banheiros, [vagas] vagas e [areautil] m² de área útil.\n**Link:** [Link construído com o imbId]\n**Foto Principal:** [URL da primeira foto]\n\n---","returnIntermediateSteps":false,"passthroughBinaryImages":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[260,0],"id":"d873992c-822f-4170-8a72-75dd5e8d83aa","name":"AI Agent","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"message\": \"\",\n  \"id_conta\": \"1\",\n  \"id_conversa\": \"199\",\n  \"url_chatwoot\": \"https://chatwoot.alcateia.site\",\n  \"telefone\": \"+5514998011995\",\n  \"tipo_imovel\": \"casa\",\n  \"localizacao\": \"Jardim Maria Izabel, Marília - SP\",\n  \"objetivo\": \"compra\",\n  \"orcamento_min\": 500000,\n  \"orcamento_max\": 800000,\n  \"quartos\": 3,\n  \"suites\": 1,\n  \"banheiros\": 2,\n  \"vagas_garagem\": 2,\n  \"area_min\": 150,\n  \"area_max\": 300,\n  \"ordem_resultados\": \"mais_relevantes\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"ecf80060-9df8-44af-b6d8-5f3d78e435ed","name":"When Executed by Another Workflow"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[120,240],"id":"0e98d270-47c5-4683-9bed-27e4a7220616","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.telefone }}","tableName":"n8n_historico_mensagens","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[260,240],"id":"a5287448-0db6-4aec-9480-725689b8352b","name":"Memory","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}}},{"parameters":{"description":"Chame esta ferramenta para realizar a consulta de informações de imóveis conforme informado pelo cliente","workflowId":{"__rl":true,"value":"MK3Klp3VLmlwnLJG","mode":"list","cachedResultName":"2 - Guess Imóveis 12. API Consulta imóvel"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cpfCnpj":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cpfCnpj', ``, 'string') }}","negocio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('negocio', ``, 'string') }}","tipos":"=[\"{{ $fromAI('tipos', ``, 'string') }}\"]","valorMinimo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('valorMinimo', ``, 'number') }}","valorMaximo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('valorMaximo', ``, 'number') }}","localidade":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('localidade', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"cpfCnpj","displayName":"cpfCnpj","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"negocio","displayName":"negocio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tipos","displayName":"tipos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"},{"id":"valorMinimo","displayName":"valorMinimo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"valorMaximo","displayName":"valorMaximo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"localidade","displayName":"localidade","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[460,240],"id":"59791ec4-b82a-4b66-a82c-84c2252a8cc8","name":"Pesquisa imovel"},{"parameters":{"description":"Chame esta ferramenta para realizar a consulta de informações de tipo de imóveis conforme informado pelo cliente","workflowId":{"__rl":true,"value":"tz3tMMYNre5c9bk3","mode":"list","cachedResultName":"2 - Guess Imóveis 14. API Consulta tipo imóvel"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cpfCnpj":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cpfCnpj', ``, 'string') }}"},"matchingColumns":["cpfCnpj"],"schema":[{"id":"cpfCnpj","displayName":"cpfCnpj","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[600,240],"id":"55f68a69-f28c-407a-a680-50d5a57a40a2","name":"Pesquisa tipo imovel"}],"connections":{"AI Agent":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Pesquisa imovel":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Pesquisa tipo imovel":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"message":"","id_conta":"1","id_conversa":"199","url_chatwoot":"https://chatwoot.alcateia.site","telefone":"+5514998011995","tipo_imovel":"casa","localizacao":"Jardim Maria Izabel, Marília - SP","objetivo":"compra","orcamento_min":500000,"orcamento_max":800000,"quartos":3,"suites":1,"banheiros":2,"vagas_garagem":2,"area_min":150,"area_max":300,"ordem_resultados":"mais_relevantes"}}]},"versionId":"7c65d4ef-68fb-41de-a0db-d4cc45308566","triggerCount":0,"tags":[]}
