workflows/2_-_Guess_Imveis_03_Baixar_e_enviar_arquivo_do_Google_Drive_Guess.json
{"createdAt":"2025-07-17T13:35:19.886Z","updatedAt":"2025-07-17T13:43:03.122Z","id":"cIfHIYU61MJf12UR","name":"2 - Guess Imóveis 03. Baixar e enviar arquivo do Google Drive Guess","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"file_id"},{"name":"id_conta"},{"name":"id_conversa"},{"name":"url_chatwoot"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[60,680],"id":"d6dbeb7b-108f-4529-b92d-ae7b5bcec275","name":"When Executed by Another Workflow"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[280,680],"id":"73e97b53-3a8a-471e-8a25-6b61a51fec4a","name":"Baixar arquivo","credentials":{"googleDriveOAuth2Api":{"id":"kh2A3MRfkpNJ1Z65","name":"Google Drive account Wanderson"}}},{"parameters":{"assignments":{"assignments":[{"id":"71dda3d7-4505-4d03-b70f-63f5c005c0c3","name":"status","value":"={{ $json.status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,680],"id":"a77c5ffd-9354-44c9-9261-4c3aab92c308","name":"Output"},{"parameters":{"method":"POST","url":"={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.id_conta }}/conversations/{{ $('When Executed by Another Workflow').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,680],"id":"64530e90-9d44-45e1-aecb-b7844064bbe7","name":"Enviar arquivo","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"content":"## 3. Baixar e enviar arquivo do Google Drive","height":80,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,540],"id":"f54651bd-4e21-43b6-b036-c65a040a84bc","name":"Sticky Note30"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Baixar arquivo","type":"main","index":0}]]},"Baixar arquivo":{"main":[[{"node":"Enviar arquivo","type":"main","index":0}]]},"Enviar arquivo":{"main":[[{"node":"Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e3b8d1fa-1f12-49ce-adf0-8fb47e3b58a6","triggerCount":0,"tags":[]}
