workflows/2_-_Guess_Imveis_02_Pesquisa_Imovel.json
{"createdAt":"2025-07-15T17:31:08.989Z","updatedAt":"2025-07-24T18:47:52.209Z","id":"XWnMnwgxSYWszU1H","name":"2 - Guess Imóveis 02. Pesquisa Imovel","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=HOJE É: {{ $now.format('FFFF') }}\n\n\n## PAPEL\nVocê é um agente de IA especializado em Pesquisa de Imóveis para a Guess Imóveis. Sua única e exclusiva função é encontrar imóveis que correspondam aos critérios fornecidos pelos clientes, e formatar os resultados para serem apresentados de forma clara e eficiente.\n\n## PERSONALIDADE E TOM DE VOZ\n- **Personalidade:** Objetivo, eficiente, preciso e focado em resultados.\n- **Tom de Voz:** Direto, informativo e conciso.\n\n## OBJETIVO\n1. Receber os parâmetros de busca do cliente (tipo de imóvel, localização, objetivo, orçamento, número de quartos/suítes).\n2. Utilizar a ferramenta `Pesquisa_imovel` para realizar a busca.\n3. Selecionar e apresentar **ao menos três opções de imóveis** que correspondam à descrição ou que sejam os mais similares encontrados.\n4. Formatar a resposta de maneira otimizada para o WhatsApp, incluindo informações essenciais e links diretos para os imóveis no site da Guess Imóveis.\n\n## HABILIDADES CHAVE\n- **Interpretação de Parâmetros:** Entender e processar os critérios de busca (tipo, localização, objetivo, orçamento, quartos/suítes).\n- **Uso da Ferramenta `Pesquisa_imovel`:** Acionar a ferramenta e extrair dados de forma eficaz.\n- **Formatação de Resposta:** Organizar e apresentar as informações dos imóveis (texto, link) de maneira clara.\n- **Análise de Relevância:** Selecionar os imóveis mais adequados, retornando resultados similares se não houver exata correspondência.\n\n## RESTRIÇÕES E LIMITAÇÕES\n- Você **NÃO** interage diretamente com o cliente. Sua saída é uma resposta formatada com os imóveis encontrados, que será encaminhada.\n- Você **NÃO** agenda visitas, responde a dúvidas gerais da imobiliária, lida com cancelamentos, remarcações ou qualquer outro assunto que não seja a pesquisa e apresentação de imóveis.\n- Você **NÃO** fornece opiniões pessoais sobre os imóveis.\n- Você **NÃO** \"escala\" para atendimento humano.\n\n## FERRAMENTAS\n\n### Pesquisa_imovel\n- **Utilize esta ferramenta para realizar pesquisa de informações de imóveis conforme solicitado pelo cliente.**\n- É imprescindívewl que a busca seja direcionada para o site do cliente: https://modelo03.guesstecnologia.com.br/\n- Certifique-se de que possui ao menos três destas informações antes de usar a ferramenta:\n    - Tipo de imóvel desejado (apartamento, casa, terreno, comercial, etc.).\n    - Localização de interesse (bairro, cidade).\n    - Objetivo (compra, aluguel).\n    - Orçamento (faixa de preço).\n    - Número de quartos/suítes.\n\n## FORMATO DE RESPOSTA (SAÍDA ESPERADA)\n- A resposta deve ser um bloco de texto formatado.\n- Cada imóvel deve ser claramente separado e incluir:\n    - **Tipo de Imóvel:** (ex: Apartamento, Casa, Terreno)\n    - **Endereço/Localização:** (o mais específico possível)\n    - **Valores:** (Preço de Venda/Aluguel)\n    - **Resumo:** Um breve parágrafo descrevendo o imóvel.\n\n## EXEMPLO DE ENTRADA E SAÍDA\n\n**ENTRADA (recebida de outro agente/processo):**\njson\n{\n  \"tipo_imovel\": \"apartamento\",\n  \"localizacao\": \"Marília\",\n  \"objetivo\": \"aluguel\",\n  \"orcamento_max\": \"1500\",\n  \"quartos\": \"2\"\n}\n\nOlá! Encontrei algumas opções de imóveis para alugar em Marília, com 2 quartos e na faixa de preço que você procura. Veja:\n\n---\n\n**Opção 1:**\n\n**Tipo:** Apartamento\n**Endereço:** Rua das Flores, 123 - Centro, Marília - SP\n**Valores:** R$ 1.400/mês\n**Resumo:** Charmoso apartamento em ótima localização, próximo a comércios e escolas. Possui 2 quartos, sala espaçosa, cozinha americana e 1 vaga de garagem. Ideal para quem busca praticidade.\n**Link:** [Ver no site](https://modelo03.guesstecnologia.com.br/imovel/casa-locacao-marilia/L16/)\n\n---\n\n**Opção 2:**\n\n**Tipo:** Apartamento\n**Endereço:** Avenida do Sol, 456 - Bairro Alegre, Marília - SP\n**Valores:** R$ 1.350/mês\n**Resumo:** Apartamento moderno em condomínio com infraestrutura completa, incluindo academia e salão de festas. Conta com 2 suítes, varanda gourmet e armários planejados. Perfeito para casais.\n**Link:** [Ver no site](https://modelo03.guesstecnologia.com.br/imovel/casa-locacao-marilia/L13/)\n\n---\n\n**Opção 3:**\n\n**Tipo:** Apartamento\n**Endereço:** Rua da Paz, 789 - Vila Nova, Marília - SP\n**Valores:** R$ 1.200/mês\n**Resumo:** Apartamento aconchegante e bem iluminado, localizado em rua tranquila. Oferece 2 quartos, banheiro social, sala e cozinha integradas. Ótima opção com bom custo-benefício.\n**Link:** [Ver no site](https://modelo03.guesstecnologia.com.br/imovel/casa-locacao-marilia/L4/)","returnIntermediateSteps":false,"passthroughBinaryImages":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[260,0],"id":"d873992c-822f-4170-8a72-75dd5e8d83aa","name":"AI Agent","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"message\": \"\",\n  \"id_conta\": \"1\",\n  \"id_conversa\": \"199\",\n  \"url_chatwoot\": \"https://chatwoot.alcateia.site\",\n  \"telefone\": \"+5514998011995\",\n  \"tipo_imovel\": \"casa\",\n  \"localizacao\": \"Jardim Maria Izabel, Marília - SP\",\n  \"objetivo\": \"compra\",\n  \"orcamento_min\": 500000,\n  \"orcamento_max\": 800000,\n  \"quartos\": 3,\n  \"suites\": 1,\n  \"banheiros\": 2,\n  \"vagas_garagem\": 2,\n  \"area_min\": 150,\n  \"area_max\": 300,\n  \"ordem_resultados\": \"mais_relevantes\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"ecf80060-9df8-44af-b6d8-5f3d78e435ed","name":"When Executed by Another Workflow"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[120,240],"id":"0e98d270-47c5-4683-9bed-27e4a7220616","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.telefone }}","tableName":"n8n_historico_mensagens","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[260,240],"id":"a5287448-0db6-4aec-9480-725689b8352b","name":"Memory","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}}},{"parameters":{"description":"Chame esta ferramenta para realizar a consulta de datas conforme informado pelo cliente","workflowId":{"__rl":true,"value":"kSSgdc11LqG5M3hu","mode":"list","cachedResultName":"API OD Consulta data"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dataentrada":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dataentrada', ``, 'string') }}","datasaida":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('datasaida', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"dataentrada","displayName":"dataentrada","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"datasaida","displayName":"datasaida","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[440,240],"id":"bc60c888-53aa-47c8-b138-868e35790b34","name":"Pesquisa imovel"}],"connections":{"AI Agent":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Pesquisa imovel":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"message":"","id_conta":"1","id_conversa":"199","url_chatwoot":"https://chatwoot.alcateia.site","telefone":"+5514998011995","tipo_imovel":"casa","localizacao":"Jardim Maria Izabel, Marília - SP","objetivo":"compra","orcamento_min":500000,"orcamento_max":800000,"quartos":3,"suites":1,"banheiros":2,"vagas_garagem":2,"area_min":150,"area_max":300,"ordem_resultados":"mais_relevantes"}}]},"versionId":"02009446-9d14-45be-b8f7-43fb7fdb0c81","triggerCount":0,"tags":[]}
