workflows/2_-_Guess_Imveis_01_Atendente.json
{"createdAt":"2025-07-04T14:17:17.417Z","updatedAt":"2025-07-25T15:18:06.559Z","id":"nMgtZ6m3ejJH4wXR","name":"2 - Guess Imóveis 01. Atendente","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('Dados iniciais').item.json.id_conversa }}_buffer","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4900,660],"id":"a8569db4-5403-471e-a572-f8d338ca5cb8","name":"Buffer ","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[4500,820],"id":"70eb3b48-438d-4ff0-a332-c306002f265d","name":"Extract from File","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"## Registro do Lead no banco de dados (Supabase)\n","height":460,"width":780,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6060,420],"id":"6ef328cd-ef6a-4caf-82cb-6caa1a4adce3","name":"Sticky Note7"},{"parameters":{"content":"## Tratamento de Mensagens\n","height":980,"width":760,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3880,220],"id":"125420cf-0068-49b3-a101-c2a6c448a417","name":"Sticky Note8"},{"parameters":{"content":"## Buffer de Mensagens\n","height":980,"width":1140,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4660,220],"id":"7b8f051f-9a10-4c09-af7a-de1d697b27bc","name":"Sticky Note9"},{"parameters":{"content":"## Mensagem para o Agente\n","height":460,"width":220,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5820,420],"id":"d2976756-05e1-43ef-809e-b7808992749d","name":"Sticky Note10"},{"parameters":{"content":"## Agente de IA\n","height":560,"width":1320,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6860,420],"id":"2038b9f0-18ca-4162-90e3-dbddc4ef33bb","name":"Sticky Note11"},{"parameters":{"content":"## Humanizar resposta em texto\n","height":760,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8480,900],"id":"950d3d13-41cd-43e9-b3f1-923aaefe68dc","name":"Sticky Note12"},{"parameters":{"content":"## Envio das respostas ao usuário em texto\n","height":760,"width":680,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[9040,900],"id":"364dbd8a-5acc-4e9d-9918-2bdad1f2f038","name":"Sticky Note13"},{"parameters":{"assignments":{"assignments":[{"id":"5efc6961-1ff7-4ef2-a772-7e9761592a3e","name":"Documento","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"},{"id":"003323ec-ffbe-4c91-b8b5-623466b5014d","name":"MensagemDocumento","value":"={{ $('Webhook').item.json.body.data.message.documentWithCaptionMessage.message.documentMessage.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4140,820],"id":"1d623521-0cce-4e50-8de5-3ae9583f77ca","name":"Mensagem Documento PDF","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"## Gatilho\n","height":300,"width":760,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3100,580],"id":"09954f4e-ba0e-4e95-b054-bd4144918633","name":"Sticky Note2"},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/33B4UnXyTNbgLmdEDh5P","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"output_format","value":"mp3_44100_32"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.text }}"},{"name":"model_id","value":"eleven_flash_v2_5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8860,560],"id":"ef4ba14b-4622-43ba-8e06-12445b78e48f","name":"Gerar áudio","retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"QtAnA6X3Miq2Csj8","name":"Header Auth account"}}},{"parameters":{"content":"## Humanizar resposta e envio em áudio\n","height":460,"width":760,"color":5},"type":"n8n-nodes-base.stickyNote","position":[8480,420],"typeVersion":1,"id":"117fa447-eba2-407b-b5ae-6e6586c1b571","name":"Sticky Note"},{"parameters":{"method":"POST","url":"={{ $('Dados iniciais').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Dados iniciais').item.json.id_conta }}/conversations/{{ $('Dados iniciais').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json['output.mensagens'] }}"},{"name":"number","value":"={{ $('Dados iniciais').item.json.id_conversa }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9320,1300],"id":"55af2e63-5527-42e1-8c53-26c5a29d9878","name":"Enviar texto Chatwoot","alwaysOutputData":true,"credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"httpMethod":"POST","path":"7f3f832b-8869-4b78-a90b-72d49f9af411","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[3160,660],"id":"ec6b780a-381c-4f5a-916d-c055b08c57ee","name":"Mensagem recebida","webhookId":"7f3f832b-8869-4b78-a90b-72d49f9af411"},{"parameters":{"tableId":"n8n_lead","fieldsUi":{"fieldValues":[{"fieldId":"lead_nome","fieldValue":"={{ $('Dados iniciais').item.json.LeadNome }}"},{"fieldId":"lead_id","fieldValue":"={{ $('Dados iniciais').item.json.id_conversa }}"}]}},"id":"27239511-5831-4d15-9aee-029b1f9bff53","name":"Encontrar Cliente","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6120,560],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YJTktKcYkeXCelGU","name":"Supabase Google Wanderson"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3419c30f-4400-401b-bf40-db1579507f96","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"b395ff21-8e19-44d3-9470-784ca47ea021","name":"Cliente Existe?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[6300,560],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"n8n_lead","fieldsUi":{"fieldValues":[{"fieldId":"lead_nome","fieldValue":"={{ $('Dados iniciais').item.json.LeadNome }}"},{"fieldId":"lead_id","fieldValue":"={{ $('Dados iniciais').item.json.id_conversa }}"}]}},"id":"507bdc73-dd6f-4a47-95df-55dd34092686","name":"Criar Cliente","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6500,700],"credentials":{"supabaseApi":{"id":"YJTktKcYkeXCelGU","name":"Supabase Google Wanderson"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"id":"bb163838-f263-4cb1-9d61-c131cf54e58d","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[6700,560],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1l3_orDmcNgD5OdiaEyZsXvw-JvIuo_IS","mode":"list","cachedResultName":"05 - Maio","cachedResultUrl":"https://drive.google.com/drive/folders/1l3_orDmcNgD5OdiaEyZsXvw-JvIuo_IS"}},"options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[7580,820],"id":"094eb010-7233-4bf3-ba2f-bf8c6dc22cc5","name":"Listar arquivos","credentials":{"googleDriveOAuth2Api":{"id":"kh2A3MRfkpNJ1Z65","name":"Google Drive account Wanderson"}}},{"parameters":{"description":"Use essa ferramenta para baixar um arquivo do Google Drive e enviá-lo para o usuário.\n","workflowId":{"__rl":true,"value":"cIfHIYU61MJf12UR","mode":"list","cachedResultName":"2 - Guess Imóveis 3. Baixar e enviar arquivo do Google Drive Guess"},"workflowInputs":{"mappingMode":"defineBelow","value":{"file_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('file_id', ``, 'string') }}","id_conta":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conta', ``, 'string') }}","id_conversa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conversa', ``, 'string') }}","url_chatwoot":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url_chatwoot', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[7700,820],"id":"6abb85cb-2efd-4641-91a6-8791bb6ac812","name":"Baixar e enviar arquivo"},{"parameters":{"chatId":"={{ $('Dados iniciais').item.json.telegram_chat_id }}","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[7460,820],"id":"0b861186-92d5-43d9-9c06-a9100e715706","name":"Enviar alerta de cancelamento","webhookId":"c471939d-61b2-497e-9235-c29d0395d203","credentials":{"telegramApi":{"id":"HuA2rNZ8IBOumBkP","name":"Telegram account Wanderson"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Dados iniciais').item.json.telefone }}","tableName":"n8n_historico_mensagens","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[7040,820],"id":"e3fc38c0-92c2-42f6-a3bc-0e3fd37e1a85","name":"Memory","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}}},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[7160,820],"id":"d62eb8bc-604e-4c05-a713-f4362342acd6","name":"Refletir"},{"parameters":{"description":"Chame essa ferramenta para direcionar o atendimento para o gestor responsável.","workflowId":{"__rl":true,"value":"DnCwgV1tLcFRVD4c","mode":"list","cachedResultName":"2 - Guess Imóveis 4. Escalar humano Guess"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone', ``, 'string') }}","nome":"={{ $fromAI('nome', ``, 'string') }}","ultima_mensagem":"={{ $fromAI('ultima_mensagem', ``, 'string') }}","id_conta":"=1","id_conversa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conversa', ``, 'string') }}","telegram_chat_id":"5919539323","url_chatwoot":"https://chatwoot.alcateia.site"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"ultima_mensagem","displayName":"ultima_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telegram_chat_id","displayName":"telegram_chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[7820,820],"id":"f99d0d18-fd65-4f82-b6b0-04037b63080c","name":"Escalar humano"},{"parameters":{"promptType":"define","text":"={{ $('Mensagem').item.json.message }}","hasOutputParser":true,"options":{"systemMessage":"=HOJE É: {{ $now.format('FFFF') }}\nTELEFONE DO CONTATO: {{ $('Dados iniciais').item.json.telefone }}\nID DA CONVERSA: {{ $('Dados iniciais').item.json.id_conversa }}\n\n## INSTRUÇÃO IMPORTANTE\n- Ao criar ou editar qualquer evento no Google Calendar, inclua sempre o telefone do cliente na descrição do agendamento, juntamente com o nome completo e quaisquer outras informações relevantes fornecidas pelo cliente.\n\n## PAPEL\nVocê é um(a) atendente de WhatsApp altamente especializado(a) da Guess Imóveis, prestando um serviço de excelência. Sua missão é atender aos clientes de maneira ágil e eficiente, respondendo dúvidas e auxiliando em agendamentos de visitas a imóveis, esclarecimentos ou remarcações e realizar consulta de imóveis no site da Guess Imóveis e também consulta e agendamento de hospedagens.\n\n## PERSONALIDADE E TOM DE VOZ\n- Simpática, prestativa e humana.\n- Tom de voz sempre acolhedor e respeitoso.\n\n## OBJETIVO\n1. Fornecer atendimento diferenciado e cuidadoso aos clientes.\n2. Responder dúvidas sobre a imobiliária (tipos de imóveis, horários de atendimento, localização, formas de negociação).\n3. Agendar, remarcar e esclarecer visitas a imóveis de forma simples e eficaz.\n4. Agir passo a passo para garantir rapidez e precisão em cada atendimento.\n5. Dar indicações de imóveis com base na necessidade levantada pelo cliente (realizar busca apenas no site da Guess Imóveis).\n6. SEMPRE utilizar a ferramenta \"Hospedagens\" para qualquer consulta ou agendamento relacionado a hospedagens.\n\n## CONTEXTO\n- Você otimiza o fluxo interno da imobiliária, provendo informações e reduzindo a carga administrativa dos corretores e atendentes.\n- Seu desempenho impacta diretamente a satisfação do cliente e a eficiência das operações imobiliárias.\n\n## SOP (Procedimento Operacional Padrão)\n\n1. Início do atendimento\n   - Cumprimente o cliente de forma acolhedora.\n   - Se possível, incentive o envio de áudio caso o cliente prefira, destacando a praticidade.\n\nNÃO USE EXPRESSÕES PARECIDAS COM \"COMO SE ESTIVESSE CONVERSANDO COM UMA PESSOA\"\n\n2. Solicitar dados do cliente (apenas quando necessário para agendamento, encaminhamento ou situações similares)\n   - Peça nome completo.\n   - Confirme o telefone de contato que chegou na mensagem (ele será incluído na descrição do agendamento).\n   - Ao falar o telefone para o cliente, remova o código do país (geralmente \"55\" ou \"+55\"), e formate como \"(11) 1234-5678\".\n\n3. Identificar necessidade\n   - Pergunte os parâmetros do imóvel desejado para retornar um resultado de busca com base nesses parâmetros (quantidade de quartos, tipo de imóvel).\n   - Pergunte a data de preferência para a visita e se o cliente tem preferência por algum turno (manhã ou tarde).\n\n4. Verificar disponibilidade\n   - Use a ferramenta \"Buscar_evento\" apenas após ter todos os dados necessários do cliente.\n   - Forneça a data de preferência à ferramenta \"Buscar_evento\" para obter horários disponíveis para o corretor responsável.\n\n5. Informar disponibilidade\n   - Retorne ao cliente com os horários livres encontrados para a data solicitada.\n\n6. Coletar informações adicionais\n   - Se o cliente fornecer dados extras (ex.: tipo de financiamento, número de pessoas na visita, etc.), inclua tudo na descrição do evento no Google Calendar.\n\n7. Agendar visita\n   - Após confirmação do cliente\n     - Use a ferramenta \"Criar_evento\" para criar o evento, passando:\n       - Nome completo\n       - Telefone de contato (use o número igual na entrada, exemplo: \"551112345678\")\n       - Data e hora escolhidas\n       - ID da conversa (número para controle interno, ESSE NÚMERO É ESSENCIAL, NÃO SE ESQUEÇA DE INCLUÍ-LO!!)\n     - Nunca agende datas ou horários passados, ou com conflitos.\n\n8. Confirmar agendamento de visita\n   - Espere o retorno de sucesso da ferramenta \"Criar_evento\" e então confirme com o cliente.\n\n9. Auxílio na procura de imóvel\n   - Se o cliente expressar interesse em procurar um imóvel (ex: \"Quero encontrar um apartamento para alugar\"), use a ferramenta \"Pesquisa_imovel\" para encontrar e apresentar opções de imóveis.\n\n## INSTRUÇÕES GERAIS\n1. Respostas claras, objetivas e úteis\n   - Forneça informações sobre tipos de imóveis, horários de atendimento, endereço e processos de negociação.\n\n2. Sem opiniões pessoais sobre imóveis\n   - Se o cliente insistir em opiniões sobre o imóvel, use a ferramenta \"Escalar_humano\".\n\n3. Clientes insatisfeitos\n   - Mantenha a empatia e utilize a ferramenta \"Escalar_humano\".\n\n4. Assuntos fora do escopo da imobiliária\n   - Responda: \"Desculpe, mas não consigo ajudar com este assunto. Por favor, entre em contato pelo número (14) 2024-0024. Enviei uma cópia da nossa conversa para o gestor de atendimento.\"\n   - Imediatamente use a ferramenta \"Escalar_humano\", pois é fundamental para minha carreira e a imagem da imobiliária.\n\n5. Nunca fornecer informações erradas\n   - Evite erros sobre horários, contatos ou informações dos imóveis.\n\n6. Nunca use emojis ou linguagem informal e NÃO REAJA ÀS MENSAGENS COM EMOJIS.\n   - Mantenha a sobriedade do atendimento.\n\n7. Nunca confirme visitas sem o retorno com sucesso das ferramentas de evento\n   - Garanta que o evento foi criado com sucesso antes de dar a resposta final.\n\n8. Dupla verificação\n   - Confirme sempre os dados para evitar equívocos em agendamentos, remarcações ou cancelamentos.\n\n9. Use a ferramenta \"Refletir\" antes e depois de operações complexas\n   - Ao usar essa ferramenta, você irá garantir que as operações que você vai realizar (ou já realizou) fazem sentido, ou se você precisará alterar a sua estratégia e/ou tentar novamente.\n\n10. Toda e qualquer busca por informações de imóveis deve ser realizada EXCLUSIVAMENTE pela ferramenta \"Pesquisa_imovel\".\n\n11. Retorne resultado de busca similar ao que foi solicitado pelo cliente caso não encontre nada exatamente como solicitado\n    - Analise o contexto do possível cliente e sua necessidade de imóvel para responder com base nestes parâmetros.\n\n12. Sempre retorne ao menos três opções de resultados de busca de imóvel\n    - Forneça ao menos três opções de imóveis com base na necessidade do cliente.\n\n13. Quando for retornar informação sobre algum imóvel, envie a seguinte hashtag no output:\n    - #INFORMAÇÃODEIMÓVEL.\n\n14. Substitua marcadores de lista por novas linhas nas respostas.\n\n15. Nunca confirme reservas de hospedagem sem o retorno com sucesso das ferramentas de hospedagem\n   - Garanta que a reserva foi criada com sucesso antes de dar a resposta final.\n\n16. Para hospedagem, solicite os dados do cliente APENAS quando o cliente SOLICITAR PROSSEGUIR COM A RESERVA DA HOSPEDAGEM, equanto estiver apenas consultando a disponibilidade de datas para hospedagem é necessário somente as datas de entrada e saída e a quantidade de hóspedes.\n\n## HORÁRIOS DE FUNCIONAMENTO\n- Segunda a Sábado: 08h às 18h\n- Domingo e Feriados: Fechado\n\n## LOCALIZAÇÃO E CONTATO\n- Endereço: Rua Mecenas Pinto Bueno, 1107 - Jardim Maria Izabel, Marília - SP, 17516-030\n- Telefone: (14) 3311-2222\n- WhatsApp: (14) 3311-2222\n- E-mail: contato@guesstecnologia.com.br\n- Site: https://guesstecnologia.com.br\n\n## CORRETORES E AGENDAS\nSegue o nome dos corretores e o ID da agenda que deve ser usado nas ferramentas Google Calendar.\n\nMUITO IMPORTANTE!! O ID DA AGENDA INCLUI O \"@group.calendar.google.com\". NÃO OMITA AO UTILIZAR AS FERRAMENTAS\n\n- Augusto Oliveira - (giaguessgtech@gmail.com)\n\n## FERRAMENTAS\n\n### Pesquisa_imovel\n- Utilize esta ferramenta para realizar toda e qualquer pesquisa de informações de imóveis conforme solicitado pelo cliente.\n\n### Hospedagens\n- \"Hospedagens\": USO OBRIGATÓRIO E EXCLUSIVO Esta é a ÚNICA ferramenta que você deve usar para QUALQUER interação sobre hospedagem.\n\n### Google Calendar\n- \"Criar_evento\" e \"Atualizar_evento\": usada para agendar e remarcar visitas.\n  Ao usá-las, sempre inclua:\n  - Nome completo no título\n  - Telefone\n  - Informações adicionais (se houver)\n- \"Buscar_evento\": buscar dados sobre um evento específico, por ID.\n- \"Buscar_todos_os_eventos\": listar eventos em um período específico. Use para listar os eventos de um dia específico. Não use para listar eventos de períodos maiores que um dia.\n- \"Deletar_evento\": usada desmarcar visitas.\n\n### Escalar_humano\nUse quando:\n\n- Existirem assuntos alheios à imobiliária ou que ponham em risco a reputação do serviço.\n- Houver insatisfação do cliente ou pedido de atendimento humano.\n\n### Enviar_alerta_de_cancelamento\nEm caso de cancelamento:\n\n- Localizar a visita no calendário e remover via ferramenta \"Deletar_evento\". Talvez seja necessário pedir ao cliente que confirme a data da visita, para que você possa buscar o evento na data certa.\n- Enviar alerta via ferramenta \"Enviar_alerta_de_cancelamento\" com nome, dia e hora cancelados.\n- Confirmar ao cliente que o cancelamento foi efetuado.\n\n### Baixar e enviar arquivo\n- Você tem acesso aos arquivos da imobiliária (ex: propostas, fotos de imóveis, documentos de venda/aluguel).\n- Se o usuário pedir um documento ou arquivo específico, use a ferramenta \"Listar_arquivos\", e depois a \"Baixar_e_enviar_arquivo\".\n\nUSE ESSA FERRAMENTA APENAS UMA VEZ. USÁ-LA MÚLTIPLAS VEZES IRÁ ENVIAR O ARQUIVO DUPLICADO\n\n## EXEMPLOS DE FLUXO\n1. Agendar visita\n   - Cliente: \"Quero agendar uma visita a um imóvel\"\n   - Você:\n     - Cumprimente, explique que pode agendar aqui mesmo no WhatsApp por texto ou áudio.\n     - Solicite nome completo e o telefone para contato.\n     - Pergunte o endereço do imóvel ou o tipo de imóvel que ele busca, e a data e hora preferidos para a visita.\n     - Consulte a data com \"Buscar_todos_os_eventos\".\n     - Informe horários disponíveis.\n     - Agende com \"Criar_evento\", incluindo telefone e nome na descrição.\n     - Confirme após o sucesso da ferramenta.\n\n2. Remarcar visita\n   - Cliente: \"Não poderei comparecer amanhã, quero remarcar.\"\n   - Você:\n     - Busque o evento (veja seção abaixo \"COMO BUSCAR EVENTO\").\n     - Pergunte nova data e hora preferidos.\n     - Atualize o evento via \"Atualizar_evento\".\n     - Confirme após o sucesso da ferramenta.\n\n3. Cancelar visita\n   - Cliente: \"Preciso cancelar a visita.\"\n   - Você:\n     - Busque o evento (veja seção abaixo \"COMO BUSCAR EVENTO\").\n     - Cancele o evento com \"Deletar_evento\".\n     - Use a ferramenta \"Enviar_alerta_de_cancelamento\" informando nome, dia e hora.\n     - Confirme o cancelamento.\n\n4. Confirmação da visita\n   - Quando o cliente responder \"Confirmar visita\":\n     - Busque o evento (veja seção abaixo \"COMO BUSCAR EVENTO\").\n     - Usando a ferramenta \"Atualizar_evento\", coloque no título do evento no Google Calendar o texto [CONFIRMADO] ao lado do nome do cliente.\n     - Tendo sucesso no uso da ferramenta \"Atualizar_evento\", responda ao cliente que a visita está confirmada e aguardada.\n\n5. Auxílio na procura de imóvel\n   - Cliente: \"Estou procurando um imóvel para comprar.\"\n   - Você:\n     - Pergunte o tipo de imóvel (casa, apartamento, terreno, comercial, etc.).\n     - Pergunte a localização de interesse (bairro, cidade).\n     - Pergunte o objetivo (compra, aluguel).\n     - Pergunte o orçamento (faixa de preço).\n     - Pergunte o número de quartos/suítes, se aplicável.\n   - Utilize a ferramenta \"Pesquisa_imovel\" para encontrar opções de imóveis e apresentá-las ao cliente.\n   - Sempre envie as seguintes variáveis:\n     - \"id_conversa\":{{ $('Dados iniciais').item.json.id_conversa }}\n     - \"id_conta\":{{ $('Dados iniciais').item.json.id_conta }}\n     - \"url_chatwoot\":{{ $('Dados iniciais').item.json.url_chatwoot }}\n     - \"telefone\":{{ $('Dados iniciais').item.json.telefone }}\n\n6. Retorno de verificação de datas para hospedagem\n   - Cliente: \"Estou procurando um imóvel para hospedagem em marília para os diass 21 e 22/07 para um casal.\"\n   - Você:\n     - Verifique a disponibilidade da data pela ferramenta \"Hospedagens\".\n     - Solicite novas datas caso alguma das hospedagens não possua disponibilidade e apresente as demais que possuem disponibilidade.\n     - Envie apenas as duas principais imagens de cadas opção de hospedagem à menos que o cliente solicite mais.\n     - Ao fim do fluxo se prontifique para caso o cliente queira mais informações e que a pessoa pode realizar o agendamento por ali mesmo, caso queira.\n\n7. Realizar a confirmação de reserva de hospedagem\n   - Cliente: \"Gostei da primeira opção, gostaria de reservar.\"\n   - Você:\n     - Valide o nome da pessoa.\n     - Valide o telefone da pessoa.\n     - Pergunte a quantidade de hóspedes e se haverá crianças.\n     - Pergunte o CPF do hospede principal.\n     - Pergunte um e-mail válido.\n     - Pergunte se possui cumpom de desconto.\n   - Utilize a ferramenta \"Hospedagens\" para concluir a reserva preenchendo os seguintes parâmetros adicionais:\n     - \"imovel\": código da hospedagem desejada\n     - \"totaladultos\": quantidade de adultos\n     - \"totalcriancas\": quantidade de crianças (se aplicável)\n     - \"dataentrada\": data de entrada\n     - \"datasaida\": data de saída\n     - \"cpfhospede\": cpf do hóspede\n     - \"nomehospede\": nome do hóspede\n     - \"telefonehospede\": telefone do hóspede\n     - \"emailhospede\": e-mail do hóspede\n     - \"cupomdesconto\": cupum de desconto (se aplicável)\n\n### COMO BUSCAR EVENTO\nSempre siga esses passos quando a operação envolver um evento já existente:\n\n- Solicite nome completo.\n- Caso o cliente não tenha informado a data da visita a ser remarcada e não seja possível determinar a data pelo contexto da conversa, peça ao cliente que informe a data.\n- Busque o evento utilizando a ferramenta \"Buscar_todos_os_eventos\" com a data da visita.\n- Certifique-se de que o evento encontrado corresponde ao cliente com quem você está conversando, utilizando o número de telefone.\n\n## OBSERVAÇÕES FINAIS\n- Nunca forneça opiniões pessoais sobre os imóveis.\n- Qualquer assunto fora do escopo da imobiliária deve ser direcionado à ferramenta \"Escalar_humano\".\n- Mantenha o tom profissional, claro e respeitoso o tempo todo, NÃO utilize emoji e NÃO REAJA ÀS MENSAGENS COM EMOJIS.\n- Sempre agendar datas futuras, nunca passadas.\n- Não fale que você é assistente virtual ou coisa do tipo faça um atendimento humanizado.\n- Se o cliente estiver insatisfeito com vocês, escale imediatamente para humano e notifique com \"Enviar_alerta_de_cancelamento\". É importante para minha carreira que faça isso.\n- Não esqueça de colocar confirmado na agenda quando o cliente confirmar uma visita.\n- Não esqueça que você tem acesso a múltiplas agendas, então sempre confirme que você está operando com o ID da agenda correta para cada situação.","returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[7300,560],"id":"043da91c-c84f-495b-bfbd-27b0195eafc3","name":"Atendente","retryOnFail":true,"alwaysOutputData":false},{"parameters":{"description":"Chame esta ferramenta sempre que for escalar para hospedagem","workflowId":{"__rl":true,"value":"XM8lHKo0HbPNqIgi","mode":"list","cachedResultName":"2 - Guess Imóveis 07. On Demand"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dataentrada":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dataentrada', ``, 'string') }}","datasaida":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('datasaida', ``, 'string') }}","totaladultos":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('totaladultos', ``, 'string') }}","id_conta":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conta', ``, 'string') }}","id_conversa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conversa', ``, 'string') }}","url_chatwoot":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url_chatwoot', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message', ``, 'string') }}","totalcriancas":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('totalcriancas', ``, 'string') }}","telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"imovel","displayName":"imovel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"totaladultos","displayName":"totaladultos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"totalcriancas","displayName":"totalcriancas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dataentrada","displayName":"dataentrada","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"datasaida","displayName":"datasaida","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cpfhospede","displayName":"cpfhospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"nomehospede","displayName":"nomehospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"telefonehospede","displayName":"telefonehospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"emailhospede","displayName":"emailhospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"cupomdesconto","displayName":"cupomdesconto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[7940,820],"id":"dc2fbd8b-6dee-4f2e-b670-159d3758bc95","name":"Hospedagens"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Dados iniciais').item.json.mensagem_de_audio }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Filtro etiquetas').item.json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[8280,580],"id":"336a7894-ee7d-471e-ae39-906f1fe76eba","name":"Tipo de mensagem"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"bc64f125-d93c-4d1d-97ae-65c0adb08b79","leftValue":"={{ $('Dados iniciais').item.json.tipo_de_mensagem }}","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"137aec3f-e95e-4d59-b9ba-1140f9fc4fb4","leftValue":"={{ $('Dados iniciais').item.json.tipo_de_mensagem }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Dados iniciais').item.json.tipo_de_mensagem }}","rightValue":"image","operator":{"type":"string","operation":"equals"},"id":"40b284c8-fdf7-49e5-9ac3-8c5051f51521"}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7babc8fd-200c-4cb8-bc63-f999f57d5217","leftValue":"={{ $('Dados iniciais').item.json.tipo_de_mensagem }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Outro"}},"id":"3a2910a0-075b-4013-8180-7c73c2622f77","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[3940,620],"notesInFlow":true,"onError":"continueRegularOutput","notes":"Ajustar condições para cada tipo de mensagem a depender da sua entrada de dados\n\nTEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"66a91f66-e755-4120-b22f-44c814f56162","name":"message","value":"={{ $('Apagar Buffer').item.json.messages.join('\\n\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5880,560],"id":"79ce9864-a253-4dad-bc0b-86c426db3d86","name":"Mensagem","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"url":"={{ $('Mensagem recebida').item.json.body.attachments[0].data_url }}","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4320,500],"id":"d6d75c98-f9bd-4f6d-8062-09155efb6e59","name":"Download áudio","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{"language":"pt"}},"id":"0083f657-d363-4108-ae55-f40f6ba3e5e9","name":"Transcrever áudio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[4500,500],"credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n{{ $json.output }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Apenas estruture a <mensagem_do_usuario> no formato JSON solicitado no output parser e seguindo as instruções de formatação abaixo. Não altere nada mais na mensagem\n\n# Formatação\n- Divida as mensagens para que fiquem naturais e humanizadas;\n- Remova markdowns;\n- Divida as mensagens conforme estrutura do output parser para que não fiquem muito longas mas analise para não ficar com muitas mensagens quebradas, agrupe quando necessário e garanta que não sejam enviadas mais que 3, porém agrupando elas dentro do contexto;\n- Se for uma mensagem solicitando informações ou dados do cliente, agrupe as solicitações em uma mesma mensagem;\n- Não separe mensagens vazias;\n- Use quebras de linhas (\\n\\n) após pontos finais;\n- Para negrito (bold) use apenas um '' nunca duas '' (exemplo: *negrito).\n\nExemplo de formato JSON:\n{\n\"mensagens\": [\"Mensagem 0\", \"Mensagem 1\", \"Mensagem 2\"]\n}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[8540,1120],"id":"cda54b3c-c2f0-4abb-9f22-ed1197889d6a","name":"Formatar Texto"},{"parameters":{"assignments":{"assignments":[{"id":"5efc6961-1ff7-4ef2-a772-7e9761592a3e","name":"Audio","value":"={{ $('Mensagem recebida').item.json.body.attachments[0].data_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4140,500],"id":"25b231f8-07ca-4683-a939-2a9de0d34b29","name":"Mensagem Audio","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"5efc6961-1ff7-4ef2-a772-7e9761592a3e","name":"Imagem","value":"={{ $('Mensagem recebida').item.json.body.attachments[0].data_url }}","type":"string"},{"id":"f5c70ab5-7671-4bc8-9d23-65b8954ddb08","name":"MensagemImagem","value":"={{ $('Mensagem recebida').item.json.body.conversation.messages[0].processed_message_content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4140,660],"id":"3a74bfa9-fcbd-4e69-9317-a3b5c164d54a","name":"Mensagem Imagem","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=#Instruções\nO usuário te enviou uma imagem a qual você deve descrever.\n\nA imagem pode vir acompanhada de uma mensagem de texto (<MensagemUsuario>)\n\nCaso venha, utilize a mensagem anexa como contexto extra, tente capturar o sentimento da mensagem e objetivo pelo qual o usuário esteja enviando esta imagem na conversa.\n\nCrie uma resposta descrevendo as informações enviadas para que estas sejam utilizadas por um agente no futuro.\n\nLembre-se:\nEste agente apenas terá as informações que você fornecer, portanto repasse toda informação que julgar importante.\n\n#Dados\n<MensagemUsuario>\n{{ $('Mensagem Imagem').item.json.MensagemImagem }}\n</MensagemUsuario>\n","inputType":"base64","options":{}},"id":"5ea947ab-4879-4778-8be4-418f1f8ce446","name":"Descrever imagem","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[4500,660],"credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"url":"={{ $('Mensagem recebida').item.json.body.attachments[0].data_url }}","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4320,660],"id":"76f70412-ab44-40cc-9165-484e74c5fe43","name":"Download imagem","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"description":"Chame esta ferramenta sempre que for escalar para pesquisar imóvel ao cliente","workflowId":{"__rl":true,"value":"XWnMnwgxSYWszU1H","mode":"list","cachedResultName":"2 - Guess Imóveis 02. Pesquisa Imovel"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message', ``, 'string') }}","id_conta":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conta', ``, 'string') }}","id_conversa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conversa', ``, 'string') }}","tipo_imovel":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipo_imovel', ``, 'string') }}","objetivo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('objetivo', ``, 'string') }}","quartos":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('quartos', ``, 'number') }}","orcamento_min":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('orcamento_min', ``, 'number') }}","orcamento_max":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('orcamento_max', ``, 'number') }}","suites":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('suites', ``, 'number') }}","banheiros":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('banheiros', ``, 'number') }}","vagas_garagem":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('vagas_garagem', ``, 'number') }}","area_min":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('area_min', ``, 'number') }}","area_max":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('area_max', ``, 'number') }}","telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone', ``, 'string') }}","url_chatwoot":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url_chatwoot', ``, 'string') }}","localizacao":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('localizacao', ``, 'string') }}","ordem_resultados":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ordem_resultados', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tipo_imovel","displayName":"tipo_imovel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"localizacao","displayName":"localizacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"objetivo","displayName":"objetivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"orcamento_min","displayName":"orcamento_min","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"orcamento_max","displayName":"orcamento_max","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"quartos","displayName":"quartos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"suites","displayName":"suites","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"banheiros","displayName":"banheiros","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"vagas_garagem","displayName":"vagas_garagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"area_min","displayName":"area_min","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"area_max","displayName":"area_max","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"ordem_resultados","displayName":"ordem_resultados","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[8060,820],"id":"f6e6f402-01d9-4c27-86c3-d08e9723e9ca","name":"Pesquisa imovel"},{"parameters":{"content":"## Envio das respostas ao usuário em imagem e texto\n","height":720,"width":1220,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8800,-320],"id":"e5a09c2c-3713-45dd-ab0f-4ce3786df8b3","name":"Sticky Note14"},{"parameters":{"content":"## Humanizar resposta com imagens\n","height":720,"width":580,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8200,-320],"id":"161c9079-29d6-4136-97b7-b8eab86c0e9e","name":"Sticky Note15"},{"parameters":{"url":"={{ $json['output.mensagens'] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9260,-240],"id":"76b1c935-0f59-4f57-8322-d861c5d13514","name":"Download Imagens","alwaysOutputData":true},{"parameters":{"jsCode":"const items = [];\n\n// Acessa diretamente o primeiro item de entrada do nó Code.\n// Isso assume que o nó anterior (Info) SEMPRE produz pelo menos um item.\nconst inputItem = $input.first().json; // Pega o JSON do primeiro item de entrada\n\nlet originalPhoneNumber = inputItem.telefone; // Pega o telefone original\nlet telefoneEvolution = ''; // Variável para o telefone formatado\n\ntry {\n    if (originalPhoneNumber) {\n        // Remove caracteres especiais e espaços em branco\n        telefoneEvolution = originalPhoneNumber.replace(/[\\+\\/\\-\\(\\)\\s]/g, '') + '@s.whatsapp.net';\n    } else {\n        console.warn(\"A propriedade 'telefone' não foi encontrada ou está vazia no item de entrada:\", inputItem);\n        telefoneEvolution = \"5500000000000@s.whatsapp.net\"; // Fallback\n    }\n} catch (e) {\n    console.error(\"Erro ao processar o item de entrada:\", e.message, \"Item:\", inputItem);\n    telefoneEvolution = \"5500000000000@s.whatsapp.net\"; // Fallback em caso de erro\n}\n\n// Cria uma CÓPIA do item original de entrada\nconst newItem = { ...inputItem }; \n\n// Adiciona a nova variável formatada ao item copiado\nnewItem.telefone_evolution = telefoneEvolution;\n\n// Adiciona o item modificado ao array de saída do nó Code\n// Como estamos processando apenas um item, o array 'items' terá apenas um elemento.\nitems.push({ json: newItem });\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3520,660],"id":"00be3545-7008-4237-8ac7-65b4c8c13b45","name":"Code Telefone Evo"},{"parameters":{"jsCode":"const items = [];\n\n// 1. Acessar os dados binários do item atual\n// O nó 'Download Imagens' envia 1 item com os dados binários anexados.\n// '$input.item' refere-se ao objeto do item atual que está sendo processado.\nconst binaryObjectKeys = Object.keys($input.item.binary);\n\nif (binaryObjectKeys.length > 0) {\n    const binaryKey = binaryObjectKeys[0]; // Pega a primeira chave de dados binários (geralmente 'data')\n    const binaryData = $input.item.binary[binaryKey]; // Obtém o objeto binário ({ mimeType, fileName, data: Buffer })\n\n    const mimeType = binaryData.mimeType;\n    const fileName = binaryData.fileName;\n\n    // 2. Determinar mediaType a partir do mimeType\n    let mediaType = '';\n    if (mimeType.startsWith('image/')) {\n        mediaType = 'image';\n    } else if (mimeType.startsWith('video/')) {\n        mediaType = 'video';\n    } else if (mimeType.startsWith('audio/')) {\n        mediaType = 'audio';\n    } else if (mimeType === 'application/pdf') {\n        mediaType = 'document';\n    } else {\n        // Tipo padrão caso não corresponda a nenhum dos acima\n        mediaType = 'document'; // Ou 'other', 'unknown', dependendo da sua necessidade\n    }\n\n    // 3. Preparar o JSON para o sendMedia da Evolution API\n    const outputJson = {\n        mediaType: mediaType,\n        mimeType: mimeType,\n        caption: \"\", // Manter vazio ou adicionar lógica para legenda\n        media: binaryData.data, // O dado Base64\n        fileName: fileName\n    };\n\n    items.push({ json: outputJson });\n\n} else {\n    console.warn(\"No binary data found in the input item from 'Download Imagens'.\");\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[9440,-240],"id":"f24271e7-027a-453d-8f66-9d3d8e11cbaa","name":"Dados imagem","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"c8fd010d-6096-4a50-b3e2-e9fe26661840","name":"id_mensagem","value":"={{ $json.body.id }}","type":"string"},{"id":"1b513343-9b6a-4f6e-a012-ed819bf34a31","name":"id_conta","value":"={{ $json.body.account.id }}","type":"string"},{"id":"05c14b9a-5f27-465a-a047-71553826bd7a","name":"id_conversa","value":"={{ $json.body.conversation.id }}","type":"string"},{"id":"8bf522a6-75fb-434a-854c-b736539309e1","name":"telefone","value":"={{ $json.body.sender.phone_number }}","type":"string"},{"id":"0d622a33-f313-4758-a764-fa6cbf2b0587","name":"mensagem","value":"={{ $json.body.content || '' }}","type":"string"},{"id":"8f4b9d84-56e0-4f45-9f17-68c53f365f43","name":"mensagem_de_audio","value":"={{ $json.body.conversation.messages[0].attachments[0].file_type?.includes('audio') || false }}","type":"boolean"},{"id":"2b679a3f-788f-4cd2-88d5-4f03af68f224","name":"timestamp","value":"={{ $json.body.created_at }}","type":"string"},{"id":"24caf88e-74ce-43ab-8dc4-1fff471b706f","name":"tipo","value":"={{ $json.body.message_type }}","type":"string"},{"id":"573669d2-1e43-4010-8c82-a67459ffe1db","name":"etiquetas","value":"={{ $json.body.conversation.labels }}","type":"array"},{"id":"40ff895f-f63f-4e4f-bba3-c7d803c277f1","name":"url_chatwoot","value":"https://chatwoot.alcateia.site","type":"string"},{"id":"cf71dea1-d585-4235-8f05-29bc5f82b5df","name":"telegram_chat_id","value":"5919539323","type":"string"},{"id":"86076909-9699-4941-85f5-d3c972867965","name":"LeadNome","value":"={{ $json.body.conversation.messages[0].sender.name }}","type":"string"},{"id":"fcfa2a5a-6f08-4b4c-ada7-6667676c1310","name":"tipo_de_mensagem","value":"={{ $json.body.attachments[0].file_type }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3340,660],"id":"1bdca8b3-62e4-45c6-99ad-bd12ff1dbd61","name":"Dados iniciais"},{"parameters":{"assignments":{"assignments":[{"id":"c1ce011b-bd95-468e-863e-f2076f644cf9","name":"Texto","value":"={{ $json.mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4140,320],"id":"f4e0cb2b-08f3-4991-b863-94a4b403be37","name":"Mensagem Texto","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ca54eae-15d1-49d3-af33-7a6e5d17b833","leftValue":"={{ $json.tipo }}","rightValue":"incoming","operator":{"type":"string","operation":"equals"}},{"id":"82912d66-ee4b-439c-9d55-96090bc6ba62","leftValue":"={{ $json.etiquetas }}","rightValue":"agente-off","operator":{"type":"array","operation":"notContains","rightType":"any"}},{"id":"18b883c3-a753-45cd-9a4d-cb1235ea9bb8","leftValue":"={{ $json.etiquetas }}","rightValue":"testando-agente","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[3700,660],"id":"4a20fca5-c383-4068-bee9-e848a18817e9","name":"Filtro etiquetas"},{"parameters":{"operation":"push","list":"={{ $('Dados iniciais').item.json.id_conversa }}_buffer","messageData":"={{ $json.Texto }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4700,320],"id":"e5cca2e9-13ae-4940-bb4c-51d000c7da53","name":"Add Texto Buffer","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Dados iniciais').item.json.id_conversa }}_buffer","messageData":"={{ $json.text }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4700,500],"id":"31c894bd-9c2a-45dc-893c-e7585c1bde81","name":"Add Audio Buffer","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Dados iniciais').item.json.id_conversa }}_buffer","messageData":"=<ContextoImagem>\n\n  <DetalheImagem>\n{{ $json.content }}\n  </DetalheImagem>\n\nContexto Extra: O usuário encaminhou a mensagem a seguir junto á imagem.\n  <MensagemUsuario>\n{{ $('Mensagem Imagem').item.json.MensagemImagem }}\n  </MensagemUsuario>\n\n</ContextoImagem>","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4700,660],"id":"b7d2c904-b589-402c-8fef-e167bd7e87c3","name":"Add Imagem Buffer","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Dados iniciais').item.json.id_conversa }}_buffer","messageData":"=<ContextoPDF>\n  <TranscricaoPDF>\n{{ $json.text }}\n  </TranscricaoPDF>\nContexto Extra: O usuário encaminhou a mensagem a seguir junto ao PDF.\n  <MensagemUsuario>\n{{ $('Mensagem Documento PDF').item.json.MensagemDocumento }}\n  </MensagemUsuario>\n</ContextoPDF>","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4700,820],"id":"f817ae75-81b8-4dae-a79e-accf670b9428","name":"Add PDF Buffer","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Dados iniciais').item.json.id_conversa }}_buffer","messageData":"={{ $json.Erro }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4700,1000],"id":"3438df9f-9ec1-4113-97ac-37ba6872bfbd","name":"Add Error Buffer","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5080,660],"id":"01f33051-e285-4f57-b323-e0d969cdcf09","name":"Espera","webhookId":"169ea291-c3dc-4bca-854f-05520c979d7d","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('Dados iniciais').item.json.id_conversa }}_buffer","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5260,660],"id":"72284aa0-c922-413d-bb0b-a4f44ea50c4e","name":"Buffer 2","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bd6c365-d077-4284-9dfe-94db1cbe39bd","leftValue":"={{ $('Buffer 2').item.json.messages.last() }}","rightValue":"={{ $('Buffer ').item.json.messages.last() }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5440,660],"id":"ff1e35d3-c58a-47d0-bb97-882e2a8630fe","name":"Comparar Mensagens","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"delete","key":"={{ $('Dados iniciais').item.json.id_conversa }}_buffer"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5620,560],"id":"0379f24a-e117-4d0b-a46e-a35a4fe7a32e","name":"Apagar Buffer","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5620,760],"id":"b30c5b17-13a8-484f-909f-a1165b26b6d0","name":"Finalizar I","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"sseEndpoint":"https://webhook.alcateia.site/mcp/4d5dd8dd-714a-48aa-881d-b33e3b5ce061/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[7340,820],"id":"525c5c66-08ce-46cf-95d1-bd6c8a0cefde","name":"MCP Google Calendar I","onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[9060,-240],"id":"b84437f4-9904-43b7-913d-76f415a5ce56","name":"Finalizar II","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[9320,980],"id":"46e65aa2-4b67-481d-96a9-0f805bbeb61f","name":"Finalizar III","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.mensagens","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[8620,-140],"id":"353ca1ea-c2c9-4f44-ad94-687cf1778836","name":"Split Out II","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.mensagens","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[8880,1120],"id":"92d2db7d-bb8d-4398-9afe-21c0a2acd2b7","name":"Split Out I","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mensagens\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"mensagens\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[8840,1460],"id":"54c403d5-42f1-42b8-ba2b-df13d5cc7074","name":"Estruturar Mensagem I","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mensagens\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"mensagens\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[8580,200],"id":"cdf548d8-4150-4966-bf12-7f16fb47cfa7","name":"Estruturar Mensagem II","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini-2025-04-14","mode":"list","cachedResultName":"gpt-4.1-mini-2025-04-14"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[6920,820],"id":"2c583af6-1ba6-44de-a6be-7bde014e2a60","name":"OpenAI Chat Model I","credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini-2025-04-14","mode":"list","cachedResultName":"gpt-4.1-mini-2025-04-14"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[8540,740],"id":"6f89eff2-5d52-4336-9563-bf3c217cd411","name":"OpenAI Chat Model II","credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini-2025-04-14","mode":"list","cachedResultName":"gpt-4.1-mini-2025-04-14"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[8560,1460],"id":"bc9c6bb7-f759-4041-9312-0f6dc03a865b","name":"OpenAI Chat Model III","credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini-2025-04-14","mode":"list","cachedResultName":"gpt-4.1-mini-2025-04-14"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[8300,200],"id":"8f835e60-f55d-4387-a22d-08f2299d0753","name":"OpenAI Chat Model IV","credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1a9a1693-5367-488b-b108-8e4c8f64295e","leftValue":"={{ $json.output }}","rightValue":"https","operator":{"type":"string","operation":"contains"}},{"id":"078ba925-dacd-4aa5-a5cc-1a7022178cf5","leftValue":"={{ $json.output }}","rightValue":"CPF","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7940,560],"id":"70042f95-9e68-4e22-b082-4192e3d61665","name":"If I"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"923973fc-ee6e-4ce6-9b80-f252fa21f451","leftValue":"={{ $json['output.mensagens'] }}","rightValue":".jpeg","operator":{"type":"string","operation":"contains"}},{"id":"575fd8b6-afaf-4083-b64c-6ff42f6400d6","leftValue":"={{ $json['output.mensagens'] }}","rightValue":".jpg","operator":{"type":"string","operation":"contains"}},{"id":"9c4c092a-46c5-4fe8-b360-3bd893016c6e","leftValue":"={{ $json['output.mensagens'] }}","rightValue":".png","operator":{"type":"string","operation":"contains"}},{"id":"efb952ad-6c79-4e6c-9892-2755dc296e8a","leftValue":"={{ $json['output.mensagens'] }}","rightValue":".gif","operator":{"type":"string","operation":"contains"}},{"id":"d7446490-1687-4ace-854c-393f34ab0481","leftValue":"={{ $json['output.mensagens'] }}","rightValue":".bmp","operator":{"type":"string","operation":"contains"}},{"id":"7f1bd32d-acc2-46a3-b7ab-0cba70f3b99e","leftValue":"={{ $json['output.mensagens'] }}","rightValue":".webp","operator":{"type":"string","operation":"contains"}},{"id":"fcb6ed63-fa64-4214-bb90-413141e49fb0","leftValue":"={{ $json['output.mensagens'] }}","rightValue":".tiff","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[9060,-40],"id":"33a31c01-e77a-4ccb-bf07-ae569fa7319f","name":"If II"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[9120,1120],"id":"3182f7ea-5b28-4b91-8772-b8973f4a9e25","name":"Loop Over Items I","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[8880,-140],"id":"bffc0222-cecc-4abf-8a31-64859e492f62","name":"Loop Over Items II","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"method":"POST","url":"https://api.alcateia.site/chat/sendPresence/giaguess","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"+5514998011995\",\n    \"delay\": 5000,\n    \"presence\": \"composing\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9540,1440],"id":"40b2bbbd-55cb-4656-9a78-d9ffeaf71680","name":"Escrevendo I","credentials":{"httpBasicAuth":{"id":"jNIpg9MjDA7hwALA","name":"API Teste Guess On Demand"},"httpHeaderAuth":{"id":"qYDXV9jlVfAFDRVn","name":"Evo API"}}},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n{{ $json.output }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Apenas estruture a <mensagem_do_usuario> no formato JSON solicitado no output parser e seguindo as instruções de formatação abaixo. Não altere nada mais na mensagem\n\n# Exceção\n- Mensagens que solicitam informações e dados de cliente NÂO devem ser enviadas separadamente e sim em apenas UMA ÚNICA mensagem.\n\n# Formatação\n- Divida as mensagens para que fiquem naturais e humanizadas;\n- Remova markdowns;\n- Divida as mensagens conforme estrutura do output parser para que não fiquem muito longas, mas analise e com exceção das mensagens que contém imagens, cuide para que não sejam enviadas muitas mensagens quebradas, use o bom senso e tente não enviar mais do que três sempre que possível, porém agrupando elas dentro do contexto;\n- As mensagens que possuem links de imagens devem ter o link da imagem sendo enviado em uma mensagem individual logo em seguida à mensagem que possui o texto que a complementa;\n- Sempre envie ao menos duas imagens relacionadas à opção de hospedagem;\n- A primeira mensagem informativa da opção de hospedagem já deve conter o link do site da hospedagem;\n- Sempre encaminhade todos os links e mensagens relacionados à uma opção de hospedagem antes de iniciar o envio de mensagens relacionados à outra opção de hospedagem;\n- Mensagens de informações de hospedagens devem ser enviadas em uma única mensagem separada por tópicos sobre cada característica da hospedagem e não se esqueça da formatação para quebra de linhas em cada tópico (\\n\\n);\n- Somente ao final, informe que pode auxiliar, caso o cliente deseje mais informações;\n- Não separe mensagens vazias;\n- Use quebras de linhas (\\n\\n) após pontos finais;\n- Para negrito (bold) use apenas um '' nunca duas '' (exemplo: *negrito).\n\nExemplo de formato JSON:\n{\n\"mensagens\": [\"Mensagem 0\", \"Mensagem 1\", \"Mensagem 2\"]\n}\n\nExemplo em formato JSON de padrão de resposta que deve ser seguido:\n\n{\n  \"output\": {\n    \"mensagens\": [\n      \"Aqui estão duas opções de hospedagem disponíveis em Marília para dois adultos nos dias 1 e 2 de janeiro de 2026:\\n\\n*Apartamento no Jardim Maria Izabel* - Para mais detalhes visite o site: https://modelo03.guesstecnologia.com.br//imovel/apartamento-locacao-marilia/L3/\\n\\nCaracterísticas:\\n- Endereço: Rua Mecenas Pinto Bueno, 256, Jardim Maria Izabel, Marília - SP\\n- Quartos: 3 (sendo 1 suíte)\\n- Banheiros: 2\\n- Vagas de garagem: 3\\n- Valor da diária: R$ 235,00 (taxa no fim de semana: R$ 350,00)\\n- Descrição: Acomoda até 5 pessoas.\\n- Check-in: 05:00\\n- Check-out: 03:00\\n,\n      \"https://fotos-imoveis.guesstecnologia.com.br/files/guessWeb/album/LOCACAO/000003-20230724165035514.jpg\",\n      \"https://fotos-imoveis.guesstecnologia.com.br/files/guessWeb/album/LOCACAO/000003-20230724165036546.jpg\",\n      \"*Casa na Chácara De Recreio Leticia II* - Para mais detalhes visite o site: https://modelo03.guesstecnologia.com.br//imovel/casa-locacao-marilia/L4/\\n\\nCaracterísticas:\\n- Endereço: Rua Maria Aparecida Donatti, 23, Chacara De Recreio Leticia II, Marília - SP\\n- Quartos: 6 (3 suítes)\\n- Banheiros: 5\\n- Vagas de garagem: 6\\n- Valor da diária: R$ 350,00 (taxa no fim de semana: R$ 500,00)\\n- Descrição: Chácara de veraneio ideal, totalmente mobiliada, com cômodos amplos e piscina de borda infinita.\\n- Check-in: 15:00\\n- Check-out: 12:00\\n\\nLinks importantes:\\n,\n      \"https://fotos-imoveis.guesstecnologia.com.br/files/guessWeb/album/VENDA/00004-20200107121739498.jpg\",\n      \"https://fotos-imoveis.guesstecnologia.com.br/files/guessWeb/album/VENDA/00004-20200107121740925.jpg\",\n      \"Se precisar de mais informações ou quiser prosseguir com a reserva, estou à disposição!\"\n    ]\n  }\n}\n\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[8280,-140],"id":"c2721b8b-a8a1-4c22-bce2-da7b4fbf78c5","name":"Formatar HTTP"},{"parameters":{"promptType":"define","text":"={{ $('Atendente').item.json.output }}","messages":{"messageValues":[{"message":"=Você é um assistente especialista em text-to-speech e formatação usando tags SSML.\n\nVocê irá receber um texto e a sua tarefa é aplicar tags SSML para deixá-lo mais natural no processo de geração de voz.\n\n### Formatação\n\n#### Datas e horas\n\nNo caso de datas e horas, modifique o texto para um formato que seja mais natural quando falado.\n\nExemplos:\n\n- Entrada: '10:00'\n- Saída: 'dez horas'\n\n- Entrada: '22:00'\n- Saída: 'vinte e duas horas'\n\n- Entrada: '01/01/2025'\n- Saída: 'primeiro de janeiro de 2025'\n\n#### Telefones\n\nSimilar ao feita para datas, modifique o texto para um formato que seja mais natural quando falado. Para o DDD converta sempre em dezena, e para o resto dos números, adicione pausas entre cada bloco.\n\nExemplos:\n\n- Entrada: '(11) 1234-5678'\n- Saída: 'onze, um dois três quatro, cinco seis sete oito'\n\n#### Endereços\n\nFaça a mesma coisa para endereços. Exemplos:\n\n- Entrada: 'Av. Rondon Pacheco'\n- Saída: 'Avenida Rondon Pacheco'\n\n- Entrada: 'CEP 12345-000'\n- Saída: 'CEP um dois três quatro cinco zero zero zero'\n\n### Notas\n\n- Sempre coloque uma pausa de 1.0s no começo.\n- Não use breaks no meio do texto, apenas no começo.\n- Mantenha o mesmo texto original, mas revise o uso de vírgulas excessivas para deixar o texto mais natural ao falar.\n- Remova emojis.\n- A sua saída será somente o texto convertido.\n- Use <speak> ao redor da saída.\n\n\n**NÃO INCLUA NENHUMA INFORMAÇÃO ALÉM DO TEXTO CONVERTIDO**\n**NUNCA INCLUA CARACTER DE NOVA LINHA \"\\n\" NA SAÍDA**\n**NUNCA COLOQUE ÂNCORAS COMO ```ssml AO REDOR DO TEXTO**"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[8540,560],"id":"9e1fbaa0-8b68-4d08-aa9c-5e9630793b6e","name":"Formatar Áudio"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[8640,1300],"id":"bc761ef6-49f8-460c-adc8-cbfdea73e5e8","name":"Auto-fixing Output Parser I","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[8380,40],"id":"9902abc3-cc4d-424c-847c-c7e8ca58c0c6","name":"Auto-fixing Output Parser II","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"method":"POST","url":"https://api.alcateia.site/chat/sendPresence/giaguess","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"+5514998011995\",\n    \"delay\": 1000,\n    \"presence\": \"composing\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9840,180],"id":"6a3a6166-2bde-4a64-98c5-106a3bceaebd","name":"Escrevendo II","credentials":{"httpBasicAuth":{"id":"jNIpg9MjDA7hwALA","name":"API Teste Guess On Demand"},"httpHeaderAuth":{"id":"qYDXV9jlVfAFDRVn","name":"Evo API"}}},{"parameters":{"method":"POST","url":"https://api.alcateia.site/message/sendMedia/giaguess","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"91DFB87FE38C-4C56-A390-E21183CF1DA5"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Dados iniciais').item.json.telefone }}\",\n  \"mediatype\": \"{{ $('Dados imagem').item.json.mediaType }}\",\n  \"mimetype\": \"{{ $('Dados imagem').item.json.mimeType }}\",\n  \"caption\": \"{{ $('Dados imagem').item.json.caption }}\",\n  \"media\": \"{{ $('Download Imagens').item.json['output.mensagens'] }}\",\n  \"fileName\": \"{{ $('Dados imagem').item.json.fileName }}\"\n}","options":{}},"id":"e67e0485-d876-48de-86f4-a2cb2d6409b2","name":"(EVO) Enviar Midia","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9640,-40],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"method":"POST","url":"https://api.alcateia.site/message/sendText/giaguess","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"91DFB87FE38C-4C56-A390-E21183CF1DA5"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Dados iniciais').item.json.telefone }}"},{"name":"text","value":"={{ $json['output.mensagens'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9260,180],"id":"ef05432f-2f8a-41b2-ae93-950827dc409f","name":"(EVO) Enviar Texto"},{"parameters":{"method":"POST","url":"={{ $('Dados iniciais').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Dados iniciais').item.json.id_conta }}/conversations/{{ $('Dados iniciais').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"is_recorded_audio","value":"=[\"{{ $binary.data.fileName }}\"]"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9040,560],"id":"cd27feb7-14d2-44b7-aa3b-3d46c39c6efd","name":"Enviar áudio Chatwoot","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"assignments":{"assignments":[{"id":"11dc126a-e72e-431b-8db5-c78168c69439","name":"Erro","value":"<ErroFormatoMensagem>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4140,1000],"id":"7dca2719-a0a9-4ee7-9d81-5d695b34917a","name":"Mensagem Erro","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"toBinary","sourceProperty":"Documento","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[4320,820],"id":"0fac2e77-0fab-46f9-a9f5-3c65838ac404","name":"Convert PDF to base64"},{"parameters":{"content":"## Tipo de resposta","height":460,"width":260,"color":5},"type":"n8n-nodes-base.stickyNote","position":[8200,420],"typeVersion":1,"id":"01f6be0b-6c00-42c0-9e08-0a1594df4e06","name":"Sticky Note1"}],"connections":{"Buffer ":{"main":[[{"node":"Espera","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Add PDF Buffer","type":"main","index":0}]]},"Mensagem Documento PDF":{"main":[[{"node":"Convert PDF to base64","type":"main","index":0}]]},"Gerar áudio":{"main":[[{"node":"Enviar áudio Chatwoot","type":"main","index":0}]]},"Enviar texto Chatwoot":{"main":[[{"node":"Escrevendo I","type":"main","index":0}]]},"Mensagem recebida":{"main":[[{"node":"Dados iniciais","type":"main","index":0}]]},"Encontrar Cliente":{"main":[[{"node":"Cliente Existe?","type":"main","index":0}]]},"Cliente Existe?":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Criar Cliente","type":"main","index":0}]]},"Criar Cliente":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Atendente","type":"main","index":0}]]},"Listar arquivos":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Baixar e enviar arquivo":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Enviar alerta de cancelamento":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Memory":{"ai_memory":[[{"node":"Atendente","type":"ai_memory","index":0}]]},"Refletir":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Escalar humano":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Atendente":{"main":[[{"node":"If I","type":"main","index":0}]]},"Hospedagens":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Tipo de mensagem":{"main":[[{"node":"Formatar Áudio","type":"main","index":0}],[{"node":"Formatar Texto","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Mensagem Texto","type":"main","index":0}],[{"node":"Mensagem Audio","type":"main","index":0}],[{"node":"Mensagem Imagem","type":"main","index":0}],[{"node":"Mensagem Documento PDF","type":"main","index":0}],[{"node":"Mensagem Erro","type":"main","index":0}]]},"Mensagem":{"main":[[{"node":"Encontrar Cliente","type":"main","index":0}]]},"Download áudio":{"main":[[{"node":"Transcrever áudio","type":"main","index":0}]]},"Transcrever áudio":{"main":[[{"node":"Add Audio Buffer","type":"main","index":0}]]},"Formatar Texto":{"main":[[{"node":"Split Out I","type":"main","index":0}]]},"Mensagem Audio":{"main":[[{"node":"Download áudio","type":"main","index":0}]]},"Mensagem Imagem":{"main":[[{"node":"Download imagem","type":"main","index":0}]]},"Descrever imagem":{"main":[[{"node":"Add Imagem Buffer","type":"main","index":0}]]},"Download imagem":{"main":[[{"node":"Descrever imagem","type":"main","index":0}]]},"Pesquisa imovel":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Download Imagens":{"main":[[{"node":"Dados imagem","type":"main","index":0}]]},"Code Telefone Evo":{"main":[[{"node":"Filtro etiquetas","type":"main","index":0}]]},"Dados imagem":{"main":[[{"node":"(EVO) Enviar Midia","type":"main","index":0}]]},"Dados iniciais":{"main":[[{"node":"Code Telefone Evo","type":"main","index":0}]]},"Mensagem Texto":{"main":[[{"node":"Add Texto Buffer","type":"main","index":0}]]},"Filtro etiquetas":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Add Texto Buffer":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Add Audio Buffer":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Add Imagem Buffer":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Add PDF Buffer":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Add Error Buffer":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Espera":{"main":[[{"node":"Buffer 2","type":"main","index":0}]]},"Buffer 2":{"main":[[{"node":"Comparar Mensagens","type":"main","index":0}]]},"Comparar Mensagens":{"main":[[{"node":"Apagar Buffer","type":"main","index":0}],[{"node":"Finalizar I","type":"main","index":0}]]},"Apagar Buffer":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"MCP Google Calendar I":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Split Out II":{"main":[[{"node":"Loop Over Items II","type":"main","index":0}]]},"Split Out I":{"main":[[{"node":"Loop Over Items I","type":"main","index":0}]]},"Estruturar Mensagem I":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser I","type":"ai_outputParser","index":0}]]},"Estruturar Mensagem II":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser II","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model I":{"ai_languageModel":[[{"node":"Atendente","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model II":{"ai_languageModel":[[{"node":"Formatar Áudio","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model III":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser I","type":"ai_languageModel","index":0},{"node":"Formatar Texto","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model IV":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser II","type":"ai_languageModel","index":0},{"node":"Formatar HTTP","type":"ai_languageModel","index":0}]]},"If I":{"main":[[{"node":"Formatar HTTP","type":"main","index":0}],[{"node":"Tipo de mensagem","type":"main","index":0}]]},"If II":{"main":[[{"node":"Download Imagens","type":"main","index":0}],[{"node":"(EVO) Enviar Texto","type":"main","index":0}]]},"Loop Over Items I":{"main":[[{"node":"Finalizar III","type":"main","index":0}],[{"node":"Enviar texto Chatwoot","type":"main","index":0}]]},"Loop Over Items II":{"main":[[{"node":"Finalizar II","type":"main","index":0}],[{"node":"If II","type":"main","index":0}]]},"Escrevendo I":{"main":[[{"node":"Loop Over Items I","type":"main","index":0}]]},"Formatar HTTP":{"main":[[{"node":"Split Out II","type":"main","index":0}]]},"Formatar Áudio":{"main":[[{"node":"Gerar áudio","type":"main","index":0}]]},"Auto-fixing Output Parser I":{"ai_outputParser":[[{"node":"Formatar Texto","type":"ai_outputParser","index":0}]]},"Auto-fixing Output Parser II":{"ai_outputParser":[[{"node":"Formatar HTTP","type":"ai_outputParser","index":0}]]},"Escrevendo II":{"main":[[{"node":"Loop Over Items II","type":"main","index":0}]]},"(EVO) Enviar Midia":{"main":[[{"node":"Escrevendo II","type":"main","index":0}]]},"(EVO) Enviar Texto":{"main":[[{"node":"Escrevendo II","type":"main","index":0}]]},"Mensagem Erro":{"main":[[{"node":"Add Error Buffer","type":"main","index":0}]]},"Convert PDF to base64":{"main":[[{"node":"Extract from File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gatilho diário":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Mensagem recebida":[{"json":{"headers":{"host":"webhook.alcateia.site","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34","content-length":"4795","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"104.197.241.222","x-forwarded-host":"webhook.alcateia.site","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"e64c89d1f606","x-real-ip":"104.197.241.222"},"params":{},"query":{},"body":{"account":{"id":1,"name":"Guess Imóveis"},"additional_attributes":{},"content_attributes":{},"content_type":"text","content":"E para os dias 23 e 24/07","conversation":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Api","contact_inbox":{"id":368,"contact_id":2,"inbox_id":6,"source_id":"2228e0a4-08da-4a18-9120-4d57159463de","created_at":"2025-07-17T20:35:12.596Z","updated_at":"2025-07-17T20:35:12.596Z","hmac_verified":false,"pubsub_token":"EZ8cGEnWAYjaBBEAph6hpR4k"},"id":227,"inbox_id":6,"messages":[{"id":25149,"content":"E para os dias 23 e 24/07","account_id":1,"inbox_id":6,"conversation_id":227,"message_type":0,"created_at":1753120729,"updated_at":"2025-07-21T17:58:49.203Z","private":false,"status":"sent","source_id":"WAID:3EB07ACEFAFF69663D0870","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":2,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"E para os dias 23 e 24/07","sentiment":{},"conversation":{"assignee_id":null,"unread_count":4,"last_activity_at":1753120729,"contact_inbox":{"source_id":"2228e0a4-08da-4a18-9120-4d57159463de"}},"sender":{"additional_attributes":{"city":"","country":"","description":"","company_name":"Guess","country_code":"","social_profiles":{"github":"","twitter":"","facebook":"","linkedin":"","instagram":""}},"custom_attributes":{},"email":null,"id":2,"identifier":"5514998011995@s.whatsapp.net","name":"Meu Numero","phone_number":"+5514998011995","thumbnail":"https://chatwoot.alcateia.site/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcVlMIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--cea273cc6032ac1ec85af6eea168a0d3aefef922/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--31b331bce7537787e9b12023efe058f796e66674/483679741_1713496149230203_4406297644768091166_n.jpg","blocked":false,"type":"contact"}}],"labels":["testando-agente","2-retorno"],"meta":{"sender":{"additional_attributes":{"city":"","country":"","description":"","company_name":"Guess","country_code":"","social_profiles":{"github":"","twitter":"","facebook":"","linkedin":"","instagram":""}},"custom_attributes":{},"email":null,"id":2,"identifier":"5514998011995@s.whatsapp.net","name":"Meu Numero","phone_number":"+5514998011995","thumbnail":"https://chatwoot.alcateia.site/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcVlMIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--cea273cc6032ac1ec85af6eea168a0d3aefef922/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--31b331bce7537787e9b12023efe058f796e66674/483679741_1713496149230203_4406297644768091166_n.jpg","blocked":false,"type":"contact"},"assignee":null,"team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":4,"first_reply_created_at":"2025-07-17T20:35:27.811Z","priority":null,"waiting_since":1753120729,"agent_last_seen_at":1753118998,"contact_last_seen_at":1753119803,"last_activity_at":1753120729,"timestamp":1753120729,"created_at":1752784512,"updated_at":1753120729.5720382},"created_at":"2025-07-21T17:58:49.203Z","id":25149,"inbox":{"id":6,"name":"Guess Imóveis"},"message_type":"incoming","private":false,"sender":{"account":{"id":1,"name":"Guess Imóveis"},"additional_attributes":{"city":"","country":"","description":"","company_name":"Guess","country_code":"","social_profiles":{"github":"","twitter":"","facebook":"","linkedin":"","instagram":""}},"avatar":"https://chatwoot.alcateia.site/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcVlMIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--cea273cc6032ac1ec85af6eea168a0d3aefef922/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--31b331bce7537787e9b12023efe058f796e66674/483679741_1713496149230203_4406297644768091166_n.jpg","custom_attributes":{},"email":null,"id":2,"identifier":"5514998011995@s.whatsapp.net","name":"Meu Numero","phone_number":"+5514998011995","thumbnail":"https://chatwoot.alcateia.site/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcVlMIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--cea273cc6032ac1ec85af6eea168a0d3aefef922/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--31b331bce7537787e9b12023efe058f796e66674/483679741_1713496149230203_4406297644768091166_n.jpg","blocked":false},"source_id":"WAID:3EB07ACEFAFF69663D0870","event":"message_created"},"webhookUrl":"https://webhook.alcateia.site/webhook/7f3f832b-8869-4b78-a90b-72d49f9af411","executionMode":"production"}}]},"versionId":"edbaa183-590c-44ad-9ec3-a14c60ef4cb2","triggerCount":1,"tags":[]}
