workflows/2_-_Guess_Imveis_01_Atendente_Evo_API.json
{"createdAt":"2025-07-17T18:48:27.742Z","updatedAt":"2025-07-17T20:04:20.662Z","id":"XfTn2xmBsnfqkfLE","name":"2 - Guess Imóveis 01. Atendente Evo API","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bd6c365-d077-4284-9dfe-94db1cbe39bd","leftValue":"={{ $('Buffer 3').item.json.messages.last() }}","rightValue":"={{ $('Buffer ').item.json.messages.last() }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4740,660],"id":"a2923164-dfce-4a76-992c-df9c67870518","name":"ComparandoMensagens1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('Info').item.json.id_conversa }}_buffer","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4080,660],"id":"5a3bb966-b1a6-431d-9ca4-f8d574c9336f","name":"Buffer ","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('Info').item.json.id_conversa }}_buffer","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4520,660],"id":"d2de9c20-86da-45a0-9a31-fe31eeb89c8e","name":"Buffer 3","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Info').item.json.IdConversa }}_buffer","messageData":"={{ $json.Texto }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3800,260],"id":"2bb4b1b8-7b85-40fe-aeef-1e5200dcc4e1","name":"Add Texto Buffer1","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"delete","key":"={{ $('Info').item.json.id_conversa }}_buffer"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4960,560],"id":"62437b84-73ef-4749-8735-29de93784882","name":"Apagar Buffer1","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"c1ce011b-bd95-468e-863e-f2076f644cf9","name":"Texto","value":"={{ $('Mensagem recebida').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3020,260],"id":"134bb444-741f-4209-8d2f-fbb422a277cc","name":"Mensagem Texto1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Info').item.json.id_conversa }}_buffer","messageData":"={{ $json.text }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3800,580],"id":"24c0738e-2c2a-4f30-8367-9252cf615f3f","name":"Add Audio Buffer1","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Info').item.json.id_conversa }}_buffer","messageData":"={{ $json.Erro }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3800,1080],"id":"775e1a05-1baa-48f8-8143-9e8db1229593","name":"Add Error Buffer1","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3500,900],"id":"1cb774ff-ff72-4f14-b310-d538d3a87ba3","name":"Extract from File","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"11dc126a-e72e-431b-8db5-c78168c69439","name":"Erro","value":"<ErroFormatoMensagem>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3020,1080],"id":"b464b393-7e62-4be4-abed-39d430acb3b1","name":"Mensagem Erro1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Info').item.json.id_conversa }}_buffer","messageData":"=<ContextoPDF>\n  <TranscricaoPDF>\n{{ $json.text }}\n  </TranscricaoPDF>\nContexto Extra: O usuário encaminhou a mensagem a seguir junto ao PDF.\n  <MensagemUsuario>\n{{ $('Mensagem Documento PDF').item.json.MensagemDocumento }}\n  </MensagemUsuario>\n</ContextoPDF>","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3800,900],"id":"a2f06d9c-56db-4698-a5c1-b9c6b89127ba","name":"Add PDF Buffer1","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Info').item.json.id_conversa }}_buffer","messageData":"=<ContextoImagem>\n\n  <DetalheImagem>\n{{ $json.content }}\n  </DetalheImagem>\n\nContexto Extra: O usuário encaminhou a mensagem a seguir junto á imagem.\n  <MensagemUsuario>\n{{ $('Mensagem Imagem').item.json.MensagemImagem }}\n  </MensagemUsuario>\n\n</ContextoImagem>","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3800,740],"id":"0dd6696f-7e23-47a7-8126-81aa747099c3","name":"Add Imagem Buffer1","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.mensagens","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[9000,540],"id":"27086309-dfdc-4ae5-a3fe-689807558a1c","name":"Split Out1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[9320,540],"id":"8ad4541d-7211-450a-a443-3ced8c9cf4ad","name":"Loop Over Items1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[9900,820],"id":"0969e603-3267-48dd-a1e2-c269109c3e91","name":"Wait3","webhookId":"730412ce-4e1f-496e-a70b-3943cfc57603","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[9620,360],"id":"04e20ed6-1166-456d-9456-287bc32b5be6","name":"No Operation, do nothing5","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4960,760],"id":"5abad3e9-bc3f-4b01-ac37-f9bc2953fb6f","name":"No Operation, do nothing6","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini-2025-04-14","mode":"list","cachedResultName":"gpt-4.1-mini-2025-04-14"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[8680,880],"id":"14f9f2e2-ce68-4364-81bb-35043105774e","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}}},{"parameters":{"content":"## Registro do Lead no banco de dados (Supabase)\n","height":540,"width":1080,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5540,380],"id":"aab1ae5a-c930-406f-99f6-f06d08c49f26","name":"Sticky Note7"},{"parameters":{"content":"## Tratamento de Mensagens\n","height":1220,"width":1020,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2680,60],"id":"8f12f6e7-7b27-4748-8882-6b560a449084","name":"Sticky Note8"},{"parameters":{"content":"## Buffer de Mensagens\n","height":1220,"width":1440,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3720,60],"id":"76d249ff-7866-44ad-b6de-6e740a724b22","name":"Sticky Note9"},{"parameters":{"content":"## Mensagem para o Agente\n","height":540,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5180,380],"id":"ef045806-d405-4a7e-a024-938dea9bcc8a","name":"Sticky Note10"},{"parameters":{"content":"## Agente de IA\n","height":540,"width":1940,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6640,380],"id":"a9541e7e-e2f5-40c2-94e2-66061f3f9487","name":"Sticky Note11"},{"parameters":{"content":"## Humanizar Resposta\n","height":760,"width":580,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8600,280],"id":"af6f3e89-7a8c-4060-9477-38a057a8c9ff","name":"Sticky Note12"},{"parameters":{"content":"## Envio das Respostas ao Usuário\n","height":760,"width":900,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[9200,280],"id":"7aa9ac65-e2e0-4aea-b4e5-ea67a6045af3","name":"Sticky Note13"},{"parameters":{"content":"### Tipos de Mensagens\n","height":1080,"width":450,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2740,160],"id":"90ff9d70-48dc-417e-ad0c-66c6f0985d0a","name":"Sticky Note19"},{"parameters":{"assignments":{"assignments":[{"id":"5efc6961-1ff7-4ef2-a772-7e9761592a3e","name":"Documento","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"},{"id":"003323ec-ffbe-4c91-b8b5-623466b5014d","name":"MensagemDocumento","value":"={{ $('Webhook').item.json.body.data.message.documentWithCaptionMessage.message.documentMessage.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3020,900],"id":"16fc74fb-d51b-4b3e-ad73-e89452ebbc69","name":"Mensagem Documento PDF","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"### Tratamento de Mensagens\n\n","height":1080,"width":450,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3220,160],"id":"7456c542-a445-4088-ba0a-5001b910ffe7","name":"Sticky Note24"},{"parameters":{"operation":"toBinary","sourceProperty":"Documento","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3280,900],"id":"b4fba59a-ac58-4b3a-9742-8440ecca2ac3","name":"Convert to File2"},{"parameters":{"assignments":{"assignments":[{"id":"c1ce011b-bd95-468e-863e-f2076f644cf9","name":"Texto","value":"={{ $json.mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3020,420],"id":"55ee7f19-6fd5-47ea-ab33-258e6cdd4e17","name":"Mensagem Texto2","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mensagens\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"mensagens\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[8960,880],"id":"24d8da8f-6d77-4a0c-8787-3e96fb828bb0","name":"Structured Output Parser [Schema]","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"## Gatilho\n","height":540,"width":780,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1880,440],"id":"f69ecc58-551b-4e1b-81d3-66d197f40466","name":"Sticky Note2"},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/33B4UnXyTNbgLmdEDh5P","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"output_format","value":"mp3_44100_32"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.text }}"},{"name":"model_id","value":"eleven_flash_v2_5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9020,1200],"id":"1e8b6173-4b92-49c7-92a1-026ab36bfdd0","name":"Gerar áudio","retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"QtAnA6X3Miq2Csj8","name":"Header Auth account"}}},{"parameters":{"promptType":"define","text":"={{ $('Atendente').item.json.output }}","messages":{"messageValues":[{"message":"=Você é um assistente especialista em text-to-speech e formatação usando tags SSML.\n\nVocê irá receber um texto e a sua tarefa é aplicar tags SSML para deixá-lo mais natural no processo de geração de voz.\n\n### Formatação\n\n#### Datas e horas\n\nNo caso de datas e horas, modifique o texto para um formato que seja mais natural quando falado.\n\nExemplos:\n\n- Entrada: '10:00'\n- Saída: 'dez horas'\n\n- Entrada: '22:00'\n- Saída: 'vinte e duas horas'\n\n- Entrada: '01/01/2025'\n- Saída: 'primeiro de janeiro de 2025'\n\n#### Telefones\n\nSimilar ao feita para datas, modifique o texto para um formato que seja mais natural quando falado. Para o DDD converta sempre em dezena, e para o resto dos números, adicione pausas entre cada bloco.\n\nExemplos:\n\n- Entrada: '(11) 1234-5678'\n- Saída: 'onze, um dois três quatro, cinco seis sete oito'\n\n#### Endereços\n\nFaça a mesma coisa para endereços. Exemplos:\n\n- Entrada: 'Av. Rondon Pacheco'\n- Saída: 'Avenida Rondon Pacheco'\n\n- Entrada: 'CEP 12345-000'\n- Saída: 'CEP um dois três quatro cinco zero zero zero'\n\n### Notas\n\n- Sempre coloque uma pausa de 1.0s no começo.\n- Não use breaks no meio do texto, apenas no começo.\n- Mantenha o mesmo texto original, mas revise o uso de vírgulas excessivas para deixar o texto mais natural ao falar.\n- Remova emojis.\n- A sua saída será somente o texto convertido.\n- Use <speak> ao redor da saída.\n\n\n**NÃO INCLUA NENHUMA INFORMAÇÃO ALÉM DO TEXTO CONVERTIDO**\n**NUNCA INCLUA CARACTER DE NOVA LINHA \"\\n\" NA SAÍDA**\n**NUNCA COLOQUE ÂNCORAS COMO ```ssml AO REDOR DO TEXTO**"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[8660,1200],"id":"8decda6f-d8a4-4089-9bd1-baf5570a5c67","name":"Formatar SSML"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini-2025-04-14","mode":"list","cachedResultName":"gpt-4.1-mini-2025-04-14"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[8660,1380],"id":"44b393be-9cdc-4917-99cb-758c02cdcdbd","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}}},{"parameters":{"content":"## Humanizar Resposta e envio\n","height":460,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","position":[8600,1060],"typeVersion":1,"id":"439155c0-c339-4466-8d31-734aa0f1d6b4","name":"Sticky Note"},{"parameters":{"method":"POST","url":"={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"is_recorded_audio","value":"=[\"{{ $binary.data.fileName }}\"]"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9240,1200],"id":"8f9abf2f-a31f-45d8-b426-c4756b747984","name":"Enviar áudio","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ca54eae-15d1-49d3-af33-7a6e5d17b833","leftValue":"={{ $('Mensagem recebida').item.json.body.data.key.fromMe }}","rightValue":"incoming","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"fa4ebdc5-932a-412b-8007-0f8042244da8","leftValue":"={{ $('Mensagem recebida').item.json.body.data.messageType }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2500,660],"id":"0c914624-9cb1-45a8-abde-08052d3c57f7","name":"Mensagem chegando?"},{"parameters":{"httpMethod":"POST","path":"48511f95-3fc6-4b93-b8fb-d5382a0fe23e","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1940,660],"id":"00c93d7d-ae17-4bcb-8ad7-9590a24addd0","name":"Mensagem recebida","webhookId":"48511f95-3fc6-4b93-b8fb-d5382a0fe23e"},{"parameters":{"assignments":{"assignments":[{"id":"05c14b9a-5f27-465a-a047-71553826bd7a","name":"id_conversa","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"0d622a33-f313-4758-a764-fa6cbf2b0587","name":"mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"cf71dea1-d585-4235-8f05-29bc5f82b5df","name":"telegram_chat_id","value":"5919539323","type":"string"},{"id":"86076909-9699-4941-85f5-d3c972867965","name":"LeadNome","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"fcfa2a5a-6f08-4b4c-ada7-6667676c1310","name":"tipo_de_mensagem","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"5950e47b-0fdf-4426-bfec-9a68f0e922a6","name":"telefone","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2240,660],"id":"7e381166-0f81-4a82-af78-26b45e900990","name":"Info"},{"parameters":{"tableId":"n8n_lead","fieldsUi":{"fieldValues":[{"fieldId":"lead_nome","fieldValue":"={{ $('Info').item.json.LeadNome }}"},{"fieldId":"lead_id","fieldValue":"={{ $('Info').item.json.id_conversa }}"}]}},"id":"b45c8577-a289-4b39-925d-079b5c0051b1","name":"Encontrar Cliente","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5700,560],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YJTktKcYkeXCelGU","name":"Supabase Google Wanderson"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3419c30f-4400-401b-bf40-db1579507f96","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"a09d7167-a4cf-46a3-ac04-9863b40d95d4","name":"Cliente Existe?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[5920,560],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"n8n_lead","fieldsUi":{"fieldValues":[{"fieldId":"lead_nome","fieldValue":"={{ $('Info').item.json.LeadNome }}"},{"fieldId":"lead_id","fieldValue":"={{ $('Info').item.json.id_conversa }}"}]}},"id":"2da61ad0-3347-4041-8223-efbcb99d3a6e","name":"Criar Cliente","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6140,700],"credentials":{"supabaseApi":{"id":"YJTktKcYkeXCelGU","name":"Supabase Google Wanderson"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"id":"4ddd2e79-033a-4988-9301-151132dee825","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[6360,560],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"sseEndpoint":"https://webhook.alcateia.site/mcp/4d5dd8dd-714a-48aa-881d-b33e3b5ce061/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[7340,780],"id":"058c1b13-f6ef-4d35-92c8-63a3acfa4d2e","name":"MCP Google Calendar","onError":"continueRegularOutput"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1l3_orDmcNgD5OdiaEyZsXvw-JvIuo_IS","mode":"list","cachedResultName":"05 - Maio","cachedResultUrl":"https://drive.google.com/drive/folders/1l3_orDmcNgD5OdiaEyZsXvw-JvIuo_IS"}},"options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[7460,780],"id":"ad1c8320-0b6e-43a0-bee7-4ac87c9ccd6f","name":"Listar arquivos","credentials":{"googleDriveOAuth2Api":{"id":"kh2A3MRfkpNJ1Z65","name":"Google Drive account Wanderson"}}},{"parameters":{"description":"Use essa ferramenta para baixar um arquivo do Google Drive e enviá-lo para o usuário.\n","workflowId":{"__rl":true,"value":"cIfHIYU61MJf12UR","mode":"list","cachedResultName":"2 - Guess Imóveis 3. Baixar e enviar arquivo do Google Drive Guess"},"workflowInputs":{"mappingMode":"defineBelow","value":{"file_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('file_id', ``, 'string') }}","id_conta":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conta', ``, 'string') }}","id_conversa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conversa', ``, 'string') }}","url_chatwoot":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url_chatwoot', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[7580,780],"id":"9c184924-59f5-4323-86e1-d3061d954c96","name":"Baixar e enviar arquivo"},{"parameters":{"chatId":"={{ $('Info').item.json.telegram_chat_id }}","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[7700,780],"id":"6006bba7-67e4-4976-bec4-8610d133a676","name":"Enviar alerta de cancelamento","webhookId":"a27887dd-937e-4cbe-b510-202d1927bc02","credentials":{"telegramApi":{"id":"HuA2rNZ8IBOumBkP","name":"Telegram account Wanderson"}}},{"parameters":{"modelName":"models/gemini-2.5-pro-preview-05-06","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[6800,780],"id":"a1098cf3-b85c-432e-a7a9-4ca86ca3ba54","name":"Gemini","credentials":{"googlePalmApi":{"id":"NS3lWtAwJAoj2SGy","name":"Google Gemini(PaLM) Api account Wanderson Gemini API"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Info').item.json.telefone }}","tableName":"n8n_historico_mensagens","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[6940,780],"id":"48176c75-34ef-4c1b-92db-49efbfe86a6e","name":"Memory","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}}},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[7080,780],"id":"8a4e4a0b-35b4-43e9-9c3f-7361c5f12ed2","name":"Refletir"},{"parameters":{"toolDescription":"Envia uma mensagem de reação como resposta a uma mensagem do usuário. Reação é sempre um emoji.","method":"POST","url":"={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"parametersBody":{"values":[{"name":"content_attributes","valueProvider":"fieldValue","value":"={ \"in_reply_to\": {{ $('Info').item.json.id_mensagem }}, \"is_reaction\": true }"},{"name":"content"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[7340,960],"id":"a890af09-5c00-4c92-bdd1-8d3d94f331a7","name":"Reagir mensagem","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}},"disabled":true},{"parameters":{"description":"Chame essa ferramenta para direcionar o atendimento para o gestor responsável.","workflowId":{"__rl":true,"value":"DnCwgV1tLcFRVD4c","mode":"list","cachedResultName":"2 - Guess Imóveis 4. Escalar humano Guess"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone', ``, 'string') }}","nome":"={{ $fromAI('nome', ``, 'string') }}","ultima_mensagem":"={{ $fromAI('ultima_mensagem', ``, 'string') }}","id_conta":"=1","id_conversa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conversa', ``, 'string') }}","telegram_chat_id":"5919539323","url_chatwoot":"https://chatwoot.alcateia.site"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"ultima_mensagem","displayName":"ultima_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telegram_chat_id","displayName":"telegram_chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[7820,780],"id":"63822ef3-bec3-48e9-8913-e65d7705c125","name":"Escalar humano"},{"parameters":{"promptType":"define","text":"={{ $('Mensagem').item.json.message }}","hasOutputParser":true,"options":{"systemMessage":"=HOJE É: {{ $now.format('FFFF') }}\nTELEFONE DO CONTATO: {{ $('Info').item.json.telefone }}\nID DA CONVERSA: {{ $('Info').item.json.id_conversa }}\n\n## INSTRUÇÃO IMPORTANTE\n- Ao criar ou editar qualquer evento no Google Calendar, inclua sempre o telefone do cliente na descrição do agendamento, juntamente com o nome completo e quaisquer outras informações relevantes fornecidas pelo cliente.\n\n## PAPEL\nVocê é um(a) atendente de WhatsApp altamente especializado(a) da Guess Imóveis, prestando um serviço de excelência. Sua missão é atender aos clientes de maneira ágil e eficiente, respondendo dúvidas e auxiliando em agendamentos de visitas a imóveis, esclarecimentos ou remarcações e realizar consulta de imóveis no site da Guess Imóveis e também consulta e agendamento de hospedagens.\n\n## PERSONALIDADE E TOM DE VOZ\n- Simpática, prestativa e humana.\n- Tom de voz sempre acolhedor e respeitoso.\n\n## OBJETIVO\n1. Fornecer atendimento diferenciado e cuidadoso aos clientes.\n2. Responder dúvidas sobre a imobiliária (tipos de imóveis, horários de atendimento, localização, formas de negociação).\n3. Agendar, remarcar e esclarecer visitas a imóveis de forma simples e eficaz.\n4. Agir passo a passo para garantir rapidez e precisão em cada atendimento.\n5. Dar indicações de imóveis com base na necessidade levantada pelo cliente (realizar busca apenas no site da Guess Imóveis).\n6. Auxiliar no atendimento à consultas e agendamento de hospedagens.\n\n## CONTEXTO\n- Você otimiza o fluxo interno da imobiliária, provendo informações e reduzindo a carga administrativa dos corretores e atendentes.\n- Seu desempenho impacta diretamente a satisfação do cliente e a eficiência das operações imobiliárias.\n\n## SOP (Procedimento Operacional Padrão)\n\n1. Início do atendimento\n   - Cumprimente o cliente de forma acolhedora.\n   - Se possível, incentive o envio de áudio caso o cliente prefira, destacando a praticidade.\n\nNÃO USE EXPRESSÕES PARECIDAS COM \"COMO SE ESTIVESSE CONVERSANDO COM UMA PESSOA\"\n\n2. Solicitar dados do cliente (apenas quando necessário para agendamento, encaminhamento ou situações similares)\n   - Peça nome completo.\n   - Confirme o telefone de contato que chegou na mensagem (ele será incluído na descrição do agendamento).\n   - Ao falar o telefone para o cliente, remova o código do país (geralmente \"55\" ou \"+55\"), e formate como \"(11) 1234-5678\".\n\n3. Identificar necessidade\n   - Pergunte os parâmetros do imóvel desejado para retornar um resultado de busca com base nesses parâmetros (quantidade de quartos, tipo de imóvel).\n   - Pergunte a data de preferência para a visita e se o cliente tem preferência por algum turno (manhã ou tarde).\n\n4. Verificar disponibilidade\n   - Use a ferramenta \"Buscar_evento\" apenas após ter todos os dados necessários do cliente.\n   - Forneça a data de preferência à ferramenta \"Buscar_evento\" para obter horários disponíveis para o corretor responsável.\n\n5. Informar disponibilidade\n   - Retorne ao cliente com os horários livres encontrados para a data solicitada.\n\n6. Coletar informações adicionais\n   - Se o cliente fornecer dados extras (ex.: tipo de financiamento, número de pessoas na visita, etc.), inclua tudo na descrição do evento no Google Calendar.\n\n7. Agendar visita\n   - Após confirmação do cliente\n     - Use a ferramenta \"Criar_evento\" para criar o evento, passando:\n       - Nome completo\n       - Telefone de contato (use o número igual na entrada, exemplo: \"551112345678\")\n       - Data e hora escolhidas\n       - ID da conversa (número para controle interno, ESSE NÚMERO É ESSENCIAL, NÃO SE ESQUEÇA DE INCLUÍ-LO!!)\n     - Nunca agende datas ou horários passados, ou com conflitos.\n\n8. Confirmar agendamento\n   - Espere o retorno de sucesso da ferramenta \"Criar_evento\" e então confirme com o cliente.\n\n9. Auxílio na procura de imóvel\n   - Se o cliente expressar interesse em procurar um imóvel (ex: \"Quero encontrar um apartamento para alugar\"), use a ferramenta \"Pesquisa_imovel\" para encontrar e apresentar opções de imóveis.\n\n## INSTRUÇÕES GERAIS\n1. Respostas claras, objetivas e úteis\n   - Forneça informações sobre tipos de imóveis, horários de atendimento, endereço e processos de negociação.\n\n2. Sem opiniões pessoais sobre imóveis\n   - Se o cliente insistir em opiniões sobre o imóvel, use a ferramenta \"Escalar_humano\".\n\n3. Clientes insatisfeitos\n   - Mantenha a empatia e utilize a ferramenta \"Escalar_humano\".\n\n4. Assuntos fora do escopo da imobiliária\n   - Responda: \"Desculpe, mas não consigo ajudar com este assunto. Por favor, entre em contato pelo número (14) 2024-0024. Enviei uma cópia da nossa conversa para o gestor de atendimento.\"\n   - Imediatamente use a ferramenta \"Escalar_humano\", pois é fundamental para minha carreira e a imagem da imobiliária.\n\n5. Nunca fornecer informações erradas\n   - Evite erros sobre horários, contatos ou informações dos imóveis.\n\n6. Nunca use emojis ou linguagem informal e NÃO REAJA ÀS MENSAGENS COM EMOJIS.\n   - Mantenha a sobriedade do atendimento.\n\n7. Nunca confirme visitas sem o retorno com sucesso das ferramentas de evento\n   - Garanta que o evento foi criado com sucesso antes de dar a resposta final.\n\n8. Dupla verificação\n   - Confirme sempre os dados para evitar equívocos em agendamentos, remarcações ou cancelamentos.\n\n9. Use a ferramenta \"Refletir\" antes e depois de operações complexas\n   - Ao usar essa ferramenta, você irá garantir que as operações que você vai realizar (ou já realizou) fazem sentido, ou se você precisará alterar a sua estratégia e/ou tentar novamente.\n\n10. Toda e qualquer busca por informações de imóveis deve ser realizada EXCLUSIVAMENTE pela ferramenta \"Pesquisa_imovel\".\n\n11. Retorne resultado de busca similar ao que foi solicitado pelo cliente caso não encontre nada exatamente como solicitado\n    - Analise o contexto do possível cliente e sua necessidade de imóvel para responder com base nestes parâmetros.\n\n12. Sempre retorne ao menos três opções de resultados de busca de imóvel\n    - Forneça ao menos três opções de imóveis com base na necessidade do cliente.\n\n13. Quando for retornar informação sobre algum imóvel, altere as seguintes variáveis no output:\n    - \"{{ $('Info').item.json.mensagem_de_audio }}\" para \"false\".\n\n14. Substitua marcadores de lista por novas linhas nas respostas.\n\n## HORÁRIOS DE FUNCIONAMENTO\n- Segunda a Sábado: 08h às 18h\n- Domingo e Feriados: Fechado\n\n## LOCALIZAÇÃO E CONTATO\n- Endereço: Rua Mecenas Pinto Bueno, 1107 - Jardim Maria Izabel, Marília - SP, 17516-030\n- Telefone: (14) 3311-2222\n- WhatsApp: (14) 3311-2222\n- E-mail: contato@guesstecnologia.com.br\n- Site: https://guesstecnologia.com.br\n\n## CORRETORES E AGENDAS\nSegue o nome dos corretores e o ID da agenda que deve ser usado nas ferramentas Google Calendar.\n\nMUITO IMPORTANTE!! O ID DA AGENDA INCLUI O \"@group.calendar.google.com\". NÃO OMITA AO UTILIZAR AS FERRAMENTAS\n\n- Augusto Oliveira - (giaguessgtech@gmail.com)\n\n## FERRAMENTAS\n\n### Pesquisa_imovel\n- Utilize esta ferramenta para realizar toda e qualquer pesquisa de informações de imóveis conforme solicitado pelo cliente.\n\n### Hospedagens\n- \"Hospedagens\": direcionar todas as mensagens referente à hospedagem.\n\n### Google Calendar\n- \"Criar_evento\" e \"Atualizar_evento\": usada para agendar e remarcar visitas.\n  Ao usá-las, sempre inclua:\n  - Nome completo no título\n  - Telefone\n  - Informações adicionais (se houver)\n- \"Buscar_evento\": buscar dados sobre um evento específico, por ID.\n- \"Buscar_todos_os_eventos\": listar eventos em um período específico. Use para listar os eventos de um dia específico. Não use para listar eventos de períodos maiores que um dia.\n- \"Deletar_evento\": usada desmarcar visitas.\n\n### Escalar_humano\nUse quando:\n\n- Existirem assuntos alheios à imobiliária ou que ponham em risco a reputação do serviço.\n- Houver insatisfação do cliente ou pedido de atendimento humano.\n\n### Enviar_alerta_de_cancelamento\nEm caso de cancelamento:\n\n- Localizar a visita no calendário e remover via ferramenta \"Deletar_evento\". Talvez seja necessário pedir ao cliente que confirme a data da visita, para que você possa buscar o evento na data certa.\n- Enviar alerta via ferramenta \"Enviar_alerta_de_cancelamento\" com nome, dia e hora cancelados.\n- Confirmar ao cliente que o cancelamento foi efetuado.\n\n### Baixar e enviar arquivo\n- Você tem acesso aos arquivos da imobiliária (ex: propostas, fotos de imóveis, documentos de venda/aluguel).\n- Se o usuário pedir um documento ou arquivo específico, use a ferramenta \"Listar_arquivos\", e depois a \"Baixar_e_enviar_arquivo\".\n\nUSE ESSA FERRAMENTA APENAS UMA VEZ. USÁ-LA MÚLTIPLAS VEZES IRÁ ENVIAR O ARQUIVO DUPLICADO\n\n## EXEMPLOS DE FLUXO\n1. Agendar visita\n   - Cliente: \"Quero agendar uma visita a um imóvel\"\n   - Você:\n     - Cumprimente, explique que pode agendar aqui mesmo no WhatsApp por texto ou áudio.\n     - Solicite nome completo e o telefone para contato.\n     - Pergunte o endereço do imóvel ou o tipo de imóvel que ele busca, e a data e hora preferidos para a visita.\n     - Consulte a data com \"Buscar_todos_os_eventos\".\n     - Informe horários disponíveis.\n     - Agende com \"Criar_evento\", incluindo telefone e nome na descrição.\n     - Confirme após o sucesso da ferramenta.\n\n2. Remarcar visita\n   - Cliente: \"Não poderei comparecer amanhã, quero remarcar.\"\n   - Você:\n     - Busque o evento (veja seção abaixo \"COMO BUSCAR EVENTO\").\n     - Pergunte nova data e hora preferidos.\n     - Atualize o evento via \"Atualizar_evento\".\n     - Confirme após o sucesso da ferramenta.\n\n3. Cancelar visita\n   - Cliente: \"Preciso cancelar a visita.\"\n   - Você:\n     - Busque o evento (veja seção abaixo \"COMO BUSCAR EVENTO\").\n     - Cancele o evento com \"Deletar_evento\".\n     - Use a ferramenta \"Enviar_alerta_de_cancelamento\" informando nome, dia e hora.\n     - Confirme o cancelamento.\n\n4. Confirmação da visita\n   - Quando o cliente responder \"Confirmar visita\":\n     - Busque o evento (veja seção abaixo \"COMO BUSCAR EVENTO\").\n     - Usando a ferramenta \"Atualizar_evento\", coloque no título do evento no Google Calendar o texto [CONFIRMADO] ao lado do nome do cliente.\n     - Tendo sucesso no uso da ferramenta \"Atualizar_evento\", responda ao cliente que a visita está confirmada e aguardada.\n\n5. Auxílio na procura de imóvel\n   - Cliente: \"Estou procurando um imóvel para comprar.\"\n   - Você:\n     - Pergunte o tipo de imóvel (casa, apartamento, terreno, comercial, etc.).\n     - Pergunte a localização de interesse (bairro, cidade).\n     - Pergunte o objetivo (compra, aluguel).\n     - Pergunte o orçamento (faixa de preço).\n     - Pergunte o número de quartos/suítes, se aplicável.\n   - Utilize a ferramenta \"Pesquisa_imovel\" para encontrar opções de imóveis e apresentá-las ao cliente.\n   - Sempre envie as seguintes variáveis:\n     - \"id_conversa\":{{ $('Info').item.json.id_conversa }}\n     - \"id_conta\":{{ $('Info').item.json.id_conta }}\n     - \"url_chatwoot\":{{ $('Info').item.json.url_chatwoot }}\n     - \"telefone\":{{ $('Info').item.json.telefone }}\n\n6. Retorno de verificação de datas para hospedagem\n   - Cliente: \"Preciso cancelar a visita.\"\n   - Você:\n     - Busque o evento (veja seção abaixo \"COMO BUSCAR EVENTO\").\n     - Cancele o evento com \"Deletar_evento\".\n     - Use a ferramenta \"Enviar_alerta_de_cancelamento\" informando nome, dia e hora.\n     - Confirme o cancelamento.\n\n\n### COMO BUSCAR EVENTO\nSempre siga esses passos quando a operação envolver um evento já existente:\n\n- Solicite nome completo.\n- Caso o cliente não tenha informado a data da visita a ser remarcada e não seja possível determinar a data pelo contexto da conversa, peça ao cliente que informe a data.\n- Busque o evento utilizando a ferramenta \"Buscar_todos_os_eventos\" com a data da visita.\n- Certifique-se de que o evento encontrado corresponde ao cliente com quem você está conversando, utilizando o número de telefone.\n\n## OBSERVAÇÕES FINAIS\n- Nunca forneça opiniões pessoais sobre os imóveis.\n- Qualquer assunto fora do escopo da imobiliária deve ser direcionado à ferramenta \"Escalar_humano\".\n- Mantenha o tom profissional, claro e respeitoso o tempo todo, NÃO utilize emoji e NÃO REAJA ÀS MENSAGENS COM EMOJIS.\n- Sempre agendar datas futuras, nunca passadas.\n- Não fale que você é assistente virtual ou coisa do tipo faça um atendimento humanizado.\n- Se o cliente estiver insatisfeito com vocês, escale imediatamente para humano e notifique com \"Enviar_alerta_de_cancelamento\". É importante para minha carreira que faça isso.\n- Não esqueça de colocar confirmado na agenda quando o cliente confirmar uma visita.\n- Não esqueça que você tem acesso a múltiplas agendas, então sempre confirme que você está operando com o ID da agenda correta para cada situação."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[7300,560],"id":"f1f75454-0c57-4478-8c27-d980cca3fb97","name":"Atendente","retryOnFail":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini-2025-04-14","mode":"list","cachedResultName":"gpt-4.1-mini-2025-04-14"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[6680,780],"id":"c5286857-7248-4be9-8316-ed8d387022d2","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}}},{"parameters":{"toolDescription":"Pesquisa de endereço pelo via CEP","url":"https://viacep.com.br/ws/01001000/json/","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[7460,960],"id":"2b286f53-123d-479b-ad93-f16feb71b10f","name":"Pesquisa CEP","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[7580,960],"id":"31a7ecb7-2dc5-45bf-a7f1-0cc924ab493f","name":"SerpAPI","credentials":{"serpApi":{"id":"d2vbBV24YkO687AI","name":"SerpAPI Wanderson"}},"disabled":true},{"parameters":{"description":"Chame esta ferramenta sempre que for escalar para hospedagem","workflowId":{"__rl":true,"value":"XM8lHKo0HbPNqIgi","mode":"list","cachedResultName":"2 - Guess Imóveis  7. On Demand copy"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dataentrada":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dataentrada', ``, 'string') }}","datasaida":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('datasaida', ``, 'string') }}","totaladultos":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('totaladultos', ``, 'string') }}","id_conta":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conta', ``, 'string') }}","id_conversa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conversa', ``, 'string') }}","url_chatwoot":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url_chatwoot', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message', ``, 'string') }}","totalcriancas":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('totalcriancas', ``, 'string') }}","telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"imovel","displayName":"imovel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"totaladultos","displayName":"totaladultos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"totalcriancas","displayName":"totalcriancas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dataentrada","displayName":"dataentrada","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"datasaida","displayName":"datasaida","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cpfhospede","displayName":"cpfhospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"nomehospede","displayName":"nomehospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"telefonehospede","displayName":"telefonehospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"emailhospede","displayName":"emailhospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"cupomdesconto","displayName":"cupomdesconto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[7940,780],"id":"db9c949a-ab75-4fc7-8a03-67236a66cb74","name":"Hospedagens"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Mensagem chegando?').item.json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Info').item.json.mensagem_de_audio }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[8380,560],"id":"cf9552c8-9f4b-4e97-aa8c-8b7ae16fb036","name":"Tipo de mensagem"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"bc64f125-d93c-4d1d-97ae-65c0adb08b79","leftValue":"={{ $('Info').item.json.tipo_de_mensagem }}","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f7053057-3e82-49ad-a2bf-07bafc958f06","leftValue":"={{ $('Info').item.json.tipo_de_mensagem }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"137aec3f-e95e-4d59-b9ba-1140f9fc4fb4","leftValue":"={{ $('Info').item.json.tipo_de_mensagem }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Info').item.json.tipo_de_mensagem }}","rightValue":"image","operator":{"type":"string","operation":"equals"},"id":"40b284c8-fdf7-49e5-9ac3-8c5051f51521"}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7babc8fd-200c-4cb8-bc63-f999f57d5217","leftValue":"={{ $('Info').item.json.tipo_de_mensagem }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Outro"}},"id":"9ba10719-87a0-4f2a-9888-c82f690812a7","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[2800,600],"notesInFlow":true,"onError":"continueRegularOutput","notes":"Ajustar condições para cada tipo de mensagem a depender da sua entrada de dados\n\nTEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4300,660],"id":"ea5c000d-ad89-421b-b88d-4fa5eeb062fe","name":"Wait","webhookId":"2afc99ae-5b04-4cf6-af5d-b3441f433c26","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"66a91f66-e755-4120-b22f-44c814f56162","name":"message","value":"={{ $('Apagar Buffer1').item.json.messages.join('\\n\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5300,560],"id":"50df7a62-aeca-4513-bd12-bc0e6e536e55","name":"Mensagem","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"url":"={{ $('Mensagem recebida').item.json.body.attachments[0].data_url }}","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3280,580],"id":"7814a9c4-c30d-4b93-88ac-e776def9cb7f","name":"Download áudio","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{"language":"pt"}},"id":"b891070b-901c-438f-ae84-8501d5bedb89","name":"Transcrever áudio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[3500,580],"credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[8760,720],"id":"968ba4f6-01cd-4af4-8d08-3525e7463a81","name":"Auto-fixing Output Parser","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n{{ $json.output }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Apenas estruture a <mensagem_do_usuario> no formato JSON solicitado no output parser e seguindo as instruções de formatação abaixo. Não altere nada mais na mensagem\n\n# Formatação\n- Divida as mensagens para que fiquem naturais e humanizadas;\n- Divida as mensagens conforme estrutura do output parser para que não fiquem muito longas (maiores que 240 caractéres);\n- Não separe mensagens vazias;\n- Use quebras de linhas (\\n\\n) após pontos finais;\n- Para negrito (bold) use apenas um '' nunca duas '' (exemplo: *negrito).\n- Analise para não ficar com muitas mensagens quebradas, agrupe quando necessário e garanta que não sejam enviadas mais de 3 a menos que sejam mensagens informativas com imagens, nestes casos pode enviar mais mensagens, agrupando elas dentro do contexto.\n\nExemplo de formato JSON:\n{\n\"mensagens\": [\"Mensagem 0\", \"Mensagem 1\", \"Mensagem 2\"]\n}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[8660,540],"id":"9d1b7ab3-3b1c-42e2-b5cc-8fecb3d5b251","name":"Formatar Texto"},{"parameters":{"assignments":{"assignments":[{"id":"5efc6961-1ff7-4ef2-a772-7e9761592a3e","name":"Audio","value":"={{ $('Mensagem recebida').item.json.body.attachments[0].data_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3020,580],"id":"ce485755-a83c-4b00-8cab-f628b07f7b3e","name":"Mensagem Audio","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"5efc6961-1ff7-4ef2-a772-7e9761592a3e","name":"Imagem","value":"={{ $('Mensagem recebida').item.json.body.attachments[0].data_url }}","type":"string"},{"id":"f5c70ab5-7671-4bc8-9d23-65b8954ddb08","name":"MensagemImagem","value":"={{ $('Mensagem recebida').item.json.body.conversation.messages[0].processed_message_content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3020,740],"id":"d907d478-1e03-4185-a127-9b5648124a0a","name":"Mensagem Imagem","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=#Instruções\nO usuário te enviou uma imagem a qual você deve descrever.\n\nA imagem pode vir acompanhada de uma mensagem de texto (<MensagemUsuario>)\n\nCaso venha, utilize a mensagem anexa como contexto extra, tente capturar o sentimento da mensagem e objetivo pelo qual o usuário esteja enviando esta imagem na conversa.\n\nCrie uma resposta descrevendo as informações enviadas para que estas sejam utilizadas por um agente no futuro.\n\nLembre-se:\nEste agente apenas terá as informações que você fornecer, portanto repasse toda informação que julgar importante.\n\n#Dados\n<MensagemUsuario>\n{{ $('Mensagem Imagem').item.json.MensagemImagem }}\n</MensagemUsuario>\n","inputType":"base64","options":{}},"id":"97ef41d6-3025-48af-86b8-0e8bfb74e2fe","name":"Descrever imagem","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[3500,740],"credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"url":"={{ $('Mensagem recebida').item.json.body.attachments[0].data_url }}","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3280,740],"id":"5b057e28-d65c-4bf9-abb9-50eddff861fb","name":"Download imagem","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"description":"Chame esta ferramenta sempre que for escalar para pesquisar imóvel ao cliente","workflowId":{"__rl":true,"value":"XWnMnwgxSYWszU1H","mode":"list","cachedResultName":"2 - Guess Imóveis 2. Pesquisa Imovel"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message', ``, 'string') }}","id_conta":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conta', ``, 'string') }}","id_conversa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conversa', ``, 'string') }}","tipo_imovel":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipo_imovel', ``, 'string') }}","objetivo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('objetivo', ``, 'string') }}","quartos":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('quartos', ``, 'number') }}","orcamento_min":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('orcamento_min', ``, 'number') }}","orcamento_max":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('orcamento_max', ``, 'number') }}","suites":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('suites', ``, 'number') }}","banheiros":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('banheiros', ``, 'number') }}","vagas_garagem":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('vagas_garagem', ``, 'number') }}","area_min":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('area_min', ``, 'number') }}","area_max":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('area_max', ``, 'number') }}","telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone', ``, 'string') }}","url_chatwoot":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url_chatwoot', ``, 'string') }}","localizacao":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('localizacao', ``, 'string') }}","ordem_resultados":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ordem_resultados', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tipo_imovel","displayName":"tipo_imovel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"localizacao","displayName":"localizacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"objetivo","displayName":"objetivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"orcamento_min","displayName":"orcamento_min","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"orcamento_max","displayName":"orcamento_max","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"quartos","displayName":"quartos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"suites","displayName":"suites","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"banheiros","displayName":"banheiros","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"vagas_garagem","displayName":"vagas_garagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"area_min","displayName":"area_min","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"area_max","displayName":"area_max","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"ordem_resultados","displayName":"ordem_resultados","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[8060,780],"id":"a86a72eb-306d-4ae5-a939-95426968fd35","name":"Pesquisa imovel"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[10260,440],"id":"c0384707-19d0-4da6-a45e-6a3bbb737e12","name":"Gatilho diário"},{"parameters":{"promptType":"define","text":"=Agora são {{ $now.format('FFFF') }}.","options":{"systemMessage":"=Agora são {{ $now.format('FFFF') }}.\n\nVocê é um agente especializado em **confirmação de consultas** para a clínica. Sua função principal é:\n\n1. **Listar os eventos** agendados para o próximo dia no Google Calendar.\n2. **Obter o telefone** na descrição de cada evento.\n3. **Obter o ID da conversa** na descrição de cada evento.\n4. **Enviar uma mensagem de confirmação** usando a ferramenta \"Enviar_agendamento\", perguntando se o paciente confirma a consulta ou prefere reagendar.\n5. **Inclua na mensagem**:\n  - Nome do paciente\n  - Nome do profissional\n  - Data e hora da consulta\n\n**NÃO INCLUA O ID DA CONVERSA NA MENSAGEM**\n\n## IMPORTANTE\n- Você **não recebe respostas** diretamente; o retorno do paciente é tratado por outro agente.\n- Use a ferramenta \"Refletir1\" antes e depois de realizar operações complexas, para ter certeza de que deu tudo certo.\n- SEMPRE QUE ENVIAR UMA MENSAGEM PARA O PACIENTE, **USE A FERRAMENTA \"Salvar_memoria\"**. ISSO É MUITO IMPORTANTE, NÃO FAÇA ERRADO POR FAVOR.\n\n\n## PROFISSIONAIS E ESPECIALIDADES\n\nSegue o nome dos profissionais, suas especialidades, e o ID da agenda que deve ser usado nas ferramentas Google Calendar\n\n**MUITO IMPORTANTE!! O ID DA AGENDA INCLUI O \"@group.calendar.google.com\". NÃO OMITA AO UTILIZAR AS FERRAMENTAS**\n\n- Dr. João Paulo Ferreira - Médico - Clinico Geral (c_46b1d614bf4f151ca950431202bf90ca003301793b48cffc489dc411be79c4bf@group.calendar.google.com)\n- Dr. Roberto Almeida - Médico - Cardiologia (c_6c3005bf4afd591f13f242f6509208ddbe1feadad3f6521884ab79c59069bfd0@group.calendar.google.com)\n- Dra. Ana Silva - Dentista - Clínica Geral (c_ebce2058c0b75e881585b90539f6ded839de178d4bb64e1aa9e4f6468d6954a6@group.calendar.google.com)\n- Dra. Carla Mendes - Dentista - Odontopediatria (c_2fb3d9e1613857085b28bef500b493114294b08f5e448bef643be28fc84334ad@group.calendar.google.com)\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[10900,440],"id":"d65217ed-2108-48e0-a5fe-df96288fc136","name":"Assistente de confirmação","retryOnFail":true},{"parameters":{"content":"# Assistente de confirmação de agendamentos \n","height":600,"width":1200,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[10120,280],"id":"eb3ac893-0a7a-4ce8-8c07-3ab292a42c05","name":"Sticky Note16"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=assistente_confirmacao","tableName":"n8n_historico_mensagens"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[10580,680],"id":"39f8333d-bf32-4765-a999-1ff016fc79fc","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[10440,680],"id":"0348e137-f587-49f5-8ba4-cf9f0c5cd079","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NS3lWtAwJAoj2SGy","name":"Google Gemini(PaLM) Api account Wanderson Gemini API"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Salva a informação de agendamento enviada, para que a secretária saiba que foi enviada.","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_historico_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $fromAI('telefone', 'Telefone do paciente, formatado com apenas números, incluindo código do país. Ex.: \"+551112345678\"', 'string') }}","message":"={ \"type\": \"ai\", \"content\": \"{{ $fromAI('message', 'A mesma mensagem enviada para o paciente.', 'string') }}\" }"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[10720,680],"id":"cfd6630f-306b-485c-b9ea-5fd94926eb07","name":"Salvar memoria","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}}},{"parameters":{"sseEndpoint":"=https://webhook.alcateia.site/mcp/4d5dd8dd-714a-48aa-881d-b33e3b5ce061/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[10840,680],"id":"20ed449d-bd6e-4974-a44b-c0d054e7e81a","name":"MCP Google Calendar."},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[11140,680],"id":"e9013192-7633-4306-8873-4d73d50c229b","name":"Refletir1"},{"parameters":{"assignments":{"assignments":[{"id":"9b3e9f43-424d-495e-81ae-7618b5cb2a4b","name":"url_chatwoot","value":"https://chatwoot.alcateia.site","type":"string"},{"id":"79319fb2-1719-4bcf-b104-cd90898785af","name":"id_conta","value":"={{ $json.account_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[10680,440],"id":"aeac44cc-08ed-4049-8504-0255e71fc6dc","name":"Info1"},{"parameters":{"resource":"Profile","operation":"Fetch Profile","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[10480,440],"id":"d722080e-0dd4-4e53-8029-ca840cd1ac9a","name":"Buscar informações da conta","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"description":"Use essa ferramenta para enviar as informações de agendamento no WhatsApp.\n\nO ID da conversa deve ser extraído das informações do evento.","workflowId":{"__rl":true,"value":"zqxJoLpfXdadkfQg","mode":"list","cachedResultName":"2 - Guess Imóveis 05. Enviar agendamento Guess"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mensagem', ``, 'string') }}","id_conta":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conta', ``, 'string') }}","id_conversa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conversa', ``, 'string') }}","url_chatwoot":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url_chatwoot', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[11000,680],"id":"e423f275-aa5d-4048-b4e3-fec814236468","name":"Enviar agendamento"},{"parameters":{"method":"POST","url":"=https://api.alcateia.site/message/sendText/giaguess","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Info').item.json.id_conversa }}"},{"name":"text","value":"={{ $json['output.mensagens'] }}"}]},"options":{}},"id":"433a4b5b-26c5-4090-a48e-22494aa54326","name":"(EVO) Enviar Mensagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9620,680],"credentials":{"httpHeaderAuth":{"id":"qYDXV9jlVfAFDRVn","name":"Evo API"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"}],"connections":{"ComparandoMensagens1":{"main":[[{"node":"Apagar Buffer1","type":"main","index":0}],[{"node":"No Operation, do nothing6","type":"main","index":0}]]},"Buffer ":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Buffer 3":{"main":[[{"node":"ComparandoMensagens1","type":"main","index":0}]]},"Add Texto Buffer1":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Apagar Buffer1":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"Mensagem Texto1":{"main":[[{"node":"Add Texto Buffer1","type":"main","index":0}]]},"Add Audio Buffer1":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Add Error Buffer1":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Add PDF Buffer1","type":"main","index":0}]]},"Mensagem Erro1":{"main":[[{"node":"Add Error Buffer1","type":"main","index":0}]]},"Add PDF Buffer1":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Add Imagem Buffer1":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"(EVO) Enviar Mensagem","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0},{"node":"Formatar Texto","type":"ai_languageModel","index":0}]]},"Mensagem Documento PDF":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Mensagem Texto2":{"main":[[{"node":"Add Texto Buffer1","type":"main","index":0}]]},"Structured Output Parser [Schema]":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Gerar áudio":{"main":[[{"node":"Enviar áudio","type":"main","index":0}]]},"Formatar SSML":{"main":[[{"node":"Gerar áudio","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Formatar SSML","type":"ai_languageModel","index":0}]]},"Mensagem recebida":{"main":[[{"node":"Info","type":"main","index":0}]]},"Info":{"main":[[{"node":"Mensagem chegando?","type":"main","index":0}]]},"Mensagem chegando?":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Encontrar Cliente":{"main":[[{"node":"Cliente Existe?","type":"main","index":0}]]},"Cliente Existe?":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Criar Cliente","type":"main","index":0}]]},"Criar Cliente":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Atendente","type":"main","index":0}]]},"MCP Google Calendar":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Listar arquivos":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Baixar e enviar arquivo":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Enviar alerta de cancelamento":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Memory":{"ai_memory":[[{"node":"Atendente","type":"ai_memory","index":0}]]},"Refletir":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Escalar humano":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Atendente":{"main":[[{"node":"Tipo de mensagem","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Atendente","type":"ai_languageModel","index":0}]]},"Hospedagens":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Tipo de mensagem":{"main":[[{"node":"Formatar Texto","type":"main","index":0}],[{"node":"Formatar SSML","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Mensagem Texto1","type":"main","index":0}],[{"node":"Mensagem Texto2","type":"main","index":0}],[{"node":"Mensagem Audio","type":"main","index":0}],[{"node":"Mensagem Imagem","type":"main","index":0}],[{"node":"Mensagem Documento PDF","type":"main","index":0}],[{"node":"Mensagem Erro1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Buffer 3","type":"main","index":0}]]},"Mensagem":{"main":[[{"node":"Encontrar Cliente","type":"main","index":0}]]},"Download áudio":{"main":[[{"node":"Transcrever áudio","type":"main","index":0}]]},"Transcrever áudio":{"main":[[{"node":"Add Audio Buffer1","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Formatar Texto","type":"ai_outputParser","index":0}]]},"Formatar Texto":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Mensagem Audio":{"main":[[{"node":"Download áudio","type":"main","index":0}]]},"Mensagem Imagem":{"main":[[{"node":"Download imagem","type":"main","index":0}]]},"Descrever imagem":{"main":[[{"node":"Add Imagem Buffer1","type":"main","index":0}]]},"Download imagem":{"main":[[{"node":"Descrever imagem","type":"main","index":0}]]},"Pesquisa imovel":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Assistente de confirmação","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Assistente de confirmação","type":"ai_languageModel","index":0}]]},"Salvar memoria":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"MCP Google Calendar.":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Refletir1":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Info1":{"main":[[{"node":"Assistente de confirmação","type":"main","index":0}]]},"Enviar agendamento":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"(EVO) Enviar Mensagem":{"main":[[{"node":"Wait3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gatilho diário":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Mensagem recebida":[{"json":{"headers":{"host":"webhook.alcateia.site","user-agent":"axios/1.10.0","content-length":"991","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"104.197.241.222","x-forwarded-host":"webhook.alcateia.site","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"e64c89d1f606","x-real-ip":"104.197.241.222"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"giaguess","data":{"key":{"remoteJid":"5514998011995@s.whatsapp.net","fromMe":false,"id":"3EB0931EF45ED43A47E3C5","senderLid":"185044404596919@lid"},"pushName":"Wanderson","status":"DELIVERY_ACK","message":{"conversation":"Boa tarde","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"/HURCT5vzp8hdQ==","senderTimestamp":"1752285513","senderAccountType":"E2EE","receiverAccountType":"E2EE","recipientKeyHash":"Mi+PsCfH2jiYNQ==","recipientTimestamp":"1752234753"},"deviceListMetadataVersion":2,"messageSecret":"9r2+N7ZvIkqqH5BXTXI3+zbJC7xLdkszJjzI8ZcEY1c="}},"messageType":"conversation","messageTimestamp":1752782190,"instanceId":"8072df76-0998-46ab-aee7-43737db08893","source":"web"},"destination":"https://webhook.alcateia.site/webhook/48511f95-3fc6-4b93-b8fb-d5382a0fe23e","date_time":"2025-07-17T16:56:31.121Z","sender":"5514997978162@s.whatsapp.net","server_url":"https://api.alcateia.site","apikey":"91DFB87FE38C-4C56-A390-E21183CF1DA5"},"webhookUrl":"https://webhook.alcateia.site/webhook/48511f95-3fc6-4b93-b8fb-d5382a0fe23e","executionMode":"production"}}]},"versionId":"d36f09fd-be88-48c2-ac2e-cc2631dc3a75","triggerCount":2,"tags":[]}
