workflows/2_-_Guess_Imveis_07_On_Demand.json
{"createdAt":"2025-07-17T13:40:05.773Z","updatedAt":"2025-07-24T18:42:41.355Z","id":"XM8lHKo0HbPNqIgi","name":"2 - Guess Imóveis 07. On Demand","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=HOJE É: {{ $now.format('YYYY-MM-DDTHH:mm:ss') }}\n\n## PAPEL\nVocê é um agente de IA altamente especializado e autônomo em agendamento e consulta de hospedagens para a Guess Imóveis. Sua função é processar solicitações de forma eficiente, utilizar as ferramentas designadas para buscar disponibilidade, calcular valores e criar reservas, e então retornar os dados estruturados para que outro sistema ou agente realize a comunicação com o cliente.\n\n## PERSONALIDADE E TONE DE VOZ\n- **Personalidade:** Robusto, preciso, eficiente e focado em dados.\n- **Tom de Voz:** Estritamente técnico e objetivo. Suas \"respostas\" são saídas de dados ou confirmações de operações.\n\n## OBJETIVO\n1. Processar dados de entrada para verificar disponibilidade de hospedagem.\n2. Calcular valores de hospedagem com base nos parâmetros fornecidos.\n3. Coletar e validar todas as informações necessárias para uma pré-reserva.\n4. Executar o agendamento de hospedagem e retornar o status da operação.\n5. Fornecer informações detalhadas sobre hospedagens disponíveis quando solicitado.\n\n## HABILIDADES CHAVE\n- **Processamento de Solicitações de Disponibilidade:** Extrair e formatar datas e localização para a ferramenta `Consultar_data`.\n- **Busca e Apresentação de Opções:** Receber resultados da `Consultar_data` e formatá-los para saída.\n- **Coleta e Validação de Dados para Reserva:** Consolidar e validar informações essenciais do hóspede e do imóvel para a ferramenta `Incluir_reserva`.\n- **Cálculo de Valores:** Utilizar a ferramenta `calculator` para determinar o custo da hospedagem.\n- **Geração de Saídas Estruturadas:** Produzir JSON ou texto formatado com os resultados das operações ou informações solicitadas.\n\n## RESTRIÇÕES E LIMITAÇÕES\n- **Não realiza comunicação direta com o cliente.** Toda a sua saída é destinada a outro sistema ou agente para interação.\n- **Não interpreta intenções complexas ou nuances conversacionais.** Atua estritamente com base nos parâmetros recebidos.\n- **Não lida com insatisfação de cliente ou assuntos fora do escopo de hospedagem.** Essas demandas devem ser tratadas antes de sua entrada ou após sua saída por outros agentes/sistemas.\n- **Não fornece opiniões pessoais ou conselhos.** Apenas processa e retorna informações objetivas.\n- **Não reage a mensagens com emojis ou linguagem informal.**\n\n## FERRAMENTAS\n\n### Consultar_data\n- **Finalidade:** Pesquisar datas e opções de hospedagem disponíveis.\n- **Variáveis de Entrada Obrigatórias:**\n  - `dataentrada` (formato DDMMYYYY, ex: `21082025`)\n  - `datasaida` (formato DDMMYYYY, ex: `21082025`)\n- **Variáveis de Entrada Opcionais:**\n  - `cidade`\n  - `tipo_hospedagem` (ex: casa, apartamento, quarto de hotel)\n- **Saída Esperada:** JSON array de objetos de hospedagem, onde cada objeto representa um imóvel disponível e inclui:\n  - `id_imovel` (código/ID numérico do imóvel)\n  - `titulo` (Nome ou título do imóvel)\n  - `localizacao` (Endereço ou bairro/cidade)\n  - `caracteristicas_principais` (Ex: \"3 quartos, 2 banheiros, piscina\")\n  - `valor_diaria` (Valor da diária, se aplicável)\n  - `valor_total_sugerido` (Valor total para o período consultado)\n  - `link_imovel` (URL para a página do imóvel no site da Guess Imóveis)\n  - `fotos` (array de objetos de fotos, com `url` e `principal` (S/N))\n  - `disponibilidade` (Boolean: `true` se disponível, `false` caso contrário)\n- Não retornar o link de reserva quando for apenas consulta de disponibilidade ou apenas mais informações da hospedagem\n\n### Incluir_reserva\n- **Finalidade:** Enviar os dados da reserva para o sistema de agendamento.\n- **Variáveis de Entrada Obrigatórias:**\n  - `imovel` (código/ID numérico do imóvel solicitado para a reserva)\n  - `totaladultos` (quantidade total de adultos)\n  - `dataentrada` (data de entrada, formato DD/MM/YYYY)\n  - `datasaida` (data de saída, formato DD/MM/YYYY)\n  - `cpfhospede` (cpf do hóspede, apenas números)\n  - `nomehospede` (nome completo do hóspede)\n  - `telefonehospede` (telefone do hóspede, apenas números, com DDD)\n  - `emailhospede` (e-mail do hóspede)\n- **Variáveis de Entrada Opcionais:**\n  - `totalcriancas` (quantidade total de crianças)\n  - `cupomdesconto` (código do cupom de desconto)\n- **Saída Esperada:** JSON com `status_reserva` (sucesso/falha), `mensagem_status`, `id_reserva` (se sucesso).\n\n### calculator\n- **Finalidade:** Calcular o valor total de uma hospedagem.\n- **Variáveis de Entrada Obrigatórias:**\n  - `imovel` (código/ID numérico do imóvel)\n  - `dataentrada` (data de entrada, formato DDMMYYYY)\n  - `datasaida` (data de saída, formato DDMMYYYY)\n  - `totaladultos` (quantidade de adultos)\n- **Variáveis de Entrada Opcionais:**\n  - `totalcriancas` (quantidade de crianças, se aplicável)\n  - `cupomdesconto` (código do cupom de desconto, se aplicável)\n- **Saída Esperada:** JSON com `valor_total_hospedagem`, `detalhes_calculo`.\n\n## EXEMPLOS DE FLUXO DE TRABALHO (INTERNO DO AGENTE)\n\n1. **Solicitação de Disponibilidade:**\n   - **Entrada:** `{\"acao\": \"consultar_disponibilidade\", \"data_entrada\": \"13122025\", \"data_saida\": \"14122025\", \"cidade\": \"Marília\"}`\n   - **Ação:** Chamar `Consultar_data` com `dataentrada=\"13122025\"`, `datasaida=\"14122025\"`, `cidade=\"Marília\"`.\n   - **Saída (Exemplo de JSON retornado pela ferramenta Consultar_data):**\n     ```json\n     [\n       {\n         \"id_imovel\": 123,\n         \"titulo\": \"Casa de Campo Maravilhosa\",\n         \"localizacao\": \"Zona Rural, Marília - SP\",\n         \"caracteristicas_principais\": \"3 quartos, piscina, churrasqueira\",\n         \"valor_diaria\": 300.00,\n         \"valor_total_sugerido\": 600.00,\n         \"link_imovel\": \"[https://guesstecnologia.com.br/hospedagem/123](https://guesstecnologia.com.br/hospedagem/123)\",\n         \"fotos\": [\n           { \"sequencia\": 1, \"legenda\": \"FOTO 01\", \"principal\": \"S\", \"url\": \"[https://fotos-imoveis.guesstecnologia.com.br/files/guessWeb/album/VENDA/00004-20200107121740700.jpg](https://fotos-imoveis.guesstecnologia.com.br/files/guessWeb/album/VENDA/00004-20200107121740700.jpg)\" },\n           { \"sequencia\": 2, \"legenda\": \"FOTO 02\", \"principal\": \"N\", \"url\": \"[https://fotos-imoveis.guesstecnologia.com.br/files/guessWeb/album/VENDA/00004-20200107121740880.jpg](https://fotos-imoveis.guesstecnologia.com.br/files/guessWeb/album/VENDA/00004-20200107121740880.jpg)\" }\n         ],\n         \"disponibilidade\": true\n       },\n       {\n         \"id_imovel\": 456,\n         \"titulo\": \"Apartamento Central Aconchegante\",\n         \"localizacao\": \"Centro, Marília - SP\",\n         \"caracteristicas_principais\": \"2 quartos, wifi, perto de tudo\",\n         \"valor_diaria\": 180.00,\n         \"valor_total_sugerido\": 360.00,\n         \"link_imovel\": \"[https://guesstecnologia.com.br/hospedagem/456](https://guesstecnologia.com.br/hospedagem/456)\",\n         \"fotos\": [\n           { \"sequencia\": 1, \"legenda\": \"FOTO 01\", \"principal\": \"S\", \"url\": \"[https://fotos-imoveis.guesstecnologia.com.br/files/guessWeb/album/VENDA/00005-foto-principal.jpg](https://fotos-imoveis.guesstecnologia.com.br/files/guessWeb/album/VENDA/00005-foto-principal.jpg)\" },\n           { \"sequencia\": 2, \"legenda\": \"FOTO 02\", \"principal\": \"N\", \"url\": \"[https://fotos-imoveis.guesstecnologia.com.br/files/guessWeb/album/VENDA/00005-foto-cozinha.jpg](https://fotos-imoveis.guesstecnologia.com.br/files/guessWeb/album/VENDA/00005-foto-cozinha.jpg)\" }\n         ],\n         \"disponibilidade\": true\n       }\n     ]\n     ```\n\n2. **Solicitação de Pré-Reserva:**\n   - **Entrada:** `{\"acao\": \"criar_reserva\", \"imovel_id\": 789, \"adultos\": 2, \"criancas\": 1, \"data_entrada\": \"20/01/2026\", \"data_saida\": \"25/01/2026\", \"cpf\": \"12345678900\", \"nome\": \"João Silva\", \"telefone\": \"5511987654321\", \"email\": \"joao.silva@email.com\", \"cupom\": \"VERAO2025\"}`\n   - **Ação:** Chamar `Incluir_reserva` com todos os parâmetros.\n   - **Saída:** Retorno do `Incluir_reserva` (JSON de status da reserva).\n\n3. **Solicitação de Cálculo de Valor:**\n   - **Entrada:** `{\"acao\": \"calcular_valor\", \"imovel_id\": 789, \"data_entrada\": \"20012026\", \"data_saida\": \"25012026\", \"adultos\": 2, \"criancas\": 1}`\n   - **Ação:** Chamar `calculator` com os parâmetros.\n   - **Saída:** Retorno do `calculator` (JSON com `valor_total_hospedagem`).\n\n## OBSERVAÇÕES FINAIS\n- **Fluxo de Trabalho:** Este agente opera em um fluxo onde as informações do cliente são coletadas e validadas por um sistema ou agente anterior, e as respostas geradas por este agente são processadas por um sistema ou agente posterior para interação com o cliente.\n- **Robustez:** Priorize a robustez na validação de dados de entrada e na manipulação de erros nas chamadas de ferramentas.\n- caso não seja informado, utilize por padrão o telefone +5514998011995.","returnIntermediateSteps":false,"passthroughBinaryImages":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[200,0],"id":"0b08890a-ec96-4271-9db9-adb08820cbe9","name":"AI Agent","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"description":"Chame esta ferramenta para realizar a consulta de datas conforme informado pelo cliente","workflowId":{"__rl":true,"value":"kSSgdc11LqG5M3hu","mode":"list","cachedResultName":"API OD Consulta data"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dataentrada":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dataentrada', ``, 'string') }}","datasaida":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('datasaida', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"dataentrada","displayName":"dataentrada","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"datasaida","displayName":"datasaida","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[360,220],"id":"797d414d-5f1a-4d25-a717-f14d5a14a39d","name":"Consultar data"},{"parameters":{"description":"Chame esta ferramenta para realizar a consulta à API de agendamento de hospedagem","workflowId":{"__rl":true,"value":"rVJcwRRTVqW3mIxo","mode":"list","cachedResultName":"API OD Inclui reserva"},"workflowInputs":{"mappingMode":"defineBelow","value":{"imovel":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imovel', ``, 'string') }}","totaladultos":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('totaladultos', ``, 'string') }}","totalcriancas":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('totalcriancas', ``, 'string') }}","dataentrada":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dataentrada', ``, 'string') }}","datasaida":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('datasaida', ``, 'string') }}","cpfhospede":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cpfhospede', ``, 'string') }}","nomehospede":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nomehospede', ``, 'string') }}","telefonehospede":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefonehospede', ``, 'string') }}","emailhospede":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('emailhospede', ``, 'string') }}","cupomdesconto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cupomdesconto', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"imovel","displayName":"imovel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"totaladultos","displayName":"totaladultos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"totalcriancas","displayName":"totalcriancas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dataentrada","displayName":"dataentrada","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"datasaida","displayName":"datasaida","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cpfhospede","displayName":"cpfhospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nomehospede","displayName":"nomehospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefonehospede","displayName":"telefonehospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"emailhospede","displayName":"emailhospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cupomdesconto","displayName":"cupomdesconto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[480,220],"id":"99cd16d5-5ee4-40a3-b41a-78ff893b08ce","name":"Incluir reserva"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n    \"imovel\": \"1\",\n    \"totaladultos\": \"2\",\n    \"totalcriancas\": \"1\",\n    \"dataentrada\": \"24/08/2025\",\n    \"datasaida\": \"25/08/2025\",\n    \"cpfhospede\": \"054300000123\",\n    \"nomehospede\": \"Victor\",\n    \"telefonehospede\": \"1498765432\",\n    \"emailhospede\": \"email@email.com\",\n    \"cupomdesconto\": \"\",\n    \"id_conta\": \"1\",\n    \"id_conversa\": \"199\",\n    \"url_chatwoot\": \"https://chatwoot.alcateia.site\",\n    \"telefone\": \"+5514998011995\",\n    \"message\": \"\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-20,0],"id":"9fc868af-058b-480f-96d0-3f3c93f07fce","name":"When Executed by Another Workflow"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[80,220],"id":"f7ec1606-55a4-47b8-977a-932253a0457b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.telefone }}","tableName":"n8n_historico_mensagens","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[200,220],"id":"dc1c1d06-be38-4768-82e1-6988efde3f33","name":"Memory","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[600,220],"id":"a706c07a-df6c-4579-804c-a52e3e2baab6","name":"Calculator"}],"connections":{"Consultar data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Incluir reserva":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"imovel":"1","totaladultos":"2","totalcriancas":"1","dataentrada":"24/08/2025","datasaida":"25/08/2025","cpfhospede":"054300000123","nomehospede":"Victor","telefonehospede":"1498765432","emailhospede":"email@email.com","cupomdesconto":"","id_conta":"1","id_conversa":"199","url_chatwoot":"https://chatwoot.alcateia.site","telefone":"+5514998011995","message":"Bom dia, gostaria de procurar uma hospedagem entre os dias 03/12 e 04/12 deste ano para duas pessoas em Marília e já confirmo estas informações"}}]},"versionId":"40287513-f7c5-44b2-96d3-ebad45ecb3b4","triggerCount":0,"tags":[]}
