workflows/2_-_Guess_Imveis_04_Escalar_humano_Guess.json
{"createdAt":"2025-07-17T13:35:49.686Z","updatedAt":"2025-07-17T13:43:08.494Z","id":"DnCwgV1tLcFRVD4c","name":"2 - Guess Imóveis 04. Escalar humano Guess","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telefone"},{"name":"nome"},{"name":"ultima_mensagem"},{"name":"id_conta"},{"name":"id_conversa"},{"name":"telegram_chat_id"},{"name":"url_chatwoot"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[280,660],"id":"6fc2f3ba-f7a1-40ef-9a77-fbf309c38ed0","name":"When Executed by Another Workflow"},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').item.json.telegram_chat_id }}","text":"=Assistente desabilitado para o usuário {{ $('When Executed by Another Workflow').item.json.nome || '(usuário não cadastrado)' }} ({{ $('When Executed by Another Workflow').item.json.telefone }}).\n\nÚltima mensagem:\n\n---\n\n{{ $('When Executed by Another Workflow').item.json.ultima_mensagem }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1060,660],"id":"6a97c1c1-1cdf-489c-bcc9-53bcdb1d5d9d","name":"Enviar alerta","webhookId":"ceb630b1-5aca-45cc-adbf-0b7fa8c75c94","credentials":{"telegramApi":{"id":"HuA2rNZ8IBOumBkP","name":"Telegram account Wanderson"}}},{"parameters":{"method":"POST","url":"={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.id_conta }}/conversations/{{ $('When Executed by Another Workflow').item.json.id_conversa }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"labels","value":"={{ $json.payload.append('agente-off').unique() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,660],"id":"bab50321-8b9c-4d72-8d01-7be20b03043d","name":"Colocar etiqueta agente-off","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.alcateia.site/api/v1/accounts/{{ $json.account_id }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"color\": \"#6233D0\",\n  \"description\": \"Agente IA não responderá esse contato.\",\n  \"title\": \"agente-off\",\n  \"show_on_sidebar\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,1020],"id":"dc0de215-1301-4393-baf1-299bafb117d6","name":"Criar etiqueta agente-off","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"content":"## Criar etiqueta\n\nVocê pode criar a etiqueta \"agente-off\" por aqui, ou pela interface do Chatwoot.\n\n\n\n\n\n\n\n\n\n\n\n\n\n","height":340,"width":1040,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[220,900],"id":"e9121d33-a741-41d3-8b6f-1077a45d5935","name":"Sticky Note"},{"parameters":{"url":"={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.id_conta }}/conversations/{{ $('When Executed by Another Workflow').item.json.id_conversa }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,660],"id":"c3e82c84-0dbb-4087-a352-b0f7850adff8","name":"Listar etiquetas da conversa","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"resource":"Profile","operation":"Fetch Profile","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[560,1020],"id":"4034db79-7ad4-4649-947c-e14f11a252f4","name":"Buscar informações da conta","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[280,1020],"id":"82709c24-eac3-46e6-ab2c-c71400e6b4b4","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## 4. Escalar humano","height":80,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,520],"id":"6aff3efe-4d1b-4962-8e5c-707b38d71fe4","name":"Sticky Note30"},{"parameters":{"method":"POST","url":"=https://chatwoot.alcateia.site/api/v1/accounts/{{ $json.account_id }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"color\": \"#A44C74\",\n  \"title\": \"testando-agente\",\n  \"show_on_sidebar\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,1020],"id":"63ecf050-247b-4074-a40c-f81eb5ac3b28","name":"Criar etiqueta testando-agente","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Listar etiquetas da conversa","type":"main","index":0}]]},"Colocar etiqueta agente-off":{"main":[[{"node":"Enviar alerta","type":"main","index":0}]]},"Criar etiqueta agente-off":{"main":[[{"node":"Criar etiqueta testando-agente","type":"main","index":0}]]},"Listar etiquetas da conversa":{"main":[[{"node":"Colocar etiqueta agente-off","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d17fa901-dc0e-4041-a02d-ca82a1ec2f7c","triggerCount":0,"tags":[]}
