workflows/3_Baixar_e_enviar_arquivo_do_Google_Drive.json
{"createdAt":"2025-05-27T21:50:27.141Z","updatedAt":"2025-05-28T01:05:56.818Z","id":"aCwvkBlyMd71oKep","name":"3. Baixar e enviar arquivo do Google Drive","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"file_id"},{"name":"id_conta"},{"name":"id_conversa"},{"name":"url_chatwoot"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[60,680],"id":"0608edaf-4520-416d-adbd-52a8449805f9","name":"When Executed by Another Workflow"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[280,680],"id":"b5ab2e7b-c54c-4f95-83c3-7006ec846bf8","name":"Baixar arquivo","credentials":{"googleDriveOAuth2Api":{"id":"kh2A3MRfkpNJ1Z65","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"71dda3d7-4505-4d03-b70f-63f5c005c0c3","name":"status","value":"={{ $json.status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,680],"id":"4174b09c-4570-4010-b861-6f76e84763b0","name":"Output"},{"parameters":{"content":"[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-ep2&utm_medium=cw-3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n\n### Siga nosso GitHub\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n","height":440,"width":550,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,120],"id":"87838a39-4fdd-4d1f-8e49-31a65a111936","name":"Sticky Note10"},{"parameters":{"content":"## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![IMAGE ALT TEXT HERE](https://i1.ytimg.com/vi_webp/cvTWGNJGAu4/maxresdefault.webp)](https://www.youtube.com/watch?v=cvTWGNJGAu4)","height":440,"width":500,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[480,120],"id":"21e2330c-ee42-4889-843b-8370606fb728","name":"Sticky Note13"},{"parameters":{"method":"POST","url":"={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.id_conta }}/conversations/{{ $('When Executed by Another Workflow').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,680],"id":"d86bc2e1-73bf-4b5b-b083-e82834928c9a","name":"Enviar arquivo","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"content":"![Chatwoot](https://app.chatwoot.com/brand-assets/logo_dark.svg)","height":100,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[140,420],"id":"5fa89b07-f928-46b5-8878-722af86bdc17","name":"Sticky Note23"},{"parameters":{"content":"## 3. Baixar e enviar arquivo do Google Drive","height":80,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,20],"id":"d913fac5-f518-4206-b01a-0f462de7b3f4","name":"Sticky Note30"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Baixar arquivo","type":"main","index":0}]]},"Baixar arquivo":{"main":[[{"node":"Enviar arquivo","type":"main","index":0}]]},"Enviar arquivo":{"main":[[{"node":"Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cf317837-d12e-4c03-9261-9d2d2a8049a0","triggerCount":0,"tags":[]}
