workflows/4_Escalar_humano.json
{"createdAt":"2025-05-27T21:50:55.156Z","updatedAt":"2025-05-29T22:01:40.389Z","id":"GBmt75awKWhwgnHF","name":"4. Escalar humano","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telefone"},{"name":"nome"},{"name":"ultima_mensagem"},{"name":"id_conta"},{"name":"id_conversa"},{"name":"telegram_chat_id"},{"name":"url_chatwoot"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[280,660],"id":"c402c506-cf04-4db5-a4d0-c6a5b70fb9a7","name":"When Executed by Another Workflow"},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').item.json.telegram_chat_id }}","text":"=Assistente desabilitado para o usuário {{ $('When Executed by Another Workflow').item.json.nome || '(usuário não cadastrado)' }} ({{ $('When Executed by Another Workflow').item.json.telefone }}).\n\nÚltima mensagem:\n\n---\n\n{{ $('When Executed by Another Workflow').item.json.ultima_mensagem }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1060,660],"id":"b609629b-ceec-48b7-a10b-c376e6b0ee48","name":"Enviar alerta","webhookId":"153d7fb2-c401-4894-95a5-c123c8bbdd0d","credentials":{"telegramApi":{"id":"HuA2rNZ8IBOumBkP","name":"Telegram account"}}},{"parameters":{"content":"[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-ep2&utm_medium=cw-4)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n\n### Siga nosso GitHub\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n","height":440,"width":550,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[200,140],"id":"05c2fa43-56f1-415e-8adc-c98339d4fef5","name":"Sticky Note10"},{"parameters":{"content":"## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![IMAGE ALT TEXT HERE](https://i1.ytimg.com/vi_webp/cvTWGNJGAu4/maxresdefault.webp)](https://www.youtube.com/watch?v=cvTWGNJGAu4)","height":440,"width":500,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[760,140],"id":"f4c56a87-b994-49d4-87e5-3e556b83896b","name":"Sticky Note13"},{"parameters":{"method":"POST","url":"={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.id_conta }}/conversations/{{ $('When Executed by Another Workflow').item.json.id_conversa }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"labels","value":"={{ $json.payload.append('agente-off').unique() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,660],"id":"597b39fb-f906-4723-be35-84f7c2479c7d","name":"Colocar etiqueta agente-off","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.alcateia.site/api/v1/accounts/{{ $json.account_id }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"color\": \"#6233D0\",\n  \"description\": \"Agente IA não responderá esse contato.\",\n  \"title\": \"agente-off\",\n  \"show_on_sidebar\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,1020],"id":"62e68955-4c78-4508-863a-76ec9c82c2f2","name":"Criar etiqueta agente-off","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"content":"## Criar etiqueta\n\nVocê pode criar a etiqueta \"agente-off\" por aqui, ou pela interface do Chatwoot.\n\n\n\n\n\n\n\n\n\n\n\n\n\n","height":340,"width":1040,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[220,900],"id":"e644fd33-e846-4663-b599-41885c0ff84e","name":"Sticky Note"},{"parameters":{"url":"={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.id_conta }}/conversations/{{ $('When Executed by Another Workflow').item.json.id_conversa }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,660],"id":"1406f3a7-bc57-4fee-832a-cb3d8f27742b","name":"Listar etiquetas da conversa","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"resource":"Profile","operation":"Fetch Profile","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[560,1020],"id":"e3278f5e-c21d-4663-bb22-37549e432803","name":"Buscar informações da conta","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[280,1020],"id":"283566b9-1add-40e1-89af-b2ebe1a085ab","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"![Chatwoot](https://app.chatwoot.com/brand-assets/logo_dark.svg)","height":100,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[420,440],"id":"38383858-0dd2-43fd-b361-4ef6ec7fe7d4","name":"Sticky Note23"},{"parameters":{"content":"## 4. Escalar humano","height":80,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[200,40],"id":"47b94668-6b0b-4316-997c-9ce307419d76","name":"Sticky Note30"},{"parameters":{"method":"POST","url":"=https://chatwoot.alcateia.site/api/v1/accounts/{{ $json.account_id }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"color\": \"#A44C74\",\n  \"title\": \"testando-agente\",\n  \"show_on_sidebar\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,1020],"id":"ac5f4725-9aa6-4676-9bee-ece47bcaf8fc","name":"Criar etiqueta testando-agente","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Listar etiquetas da conversa","type":"main","index":0}]]},"Colocar etiqueta agente-off":{"main":[[{"node":"Enviar alerta","type":"main","index":0}]]},"Criar etiqueta agente-off":{"main":[[{"node":"Criar etiqueta testando-agente","type":"main","index":0}]]},"Listar etiquetas da conversa":{"main":[[{"node":"Colocar etiqueta agente-off","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"78191b44-0b0f-4c63-9d51-f14ef511e6a1","triggerCount":0,"tags":[]}
