workflows/4Fase_3_Evolution_API.json
{"createdAt":"2025-07-14T11:42:10.820Z","updatedAt":"2025-07-17T21:00:14.494Z","id":"Az62bmQPPKaI2wTO","name":"4.Fase 3 Evolution API","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Formatos Base64\nBase64 é uma forma de codificar dados binários como texto. Dependendo do tipo de arquivo, os prefixos variam para indicar o formato do dado. Aqui estão alguns dos formatos mais comuns com os respectivos prefixos base64:\n\n### 1. **Imagem**\n   - **PNG**: `data:image/png;base64,`\n   - **JPEG**: `data:image/jpeg;base64,`\n   - **GIF**: `data:image/gif;base64,`\n   - **SVG**: `data:image/svg+xml;base64,`\n   - **BMP**: `data:image/bmp;base64,`\n   \n### 2. **Áudio**\n   - **MP3**: `data:audio/mp3;base64,`\n   - **WAV**: `data:audio/wav;base64,`\n   - **OGG**: `data:audio/ogg;base64,`\n   - **MPEG**: `data:audio/mpeg;base64,`\n\n### 3. **Vídeo**\n   - **MP4**: `data:video/mp4;base64,`\n   - **OGG**: `data:video/ogg;base64,`\n   - **WebM**: `data:video/webm;base64,`\n\n### 4. **Texto**\n   - **Plain Text**: `data:text/plain;base64,`\n   - **HTML**: `data:text/html;base64,`\n   - **CSS**: `data:text/css;base64,`\n   - **JavaScript**: `data:text/javascript;base64,`\n   - **CSV**: `data:text/csv;base64,`\n\n### 5. **Documentos**\n   - **PDF**: `data:application/pdf;base64,`\n   - **JSON**: `data:application/json;base64,`\n   - **ZIP**: `data:application/zip;base64,`\n   - **XML**: `data:application/xml;base64,`\n\nEsses são exemplos de prefixos que podem ser usados ao incluir dados base64 em documentos ou aplicações.","height":1166,"width":593,"color":7},"id":"5808c161-6d03-48fa-9df2-951111a20934","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1200,1380]},{"parameters":{"content":"## MimeTypes\nO Mime type é o mecanismo para especificar o tipo de documento.\nA estrutura de um MIME type é muito simples; Consiste de um tipo e um subtipo, separados por um '/', onde nenhum espaço é permitido. \nO tipo representa a categoria. \nO subtipo é específico para cada tipo.\n\n### 1. **image**\nRepresenta qualquer tipo de imagens\n- image/gif\n- image/png\n- image/jpeg\n- image/bmp\n- image/webp\n   \n\n### 2. **audio**\nRepresenta qualquer tipo de arquivo de audio\n- audio/midi\n- audio/mpeg\n- audio/webm\n- audio/ogg\n- audio/wav\n- audio/mp3\n- audio/mp4\n\n### 3. **video**\nRepresenta qualquer tipo de arquivo de video\n- video/webm\n- video/ogg\n- video/mp4\n\n### 4. **text**\nRepresenta qualquer documento que contenha texto\n- text/plain\n- text/csv\n- text/html\n- text/css\n- text/javascript\n\n### 5. **application**\nRepresenta qualquer tipo de dados binários.\n- application/octet-stream\n- application/pkcs12\n- application/vnd.mspowerpoint\n- application/xhtml+xml\n- application/xml\n- application/pdf","height":1166,"width":593,"color":7},"id":"2fd9a548-73f4-49f6-a794-0a74f8518121","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,1380]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"bc64f125-d93c-4d1d-97ae-65c0adb08b79","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f7053057-3e82-49ad-a2bf-07bafc958f06","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"137aec3f-e95e-4d59-b9ba-1140f9fc4fb4","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals"},"id":"40b284c8-fdf7-49e5-9ac3-8c5051f51521"}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7babc8fd-200c-4cb8-bc63-f999f57d5217","leftValue":"={{ $('Webhook').item.json.body.data.message.documentWithCaptionMessage.message.documentMessage.mimetype }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Outro"}},"id":"63b4dae1-f26f-4bc7-975d-fe199b269513","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[2800,600],"notesInFlow":true,"notes":"Ajustar condições para cada tipo de mensagem a depender da sua entrada de dados\n\nTEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{"language":"pt"}},"id":"1d564540-afe5-473a-b8cd-dca4f2e80c51","name":"Transcrever Áudio1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[3500,580],"credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=#Instruções\nO usuário te enviou uma imagem a qual você deve descrever.\n\nA imagem pode vir acompanhada de uma mensagem de texto (<MensagemUsuario>)\n\nCaso venha, utilize a mensagem anexa como contexto extra, tente capturar o sentimento da mensagem e objetivo pelo qual o usuário esteja enviando esta imagem na conversa.\n\nCrie uma resposta descrevendo as informações enviadas para que estas sejam utilizadas por um agente no futuro.\n\nLembre-se:\nEste agente apenas terá as informações que você fornecer, portanto repasse toda informação que julgar importante.\n\n#Dados\n<MensagemUsuario>\n{{ $json.MensagemImagem }}\n</MensagemUsuario>\n","inputType":"base64","options":{}},"id":"f6875cd1-d3fb-43e8-a7ea-3b98b47bb763","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[3500,740],"credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"model":"gpt-4.1-mini","options":{"temperature":"={{ $('Parametros Fluxo').item.json.ModeloTemperatura }}"}},"id":"8e1012cf-5853-4560-aacc-570dd1bdf332","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[6740,820],"credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"amount":"={{ $('Parametros Fluxo').item.json.EsperaBuffer }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4300,660],"id":"296b667e-439c-401f-b56d-9546e4401fba","name":"Wait1","webhookId":"28a8b300-fc18-4ab6-9993-49abc0be78de","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bd6c365-d077-4284-9dfe-94db1cbe39bd","leftValue":"={{ $('Buffer 3').item.json.messages.last() }}","rightValue":"={{ $('Buffer ').item.json.messages.last() }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4740,660],"id":"f2a1aef8-03fa-4b4b-8292-a7a073107f61","name":"ComparandoMensagens1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"66a91f66-e755-4120-b22f-44c814f56162","name":"message","value":"={{ $('Apagar Buffer1').item.json.messages.join('\\n\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5300,560],"id":"d51cfe01-cfdf-4ae5-9c16-5e7f3a03fb65","name":"Mensagem1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"n8n_lead","fieldsUi":{"fieldValues":[{"fieldId":"lead_nome","fieldValue":"={{ $('Dados Lead').item.json.LeadNome }}"},{"fieldId":"lead_id","fieldValue":"={{ $('Dados Lead').item.json.id_conversa }}"}]}},"id":"b2b7d441-504e-4652-a9cc-0b36cad8d46f","name":"Encontrar Cliente1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5700,560],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YJTktKcYkeXCelGU","name":"Supabase Google Wanderson"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3419c30f-4400-401b-bf40-db1579507f96","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"35d4ac36-875f-418a-a5a7-044773e95496","name":"Cliente Existe?1","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[5920,560],"alwaysOutputData":false,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"tableId":"n8n_lead","fieldsUi":{"fieldValues":[{"fieldId":"lead_nome","fieldValue":"={{ $('Dados Lead').item.json.LeadNome }}"},{"fieldId":"lead_id","fieldValue":"={{ $('Dados Lead').item.json.IdConversa }}"}]}},"id":"5bb1a2c3-af9f-4540-a427-2f11989cae61","name":"Criar Cliente1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6140,700],"credentials":{"supabaseApi":{"id":"YJTktKcYkeXCelGU","name":"Supabase Google Wanderson"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"id":"ff2e6da6-a61d-4028-96a4-fc9fb16baa13","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[6360,560],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('Dados Lead').item.json.IdConversa }}_buffer","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4080,660],"id":"d888c429-0861-4e19-8970-bf2fcfa4b774","name":"Buffer ","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('Dados Lead').item.json.IdConversa }}_buffer","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4520,660],"id":"b31df2c2-338d-4f24-9410-19ceb5388569","name":"Buffer 3","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').item.json.IdConversa }}_buffer","messageData":"={{ $json.Texto }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3800,260],"id":"46d73d9d-707f-4082-b825-3ba7eed5184c","name":"Add Texto Buffer1","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"delete","key":"={{ $('Dados Lead').item.json.IdConversa }}_buffer"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4960,560],"id":"8e7ef740-8bf3-4d87-87fc-f94b65241542","name":"Apagar Buffer1","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"promptType":"define","text":"={{ $('Mensagem1').item.json.message }}","options":{"systemMessage":"=# Instruções\nVocê é um agente de suporte e vendas da NoCode StartUp, um ecossistema de ensino de tecnologias IA e NoCode, com formações, comunidade e hub de contratações de profissionais, com grande foco na criação de Agentes de Inteligência Artificial.\nAdicione emojis em suas respostas.\n\n# Restrições\n- Adapte o fluxo da conversa conforme as necessidades do usuário, porém evite responder perguntas fora do seu papel, atenha-se a suas <instruções> e função;\n- Nunca invente informações, atenha-se apenas as suas informações fornecidas;\n- Responda apenas com informações que você sabe e tem certeza;\n- Responda o usuário no idioma que ele estiver falando;\n- Nunca envie links coletados da base vetorial;\n\n# Variáveis\nData atual: {{ $now }}\n\n  <ContextoImagem>\nDados entre os parâmetros <ContextoImagem></ContextoImagem> são imagens enviadas pelo usuário que foram pré processadas e detalhadas por uma IA  para que você as entenda.\n\n  <ContextoPDF>\nDados entre os parâmetros <ContextoPDF></ContextoPDF> são arquivos PDF enviados pelo usuário que foram pré processadas e transcritos por uma IA  para que você as entenda.\n\n  <ErroFormatoMensagem>\nO usuário enviou um formato de mensagem que não podemos processar. \nCaso seja a única mensagem enviada, diga ao usuário que não entende esse tipo de mensagem.\n\n\n# Contexto Extra\nQuando o cliente perguntar sobre hospedagem, utilize a ferramenta \"Hospedagens\" para dar seguimento"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[6820,560],"id":"b1a9b3af-af9d-4452-b0fb-68ade6ddb90f","name":"AI Agent1","retryOnFail":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"24aa4532-80db-4c1e-977a-0036b82a8e5f","leftValue":"=","rightValue":"false","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1f478818-2281-4ce9-a9b9-593d2665adf9","name":"Filtro Inicial1","type":"n8n-nodes-base.filter","typeVersion":2.1,"position":[1460,640],"disabled":true,"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"c1ce011b-bd95-468e-863e-f2076f644cf9","name":"Texto","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3020,260],"id":"c9c5db3e-d9d2-4816-a4bf-7b23cc7eb2a8","name":"Mensagem Texto1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"5efc6961-1ff7-4ef2-a772-7e9761592a3e","name":"Audio","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3020,580],"id":"b7036577-6b5e-4b02-b600-0651e00c9957","name":"Mensagem Audio1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"5efc6961-1ff7-4ef2-a772-7e9761592a3e","name":"Imagem","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"},{"id":"f5c70ab5-7671-4bc8-9d23-65b8954ddb08","name":"MensagemImagem","value":"={{ $('Webhook').item.json.body.data.message.imageMessage.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3020,740],"id":"e80f04d7-e87f-4b62-9cad-1bdacd6e20fc","name":"Mensagem Imagem1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').item.json.IdConversa }}_buffer","messageData":"={{ $json.text }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3800,580],"id":"f1399b7f-ca50-4122-b2e5-f917b3026f0e","name":"Add Audio Buffer1","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').item.json.IdConversa }}_buffer","messageData":"={{ $json.Erro }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3800,1080],"id":"ac92f55b-d824-4060-98cf-b81cf9b522d0","name":"Add Error Buffer1","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3500,900],"id":"c6970353-3608-49c5-9847-2bfc2dc90425","name":"Extract from File","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"11dc126a-e72e-431b-8db5-c78168c69439","name":"Erro","value":"<ErroFormatoMensagem>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3020,1080],"id":"48218a7d-0376-4245-861a-0a36e2c515bf","name":"Mensagem Erro1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').item.json.IdConversa }}_buffer","messageData":"=<ContextoPDF>\n  <TranscricaoPDF>\n{{ $json.text }}\n  </TranscricaoPDF>\nContexto Extra: O usuário encaminhou a mensagem a seguir junto ao PDF.\n  <MensagemUsuario>\n{{ $('Mensagem Documento PDF').item.json.MensagemDocumento }}\n  </MensagemUsuario>\n</ContextoPDF>","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3800,900],"id":"1b819a27-844e-4299-a25b-aecde72c42c6","name":"Add PDF Buffer1","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').item.json.IdConversa }}_buffer","messageData":"=<ContextoImagem>\n\n  <DetalheImagem>\n{{ $json.content }}\n  </DetalheImagem>\n\nContexto Extra: O usuário encaminhou a mensagem a seguir junto á imagem.\n  <MensagemUsuario>\n{{ $('Mensagem Imagem1').item.json.MensagemImagem }}\n  </MensagemUsuario>\n\n</ContextoImagem>","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3800,740],"id":"d446a2b1-c434-4ba0-84f2-55bb3bb7a516","name":"Add Imagem Buffer1","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"fieldToSplitOut":"output.mensagens","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[7640,560],"id":"7c9ffb39-f353-43a0-9993-a835115bbd83","name":"Split Out1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[7960,560],"id":"ecf632e9-eedf-4a48-81ce-5dc53f1c295f","name":"Loop Over Items1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[8540,840],"id":"89629e92-6e29-4b0f-8ce8-20baa668c39a","name":"Wait3","webhookId":"a05dcf47-9c83-457c-ba2c-9afc57d55cdb","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[8260,380],"id":"8463aa44-cf1d-466f-84e1-402f87fe51cb","name":"No Operation, do nothing5","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[7400,740],"id":"b1aea786-d744-4cc1-a75c-199c8481c803","name":"Auto-fixing Output Parser1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"operation":"get","propertyName":"AgenteStatus","key":"={{ $('Parametros Fluxo').item.json.IdAgente }}_status_{{ $('Dados Lead').item.json.IdConversa }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2120,640],"id":"5e4404c7-651c-424b-aefc-a61228b18290","name":"Redis","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4960,760],"id":"e92f59f4-0eb7-47ea-92b6-28013cb6a7df","name":"No Operation, do nothing6","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"756ab323-31a2-4a59-92e8-c2c695027962","leftValue":"={{ $json.AgenteStatus }}","rightValue":"Desativado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2280,640],"id":"f2e31fce-0d4f-4512-902a-e3ebad5a306d","name":"Bot Desativado?1","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[7320,900],"id":"c612199a-33c6-4f74-84e0-4409b8648804","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}}},{"parameters":{"content":"## Gatilho\nChat Trigger, WhatsApp, Instagram, Telegram, Messenger, etc..","height":540,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[620,400],"id":"361eea77-6370-4b56-954a-62d5da904eab","name":"Sticky Note2"},{"parameters":{"content":"## Variáveis do Fluxo\nCentral de controle do workflow","height":540,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[980,400],"id":"25a0b7f0-ea6d-44c0-9060-c60f6e5215fd","name":"Sticky Note3"},{"parameters":{"content":"## Filtros Iniciais\nPara evitar que fluxo seja executado quando não queremos","height":540,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1340,400],"id":"287773d1-c52e-4b5c-8380-9d3141d6a330","name":"Sticky Note4"},{"parameters":{"content":"## Dados do Lead\nInformações principais sobre o lead","height":540,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1700,400],"id":"40bd8e4b-1340-4b4d-be3f-354fc4e2725c","name":"Sticky Note5"},{"parameters":{"content":"## Gestão de Fluxo Agente Desativado (Humano em Atendimento)\nGestão do fluxo para atendimento humano.\n","height":540,"width":600,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2060,400],"id":"ff509899-efd5-402b-858e-219594aec083","name":"Sticky Note6"},{"parameters":{"content":"## Registro do Lead no banco de dados (Supabase)\nFluxo para adição do lead no banco de dados postgrees supabase.","height":540,"width":1080,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5540,380],"id":"d41ff00a-8d89-4ce8-86bf-035a528f59ee","name":"Sticky Note7"},{"parameters":{"content":"## Tratamento de Mensagens\nPermitir com que agente entenda texto, áudio, imagem, documentos, etc..","height":1220,"width":1020,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2680,60],"id":"68b637b1-c1e7-450c-a172-761a0e3b741b","name":"Sticky Note8"},{"parameters":{"content":"## Buffer de Mensagens\nGarantir que agente compreenda todo o contexto das mensagens enviadas pelo usuário antes de formular uma resposta","height":1220,"width":1440,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3720,60],"id":"812a131a-44d0-4902-ad16-1c785c9ae365","name":"Sticky Note9"},{"parameters":{"content":"## Mensagem para o Agente\nMensagem final do usuário para o agente","height":540,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5180,380],"id":"8441e75d-e071-4995-b4f1-12a46a880a4c","name":"Sticky Note10"},{"parameters":{"content":"## Agente de IA\nAgente inteligente com memória e prompt pré formatado","height":760,"width":580,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6640,300],"id":"4a87621b-48f8-4e5a-94e2-2e0b46b95cdd","name":"Sticky Note11"},{"parameters":{"content":"## Humanizar Resposta\nQuebra de mensagens em mensagens menores e com contexto.","height":760,"width":580,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7240,300],"id":"301fda86-20e8-4c4d-858f-78778ad4dbd9","name":"Sticky Note12"},{"parameters":{"content":"## Envio das Respostas ao Usuário\nEnvio das mensagens quebradas para o usuário","height":760,"width":900,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7840,300],"id":"617b3f66-87f8-4d66-803b-b013749c7b23","name":"Sticky Note13"},{"parameters":{"content":"","height":1340,"width":8220,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,0],"id":"8cb6fdca-7993-4251-9512-93d25441348a","name":"Sticky Note14"},{"parameters":{"content":"-\n# FLUXO MESTRE AGENTE DE IA\n-","height":140,"width":580,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4560,-180],"id":"adc2d44f-37ea-4630-ba3a-19f9d4783469","name":"Sticky Note17"},{"parameters":{"assignments":{"assignments":[{"id":"9f488c5c-0b3b-48e9-87b1-5a22d513d1ec","name":"IdConversa","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"69f6217f-9063-423f-abf4-e94f6b70f94e","name":"LeadNome","value":"={{ $('Webhook').item.json.body.data.pushName }}","type":"string"}]},"options":{}},"id":"bb40c33f-081d-4259-a876-a94fb5217fd5","name":"Dados Lead","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1820,640],"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"Ajuste o Node Set com os campos relevantes fornecidos.\n","height":280,"width":210,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1760,520],"id":"0feeb471-3936-4229-9603-d5445ef1c4b5","name":"Sticky Note"},{"parameters":{"content":"Ajustes os filtros necessários conforme seu gatilho de entrada","height":280,"width":190,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1420,520],"id":"4f09c155-6784-4e40-ac87-2bc0071643da","name":"Sticky Note1"},{"parameters":{"content":"Ajuste tempos de buffer e inatividade do agente conforme necessidade.\n","height":280,"width":190,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1060,520],"id":"089ad575-e79b-4132-be71-391d11447513","name":"Sticky Note18"},{"parameters":{"content":"### Tipos de Mensagens\nDefina no node Switch as condicionais para definir cada tipo de mídia de acordo com seu gatilho de entrada de dados.\n\nEm cada Node Set:\nMapeie os campos de cada\ntipo de mensagem corretamente.\n\nObs: Não altere o nome\ndos campos pré existentes\nnos nodes SET","height":1080,"width":450,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2740,160],"id":"4822b829-5bb3-47d7-b077-5437fcae0698","name":"Sticky Note19"},{"parameters":{"content":"Faça os ajustes necessários no Prompt do seu agente","height":220,"width":330,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6780,480],"id":"14e3cf76-d70f-414d-ac56-412e9f8a1c64","name":"Sticky Note21"},{"parameters":{"content":"Ajuste sua instância e autenficiação da Evolution","height":300,"width":230,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8220,600],"id":"cd2b1839-eb61-4e7a-9c49-5b15007a74bf","name":"Sticky Note22"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2460,500],"id":"272dd4e3-416c-4763-aa60-84ae7959f5bb","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"5efc6961-1ff7-4ef2-a772-7e9761592a3e","name":"Documento","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"},{"id":"003323ec-ffbe-4c91-b8b5-623466b5014d","name":"MensagemDocumento","value":"={{ $('Webhook').item.json.body.data.message.documentWithCaptionMessage.message.documentMessage.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3020,900],"id":"1513ba56-75e4-4306-8757-590aa7b0db79","name":"Mensagem Documento PDF","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"assignments":{"assignments":[{"id":"3bdce7b6-d0f1-442c-aafd-8cd123aa21b6","name":"EsperaBuffer","value":1,"type":"number"},{"id":"c38e8985-4494-40a4-878e-f25467849842","name":"TempoInatividadeAgente","value":900,"type":"number"},{"id":"ac619a5e-1438-4e19-aaf5-21dfcbc32312","name":"ModeloTemperatura","value":0.4,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,640],"id":"7e207e92-5a57-45e3-857c-1e24e38a2e70","name":"Parametros Fluxo","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"httpMethod":"POST","path":"2ced452d-1160-47e1-a5d5-c0926023bca1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[720,640],"id":"a3d64dca-ad72-42c7-8a28-b45f52da2637","name":"Webhook","webhookId":"2ced452d-1160-47e1-a5d5-c0926023bca1"},{"parameters":{"content":"### Tratamento de Mensagens\nCada canal pode nos enviar as informações de diferentes formas e aqui trataremos elas de acordo.\n","height":1080,"width":450,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3220,160],"id":"3084db46-d6ec-4eae-af6a-2b67e634ecfa","name":"Sticky Note24"},{"parameters":{"operation":"toBinary","sourceProperty":"Imagem","options":{"mimeType":"image/png"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3280,740],"id":"3a9b4f1f-8e3e-4829-bcde-d3c708cd286e","name":"Convert to File"},{"parameters":{"operation":"toBinary","sourceProperty":"Audio","options":{"mimeType":"audio/mp4"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3280,580],"id":"10c6aef4-dfda-4ba7-96c8-43700f8d4b30","name":"Convert to File1"},{"parameters":{"operation":"toBinary","sourceProperty":"Documento","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3280,900],"id":"23b61074-199c-4b14-aeb6-ddce9d8c1356","name":"Convert to File2"},{"parameters":{"assignments":{"assignments":[{"id":"c1ce011b-bd95-468e-863e-f2076f644cf9","name":"Texto","value":"={{ $('Webhook').item.json.body.data.message.extendedTextMessage.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3020,420],"id":"74ad4fd8-1d34-48de-a6d0-f7cdbeefab63","name":"Mensagem Texto2","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"method":"POST","url":"=https://api.alcateia.site/message/sendText/giaguess","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Dados Lead').item.json.IdConversa }}"},{"name":"text","value":"={{ $json['output.mensagens'] }}"}]},"options":{}},"id":"7b7a6957-9c28-47cc-80d0-2161e58541e4","name":"(EVO) Enviar Mensagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8280,700],"credentials":{"httpHeaderAuth":{"id":"qYDXV9jlVfAFDRVn","name":"Evo API"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mensagens\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"mensagens\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[7600,900],"id":"b34d8d61-2328-4757-91cf-bcb4ee7bbaf2","name":"Structured Output Parser [Schema]","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"![Source example](https://raichu-uploads.s3.amazonaws.com/logo_no-code-start-up_gjespp.png#full-width)\n","width":160,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,-180],"id":"123c2617-5665-4d27-8145-b3b9b49d59cd","name":"Sticky Note25"},{"parameters":{"content":"![Source example](https://raw.githubusercontent.com/EvolutionAPI/evolution-api/main/public/images/cover.png)\n","height":120,"width":220,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[920,-140],"id":"36893542-6bc5-4bcd-af79-553d0751af29","name":"Sticky Note26"},{"parameters":{"content":"![Source example](https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/800px-WhatsApp.svg.png)\n","width":160,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[740,-180],"id":"f718e7a8-3b35-46c3-9afb-c2dd763e06ef","name":"Sticky Note27"},{"parameters":{"content":"## Instruções de Uso\n🔴 Áreas em vermelho você deve realizar alterações de acordo com seu canal de entrada;\n🟢 Áreas em verde já estão pré configuradas para o canal do Template, caso vá utilizar outro canal, também fazer devidas alterações nesses nodes;\n\n⚠️ Atenção: \n1. Não altere nome de parâmetros pré-existentes para para evitar quebra do fluxo;\n2. Fique a vontade para adicionar novos parâmetros caso necessário;","height":220,"width":690,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[620,60],"id":"4e7a6e17-0d9a-4b34-9e5a-ec2b41fea5a5","name":"Sticky Note23"},{"parameters":{"descriptionType":"manual","toolDescription":"Essa tool desativa o seu atendimento e passa a conversa para o atendente humano. Após a desativação, você não poderá mais falar com o atentende.\n\nApenas fale sobre a possibilidade de um atendimento humano caso seja explicitamente requisitado esse tipo de atendimento, ou caso o clima da conversa com o usuário ficar muito negativo.\n\nAntes de desativar, reforce para o cliente sobre quais assuntos você pode ajuda-lo e confirme se mesmo assim ele deseja seguir com atendimento humano.\n\nSempre solicite uma dupla confirmação do usuário antes de desativar o seu atendimento.\n\n# Resposta após desativação:\nResponda ao usuário que a conversa foi encaminhada para um atendente especializado que logo irá entrar em contato e dará seguimento ao atendimento.","operation":"set","key":"={{ $('Dados Lead').item.json.IdConversa }}_status","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `Definir como \"Ativo\" ou \"Desativado\"\n\nSempre manter ativo, \nDesativar apenas após dupla confirmação explicita do usuário.`, 'string') }}","expire":true,"ttl":"={{ $('Parametros Fluxo').item.json.TempoInatividadeAgente }}"},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[7100,820],"id":"f10ea79b-feee-42a7-a6ec-f7d7116da6b9","name":"DesativarAgente1","credentials":{"redis":{"id":"kPpJejEq0QEfKtSp","name":"Redis account Wanderson Google"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n{{ $json.output }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Apenas estruture a <mensagem_do_usuario> no formato JSON solicitado no output parser e seguindo as instruções de formatação abaixo. Não altere nada mais na mensagem\n\n# Formatação\n- Divida as mensagens para que fiquem naturais e humanizadas;\n- Divida as mensagens conforme estrutura do output parser para que não fiquem muito longas (maiores que 240 caractéres);\n- Não separe mensagens vazias;\n- Use quebras de linhas (\\n\\n) após pontos finais;\n- Para negrito (bold) use apenas um '' nunca duas '' (exemplo: *negrito).\n\nExemplo de formato JSON:\n{\n\"mensagens\": [\"Mensagem 0\", \"Mensagem 1\", \"Mensagem 2\"]\n}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[7300,560],"id":"79674cb9-2c38-4e0d-bd20-fc367bff5243","name":"Basic LLM Chain"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Dados Lead').item.json.IdConversa }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[6920,820],"id":"b7f6da23-644f-4211-814c-b634426d747f","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}},"notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"description":"Chame esta ferramenta sempre que for escalar para hospedagem","workflowId":{"__rl":true,"value":"XM8lHKo0HbPNqIgi","mode":"list","cachedResultName":"2 - Guess Imóveis 07. On Demand"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dataentrada":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dataentrada', ``, 'string') }}","datasaida":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('datasaida', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"imovel","displayName":"imovel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"totaladultos","displayName":"totaladultos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"totalcriancas","displayName":"totalcriancas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"dataentrada","displayName":"dataentrada","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"datasaida","displayName":"datasaida","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cpfhospede","displayName":"cpfhospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"nomehospede","displayName":"nomehospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"telefonehospede","displayName":"telefonehospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"emailhospede","displayName":"emailhospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"cupomdesconto","displayName":"cupomdesconto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[7020,940],"id":"42164ca3-041f-486e-af8b-e89062953c78","name":"Hospedagens"}],"connections":{"Switch1":{"main":[[{"node":"Mensagem Texto1","type":"main","index":0}],[{"node":"Mensagem Texto2","type":"main","index":0}],[{"node":"Mensagem Audio1","type":"main","index":0}],[{"node":"Mensagem Imagem1","type":"main","index":0}],[{"node":"Mensagem Documento PDF","type":"main","index":0}],[{"node":"Mensagem Erro1","type":"main","index":0}]]},"Transcrever Áudio1":{"main":[[{"node":"Add Audio Buffer1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Add Imagem Buffer1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Wait1":{"main":[[{"node":"Buffer 3","type":"main","index":0}]]},"ComparandoMensagens1":{"main":[[{"node":"Apagar Buffer1","type":"main","index":0}],[{"node":"No Operation, do nothing6","type":"main","index":0}]]},"Mensagem1":{"main":[[{"node":"Encontrar Cliente1","type":"main","index":0}]]},"Encontrar Cliente1":{"main":[[{"node":"Cliente Existe?1","type":"main","index":0}]]},"Cliente Existe?1":{"main":[[{"node":"Merge1","type":"main","index":0}],[{"node":"Criar Cliente1","type":"main","index":0}]]},"Criar Cliente1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Buffer ":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Buffer 3":{"main":[[{"node":"ComparandoMensagens1","type":"main","index":0}]]},"Add Texto Buffer1":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Apagar Buffer1":{"main":[[{"node":"Mensagem1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Filtro Inicial1":{"main":[[{"node":"Dados Lead","type":"main","index":0}]]},"Mensagem Texto1":{"main":[[{"node":"Add Texto Buffer1","type":"main","index":0}]]},"Mensagem Audio1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Mensagem Imagem1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Add Audio Buffer1":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Add Error Buffer1":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Add PDF Buffer1","type":"main","index":0}]]},"Mensagem Erro1":{"main":[[{"node":"Add Error Buffer1","type":"main","index":0}]]},"Add PDF Buffer1":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Add Imagem Buffer1":{"main":[[{"node":"Buffer ","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"(EVO) Enviar Mensagem","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Auto-fixing Output Parser1":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Redis":{"main":[[{"node":"Bot Desativado?1","type":"main","index":0}]]},"Bot Desativado?1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser1","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Dados Lead":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Mensagem Documento PDF":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Parametros Fluxo":{"main":[[{"node":"Filtro Inicial1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parametros Fluxo","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Transcrever Áudio1","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Mensagem Texto2":{"main":[[{"node":"Add Texto Buffer1","type":"main","index":0}]]},"(EVO) Enviar Mensagem":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Structured Output Parser [Schema]":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser1","type":"ai_outputParser","index":0}]]},"DesativarAgente1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Hospedagens":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.alcateia.site","user-agent":"axios/1.10.0","content-length":"991","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"104.197.241.222","x-forwarded-host":"webhook.alcateia.site","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"e64c89d1f606","x-real-ip":"104.197.241.222"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"giaguess","data":{"key":{"remoteJid":"5514998011995@s.whatsapp.net","fromMe":false,"id":"3EB003DAC7726CAE95BFD7","senderLid":"185044404596919@lid"},"pushName":"Wanderson","status":"DELIVERY_ACK","message":{"conversation":"Boa tarde","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"/HURCT5vzp8hdQ==","senderTimestamp":"1752285513","senderAccountType":"E2EE","receiverAccountType":"E2EE","recipientKeyHash":"Mi+PsCfH2jiYNQ==","recipientTimestamp":"1752234753"},"deviceListMetadataVersion":2,"messageSecret":"QZbG4YmL36Pr0SGmPK2V0nbomlm17t0ApsijbWbH0Zg="}},"messageType":"conversation","messageTimestamp":1752782816,"instanceId":"8072df76-0998-46ab-aee7-43737db08893","source":"web"},"destination":"https://webhook.alcateia.site/webhook/2ced452d-1160-47e1-a5d5-c0926023bca1","date_time":"2025-07-17T17:06:56.572Z","sender":"5514997978162@s.whatsapp.net","server_url":"https://api.alcateia.site","apikey":"91DFB87FE38C-4C56-A390-E21183CF1DA5"},"webhookUrl":"https://webhook.alcateia.site/webhook/2ced452d-1160-47e1-a5d5-c0926023bca1","executionMode":"production"}}]},"versionId":"dcd45387-d982-4258-8c6b-609f877894ef","triggerCount":1,"tags":[{"createdAt":"2025-07-04T14:17:35.852Z","updatedAt":"2025-07-04T14:17:35.852Z","id":"OuyfQf0vwX8aQSCF","name":"NoCode StartUp"}]}
