workflows/6_Assistente_interno.json
{"createdAt":"2025-05-27T21:51:55.280Z","updatedAt":"2025-05-29T22:36:33.444Z","id":"C8V4IAVCbujSpJbU","name":"6. Assistente interno","active":false,"isArchived":false,"nodes":[{"parameters":{"chatId":"={{ $('Info').item.json.telegram_chat_id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2080,660],"id":"1776c43c-3f66-4b5a-9c4c-7dbd396d4d34","name":"Responder Telegram","webhookId":"21855174-4f7f-49f5-b8f4-a284d6ee4ddf","credentials":{"telegramApi":{"id":"HuA2rNZ8IBOumBkP","name":"Telegram account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[60,660],"id":"626b9398-ebe5-48b0-a975-70f1cbb06cc0","name":"Receber Mensagem Telegram","webhookId":"f2b29356-d5d3-4f5d-9ef1-273001c0a820","credentials":{"telegramApi":{"id":"HuA2rNZ8IBOumBkP","name":"Telegram account"}}},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=Agora são {{ $now.format('FFFF') }}.\n\n## PAPEL\n\nVocê é um assistente interno de reagendamento no escritório, acionado diretamente por um profissional via mensagem para gerenciar situações de remarcação de consultas, incluir lembretes na lista de compras ou agendar tarefas.\n\n## OBJETIVO GERAL\n\n1. Reagendar consultas a pedido do profissional.  \n2. Adicionar lembretes na lista de compras quando solicitado.  \n3. Agendar tarefas a pedido do profissional\n\n\n## RESUMO DE RESPONSABILIDADES\n\n1. Reagendamento de leads  \n   - Acesse o Google Calendar por meio das ferramentas de evento para identificar as consultas afetadas.\n   - Extraia o número de telefone e o ID da conversa na descrição do evento.\n   - Use a ferramenta \"Enviar_reagendamento\" para enviar mensagens de reagendamento aos pacientes.\n   - Envie a pergunta de preferência de nova data e horário.\n2. Lista de compras do escritório  \n   - Se o profissional solicitar a inclusão de um item na lista de compras, utilize a ferramenta \"Criar_tarefa\" para adicionar o lembrete.\n3. Agendamento de tarefas do escritório\n   - Se o profissional solicitar o agendamento de uma tarefa na agenda do Google Calendar, utilize a ferramenta \"Criar_tarefa\" para adicionar o lembrete.\n4. Ler e resumir lista de emails\n   - Se o profissional solicitar informação sobre os emails recebidos, use a ferramenta \"Ler_emails\" e resuma as informações\n\n## ORIENTAÇÕES DE LINGUAGEM E PROCEDIMENTO\n\n- Use uma abordagem empática, profissional e acolhedora.\n- Nunca envie mensagens para pacientes sem autorização explícita do profissional.\n- Quando listar eventos ou tarefas, seja objetivo e organizado.\n- Mantenha clareza e concisão em todas as interações.\n\n## PROFISSIONAIS E ESPECIALIDADES\n\nSegue o nome dos profissionais, suas especialidades, e o ID da agenda que deve ser usado nas ferramentas Google Calendar\n\n**MUITO IMPORTANTE!! O ID DA AGENDA INCLUI O \"@group.calendar.google.com\". NÃO OMITA AO UTILIZAR AS FERRAMENTAS**\n\n- Dr. João Paulo Ferreira - Médico - Clinico Geral (c_46b1d614bf4f151ca950431202bf90ca003301793b48cffc489dc411be79c4bf@group.calendar.google.com)\n- Dr. Roberto Almeida - Médico - Cardiologia (c_6c3005bf4afd591f13f242f6509208ddbe1feadad3f6521884ab79c59069bfd0@group.calendar.google.com)\n- Dra. Ana Silva - Dentista - Clínica Geral (c_ebce2058c0b75e881585b90539f6ded839de178d4bb64e1aa9e4f6468d6954a6@group.calendar.google.com)\n- Dra. Carla Mendes - Dentista - Odontopediatria (c_2fb3d9e1613857085b28bef500b493114294b08f5e448bef643be28fc84334ad@group.calendar.google.com)\n\n## IMPORTANTE\n\n- Use a ferramenta \"Refletir\" antes e depois de realizar operações complexas, para ter certeza de que deu tudo certo.\n- SEMPRE QUE ENVIAR UMA MENSAGEM PARA O PACIENTE, **USE A FERRAMENTA \"Salvar_memoria\"**. ISSO É MUITO IMPORTANTE, NÃO FAÇA ERRADO POR FAVOR.\n\n## INSTRUÇÕES FINAIS\n\n- Atenda exclusivamente às solicitações de reagendamento e inclusão de lembretes.\n- A remarcação de consultas ocorre somente quando o profissional pede, utilizando as ferramentas de evento para identificar os pacientes e a ferramenta \"Enviar_reagendamento\" para enviar a mensagem.\n- Para a lista de compras e lembretes, sempre use \"Criar_tarefa\".\n- Para a sua resposta que será enviada para o profissional que fez a soliticação, **NÃO UTILIZE FORMATAÇÃO MARKDOWN**.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1720,660],"id":"075d4e64-b635-4764-ac4b-3e05a357127c","name":"Assistente do escritório interno"},{"parameters":{"content":"## Assistente interno\n","height":560,"width":2300,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,500],"id":"36519cf8-6695-43c3-b091-ca410e812dbe","name":"Sticky Note4"},{"parameters":{"content":"[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-ep2&utm_medium=cw-6)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n\n### Siga nosso GitHub\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n","height":440,"width":550,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,40],"id":"0adca673-cc9e-463b-98e2-217e5c030df6","name":"Sticky Note10"},{"parameters":{"content":"## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![IMAGE ALT TEXT HERE](https://i1.ytimg.com/vi_webp/cvTWGNJGAu4/maxresdefault.webp)](https://www.youtube.com/watch?v=cvTWGNJGAu4)","height":440,"width":500,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,40],"id":"1b0f2556-743b-4719-9d63-eaff1492efcf","name":"Sticky Note13"},{"parameters":{"content":"![Chatwoot](https://app.chatwoot.com/brand-assets/logo_dark.svg)","height":100,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[220,340],"id":"8b98e1d0-e689-476c-a6e0-33cad8d5d7d4","name":"Sticky Note23"},{"parameters":{"descriptionType":"manual","toolDescription":"Salva a informação de agendamento enviada, para que a secretária saiba que foi enviada.","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_historico_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $fromAI('telefone', 'Telefone do paciente, formatado com apenas números, incluindo código do país. Ex.: \"551112345678\"', 'string') }}","message":"={ \"type\": \"ai\", \"content\": \"{{ $fromAI('message', 'A mesma mensagem enviada para o paciente.', 'string') }}\" }"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1480,900],"id":"0d825700-1fcd-4d8b-88a3-b3df4ea1fe65","name":"Salvar memoria","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}}},{"parameters":{"operation":"getAll","limit":5,"filters":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[2020,900],"id":"145d4201-41f0-4eab-a6d5-740d4c9b271e","name":"Ler emails","webhookId":"dde17a90-60a1-42ad-9a09-06cf2fbb3105","credentials":{"gmailOAuth2":{"id":"RuwCHqYn83uy1IVM","name":"Gmail account"}}},{"parameters":{"task":"YXdwUHJaRVoxWDdudFNGNg","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}","additionalFields":{"dueDate":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Date', ``, 'string') }}","notes":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}","status":"needsAction"}},"type":"n8n-nodes-base.googleTasksTool","typeVersion":1,"position":[1880,900],"id":"388fa192-f7f7-4deb-b872-90d6a57265e5","name":"Criar tarefa","credentials":{"googleTasksOAuth2Api":{"id":"of94HIrpBOMdtSsE","name":"Google Tasks account"}}},{"parameters":{"assignments":{"assignments":[{"id":"439cbe58-9652-4831-bf25-f077216f1d55","name":"url_chatwoot","value":"https://chatwoot.alcateia.site","type":"string"},{"id":"0a3fa735-aced-46e9-b9de-1734f9f2b537","name":"id_conta","value":"={{ $json.account_id }}","type":"string"},{"id":"2c4f57f2-8175-43e9-8d59-2796b2ebf488","name":"telegram_chat_id","value":"={{ $('Receber Mensagem Telegram').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,660],"id":"fb91d576-1972-4a16-a22f-b1d97e124207","name":"Info"},{"parameters":{"resource":"Profile","operation":"Fetch Profile","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[280,660],"id":"85478771-93b1-4da8-93bb-4ad7449069f4","name":"Buscar informações da conta","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"assistente_interno","tableName":"n8n_historico_mensagens","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1340,900],"id":"57da9fee-ba30-497b-a01b-0e14f2a4b28f","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}}},{"parameters":{"modelName":"models/gemini-2.5-pro-preview-03-25","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1200,900],"id":"2300c6fe-bd09-469d-9756-6a653b528478","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NS3lWtAwJAoj2SGy","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sseEndpoint":"https://webhook.alcateia.site/mcp/db6bc79d-ba32-41c4-b492-f0f5bbcb8fd3/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1600,900],"id":"200a5b38-e161-4e61-813b-03dffa92a39c","name":"MCP Google Calendar"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[2160,900],"id":"b8f37d9c-ec7f-454c-ac88-97e95263ceb5","name":"Refletir"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Receber Mensagem Telegram').item.json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"48feeb05-d1a0-45a7-9e6b-04faef4b5175"}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cf1a12e-bd0a-4ac6-a33c-6748438c9c8a","leftValue":"={{ $('Receber Mensagem Telegram').item.json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[720,660],"id":"98f0b2b6-085f-4cea-bfce-609ad43428bf","name":"Tipo de mensagem"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1220,560],"id":"71cc2213-8e04-4ac1-bcd3-13243725ec02","name":"Transcrever áudio","credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"45efc554-3f74-4922-a2cf-f64d2ea084c0","name":"mensagem","value":"={{ $('Receber Mensagem Telegram').item.json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,760],"id":"fb3393df-5c25-48e1-ae70-dfc738bfb40e","name":"Set mensagem texto"},{"parameters":{"assignments":{"assignments":[{"id":"0e95db55-1b2e-4762-a547-9481029291e9","name":"mensagem","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,560],"id":"c687feb3-70a3-4e63-bcbe-692e8dfcc3ac","name":"Set mensagem áudio"},{"parameters":{"content":"## 6. Assistente interno","height":80,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,-60],"id":"76c2ec91-cc32-408d-a293-22be192eab8e","name":"Sticky Note30"},{"parameters":{"description":"Use essa ferramenta para enviar as informações de reagendamento no WhatsApp.\n\nO ID da conversa deve ser extraído das informações do evento.","workflowId":{"__rl":true,"value":"44yVdqm1rzgFkNqW","mode":"list","cachedResultName":"5. Enviar agendamento"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1740,900],"id":"cec7cdf0-78c6-4223-ab03-12a0873fee9e","name":"Enviar agendamento"},{"parameters":{"resource":"file","fileId":"={{ $('Receber Mensagem Telegram').item.json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1000,560],"id":"cdef46f4-e797-455c-b509-834aa67b5b2c","name":"Download áudio","webhookId":"9b28d599-c57f-4ecf-94a1-6334f7dabf6d","credentials":{"telegramApi":{"id":"HuA2rNZ8IBOumBkP","name":"Telegram account"}}}],"connections":{"Assistente do escritório interno":{"main":[[{"node":"Responder Telegram","type":"main","index":0}]]},"Salvar memoria":{"ai_tool":[[{"node":"Assistente do escritório interno","type":"ai_tool","index":0}]]},"Ler emails":{"ai_tool":[[{"node":"Assistente do escritório interno","type":"ai_tool","index":0}]]},"Criar tarefa":{"ai_tool":[[{"node":"Assistente do escritório interno","type":"ai_tool","index":0}]]},"Info":{"main":[[{"node":"Tipo de mensagem","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Assistente do escritório interno","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Assistente do escritório interno","type":"ai_languageModel","index":0}]]},"MCP Google Calendar":{"ai_tool":[[{"node":"Assistente do escritório interno","type":"ai_tool","index":0}]]},"Refletir":{"ai_tool":[[{"node":"Assistente do escritório interno","type":"ai_tool","index":0}]]},"Tipo de mensagem":{"main":[[{"node":"Download áudio","type":"main","index":0}],[{"node":"Set mensagem texto","type":"main","index":0}]]},"Transcrever áudio":{"main":[[{"node":"Set mensagem áudio","type":"main","index":0}]]},"Set mensagem texto":{"main":[[{"node":"Assistente do escritório interno","type":"main","index":0}]]},"Set mensagem áudio":{"main":[[{"node":"Assistente do escritório interno","type":"main","index":0}]]},"Enviar agendamento":{"ai_tool":[[{"node":"Assistente do escritório interno","type":"ai_tool","index":0}]]},"Download áudio":{"main":[[{"node":"Transcrever áudio","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7e01d0fa-bb1f-473f-bf8a-036e9451ade0","triggerCount":1,"tags":[]}
