workflows/API_OD_Consulta_data.json
{"createdAt":"2025-07-03T18:20:36.395Z","updatedAt":"2025-07-08T12:17:53.431Z","id":"kSSgdc11LqG5M3hu","name":"API OD Consulta data","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"dataentrada"},{"name":"datasaida"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[220,0],"id":"d159e872-8889-46a2-968d-619b4e9490c7","name":"When Executed by Another Workflow"},{"parameters":{"url":"=http://testesapi.guesstecnologia.com.br/api/agendamentosdemand?parametros={{ $json.encodedBase64String }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,0],"id":"5cb3392a-fccf-4553-88d3-54976df88cd5","name":"HTTP Request","credentials":{"httpBasicAuth":{"id":"jNIpg9MjDA7hwALA","name":"API Teste Guess On Demand"}}},{"parameters":{"jsCode":"// O n8n já fornece os itens de entrada no escopo, geralmente como 'items'.\n// Ou você pode acessar o primeiro item diretamente se souber que só vem um.\n\n// Vamos assumir que 'items' já está disponível e contém os dados de entrada\n// Se o seu 'Set' node gerou apenas um item, ele estará em items[0]\nconst currentItem = items[0].json; // Acessa o objeto JSON do primeiro item de entrada\n\n// Assumindo que as datas de entrada (dataentrada, datasaida) vêm no formato \"dd/MM/aaaa\"\nconst dataentrada = currentItem.dataentrada;\nconst datasaida = currentItem.datasaida;  \n\n// 1. Converter as datas para o formato ddmmaaaa (remover as barras)\nconst dataentradaFormatada = dataentrada.replace(/\\//g, ''); // Ex: \"21/08/2025\" -> \"21082025\"\nconst datasaidaFormatada = datasaida.replace(/\\//g, '');   // Ex: \"23/08/2025\" -> \"23082025\"\n\n// 2. Constrói a string no formato desejado: \"ddmmaaaa|ddmmaaaa|||||\"\n//    Usa '|' como delimitador entre as datas e adiciona os múltiplos '|||||' no final.\nconst stringtoEncode = `${dataentradaFormatada}|${datasaidaFormatada}|||||`;\n\n// 3. Codifica a string resultante em Base64\nconst encodedBase64 = Buffer.from(stringtoEncode).toString('base64');\n\n// 4. Adiciona a string codificada em Base64 ao output JSON\nitems[0].json.encodedBase64String = encodedBase64;\n\nreturn items; // Retorna os itens modificados"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0],"id":"b3d8c24a-dacb-4fff-9682-c8476ba11831","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"dataentrada":"21082025","datasaida":"23082025"}}]},"versionId":"449af611-a8e0-40fd-b40d-a27bed8094a0","triggerCount":0,"tags":[]}
