workflows/API_ViaCEP.json
{"createdAt":"2025-07-02T13:57:44.118Z","updatedAt":"2025-07-02T20:24:58.294Z","id":"IuQkG6kHcnIUgXzb","name":"API ViaCEP","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Itera sobre cada item de entrada (se houver múltiplos)\nfor (const item of items) {\n  // Verifica se chatInput existe e é uma string\n  if (item.json.chatInput && typeof item.json.chatInput === 'string') {\n    // Remove todos os caracteres que não são dígitos do chatInput\n    const cleanedCep = item.json.chatInput.replace(/\\D/g, '');\n\n    // Armazena o CEP limpo na propriedade 'cep' do JSON de saída\n    item.json.cep = cleanedCep;\n  } else {\n    // Se chatInput não existir ou não for string, você pode optar por:\n    // 1. Deixar item.json.cep indefinido (o que pode causar erro no HTTP Request)\n    // 2. Definir um valor padrão ou null\n    // 3. Adicionar uma mensagem de erro ou pular o item\n    // Por simplicidade, vamos apenas garantir que 'cep' não seja criado se não houver input válido\n    // ou você pode definir item.json.cep = null;\n    console.warn(\"chatInput não encontrado ou não é uma string para o item:\", item);\n  }\n}\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[280,180],"id":"b055eeea-9d7c-4716-8d5a-0f44f1ee0f91","name":"Code"},{"parameters":{"url":"=https://viacep.com.br/ws/{{ $json.cep }}/json/","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,180],"id":"c2cd8a53-24bf-4806-8733-a9a2deffa7d6","name":"HTTP Request"},{"parameters":{"workflowInputs":{"values":[{"name":"cep"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[60,180],"id":"3d5be05a-34a2-4184-b033-6ece2ba4b356","name":"When Executed by Another Workflow"}],"connections":{"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"35af9a48-632f-495d-a3b5-6ad8f0aa59cc","triggerCount":0,"tags":[]}
