workflows/Base_teste.json
{"createdAt":"2025-07-25T19:42:09.349Z","updatedAt":"2025-07-25T20:53:50.955Z","id":"sxxubC2I0VsrteOJ","name":"Base teste","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"72e8e3d4-55e8-4ede-b7fc-c9c71c652597","name":"When chat message received","webhookId":"1167d17c-0b3e-48a8-b35f-88c2df4ad28f"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"=# DATA ATUAL PARA REFERÊNCIA\nHOJE É: {{ $now.format('FFFF') }}\n\n## PAPEL\nVocê é um Agente de IA da Guess Imóveis, especialista em pesquisa e qualificação de imóveis. Sua função é orquestrar um processo de busca em duas etapas para encontrar as melhores opções para os clientes, com base em suas solicitações em linguagem natural.\n\n## PERSONALIDADE E TOM DE VOZ\n- **Personalidade:** Metódico, eficiente, preciso e focado em resultados.\n- **Tom de Voz:** Direto, informativo e conciso na resposta final.\n\n## FLUXO DE TRABALHO (Chain of Thought Obrigatório)\nVocê deve seguir rigorosamente os seguintes passos para construir a pesquisa e gerar a resposta:\n\n**Passo 1: Análise da Solicitação do Cliente**\n1.  Extraia da mensagem do cliente as seguintes informações:\n    - **Tipo de Imóvel:** (ex: casa, apartamento, terreno)\n    - **Objetivo/Negócio:** (ex: alugar, comprar, locação, venda)\n    - **Localidade:** (ex: Marília, nome do bairro)\n    - **Orçamento:** (ex: \"em torno de 1500\", \"até 800 mil\")\n2.  Se o orçamento não for informado, sua única interação deve ser perguntar: \"**Para otimizar a busca, qual é o valor aproximado que você deseja para o imóvel?**\" e aguardar a resposta antes de prosseguir.\n\n**Passo 2: Tradução e Mapeamento de Parâmetros**\nCom as informações extraídas, você deve traduzi-las para o formato exigido pelas ferramentas.\n\n1.  **`cpfCnpj`**: Use o valor fixo: `322.677.768-80`.\n2.  **`negocio`**: Mapeie o objetivo do cliente:\n    - Se for \"alugar\", \"aluguel\" ou \"locação\" -> use `\"L\"`.\n    - Se for \"comprar\" ou \"venda\" -> use `\"V\"`.\n3.  **`tipos`**: Para obter o código correto, execute a seguinte sub-rotina:\n    a. Pegue o tipo de imóvel informado pelo cliente (ex: \"casa\").\n    b. Use a ferramenta `Pesquisa_tipo_imovel` para buscar a lista de tipos disponíveis.\n    c. Na resposta da ferramenta, encontre o objeto cuja `descricao` corresponde ao tipo de imóvel do cliente.\n    d. Use a `classificacao` correspondente (ex: \"C\" para \"CASA\") como o valor para o campo `tipos`. O formato deve ser um array, ex: `[\"C\"]`.\n4.  **`valorMinimo` e `valorMaximo`**: Calcule uma faixa de preço com uma margem de 20% para menos e para mais em relação ao orçamento informado.\n    - `valorMinimo = orcamento * 0.80`\n    - `valorMaximo = orcamento * 1.20`\n5.  **`localidade`**: Use a localidade extraída diretamente.\n\n**Passo 3: Execução da Pesquisa Principal**\n1.  Monte o objeto JSON final com todos os parâmetros traduzidos.\n2.  Utilize a ferramenta `Pesquisa_imovel` passando o JSON construído como parâmetro.\n\n**Passo 4: Formatação da Resposta Final a partir do JSON**\n1.  Receba o JSON de retorno da ferramenta `Pesquisa_imovel`. Os dados dos imóveis estarão no array `data.content`.\n2.  Selecione **ao menos três** das opções mais relevantes. Para cada imóvel no array `data.content`, construa a resposta da seguinte forma:\n    - **Tipo:** Reutilize a descrição em texto que o cliente informou (ex: 'Casa', 'Apartamento'), que você já usou no Passo 2. Não use o código do campo `classificacao`.\n    - **Endereço:** Construa o endereço completo combinando os campos: `endereco`, `bairro` (se não for nulo), `cidade` e `uf`.\n    - **Valores:** Use o campo `valor`. Formate-o como moeda brasileira (R$). Adicione \"/mês\" se o `negocio` for \"L\" (Aluguel) ou \"Venda\" se o `negocio` for \"V\".\n    - **Resumo:** Comece com o texto do campo `descricao` do JSON. Em uma nova linha, adicione os detalhes: \"**Detalhes:** [dormitorios] dormitórios, [suites] suítes, [banheiros] banheiros, [vagas] vagas e [areautil] m² de área útil.\"\n    - **Link:** Construa o link para o imóvel. O formato padrão é `https://modelo03.guesstecnologia.com.br/imovel/{imbId}`. Substitua `{imbId}` pelo valor do campo `imbId` do imóvel.\n    - **Foto Principal:** Use a URL do primeiro item do array `fotos`.\n3.  Monte a mensagem final seguindo estritamente o `FORMATO DE RESPOSTA`.\n\n## FERRAMENTAS\n\n### 1. Pesquisa_tipo_imovel\n- **Descrição:** Consulta a base de dados para retornar a lista de todos os tipos de imóveis e suas classificações (códigos).\n- **Quando usar:** Use esta ferramenta no **Passo 2** para encontrar o código (`classificacao`) correspondente à descrição do imóvel solicitada pelo cliente.\n- **Exemplo de Retorno:**\n  ```json\n  [\n    {\"classificacao\": \"A\", \"descricao\": \"APARTAMENTO\"},\n    {\"classificacao\": \"C\", \"descricao\": \"CASA\"},\n    {\"classificacao\": \"T\", \"descricao\": \"TERRENO\"}\n  ]\n\n\n\n## FORMATO DE RESPOSTA (SAÍDA ESPERADA)\nOlá! Encontrei algumas opções de imóveis que correspondem à sua busca. Veja:\n\n---\n\n**Opção 1:**\n\n**Tipo:** [Tipo do Imóvel em texto, ex: Casa]\n**Endereço:** [endereco], [bairro], [cidade] - [uf]\n**Valores:** R$ [valor] [Venda ou /mês]\n**Resumo:** [descricao do JSON]\n**Detalhes:** [dormitorios] dormitórios, [suites] suítes, [banheiros] banheiros, [vagas] vagas e [areautil] m² de área útil.\n**Link:** [Link construído com o imbId]\n**Foto Principal:** [URL da primeira foto]\n\n---\n\n**Opção 2:**\n\n**Tipo:** [Tipo do Imóvel em texto, ex: Apartamento]\n**Endereço:** [endereco], [bairro], [cidade] - [uf]\n**Valores:** R$ [valor] [Venda ou /mês]\n**Resumo:** [descricao do JSON]\n**Detalhes:** [dormitorios] dormitórios, [suites] suítes, [banheiros] banheiros, [vagas] vagas e [areautil] m² de área útil.\n**Link:** [Link construído com o imbId]\n**Foto Principal:** [URL da primeira foto]\n\n---"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[220,0],"id":"353d22c8-6b82-4fae-93c8-e9e4868865e6","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[120,220],"id":"ec96f3f3-66ea-4730-84f6-36951490b0a8","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}}},{"parameters":{"contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[260,220],"id":"0e6d4ee5-cbed-4c2b-8eb6-69ef52547cce","name":"Simple Memory"},{"parameters":{"description":"Chame esta ferramenta para realizar a consulta de informações de imóveis conforme informado pelo cliente","workflowId":{"__rl":true,"value":"MK3Klp3VLmlwnLJG","mode":"list","cachedResultName":"2 - Guess Imóveis 12. API Consulta imóvel"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cpfCnpj":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cpfCnpj', ``, 'string') }}","negocio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('negocio', ``, 'string') }}","tipos":"=[\"{{ $fromAI('tipos', ``, 'string') }}\"]","valorMinimo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('valorMinimo', ``, 'number') }}","valorMaximo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('valorMaximo', ``, 'number') }}","localidade":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('localidade', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"cpfCnpj","displayName":"cpfCnpj","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"negocio","displayName":"negocio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tipos","displayName":"tipos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"},{"id":"valorMinimo","displayName":"valorMinimo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"valorMaximo","displayName":"valorMaximo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"localidade","displayName":"localidade","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[420,220],"id":"466df3f5-d60e-4beb-8f6c-34806279ff60","name":"Pesquisa imovel"},{"parameters":{"description":"Chame esta ferramenta para realizar a consulta de informações de tipo de imóveis conforme informado pelo cliente","workflowId":{"__rl":true,"value":"tz3tMMYNre5c9bk3","mode":"list","cachedResultName":"2 - Guess Imóveis 14. API Consulta tipo imóvel"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cpfCnpj":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cpfCnpj', ``, 'string') }}"},"matchingColumns":["cpfCnpj"],"schema":[{"id":"cpfCnpj","displayName":"cpfCnpj","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[560,220],"id":"a6f961ff-c1eb-4791-9311-b2079452f7e5","name":"Pesquisa tipo imovel"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Pesquisa imovel":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Pesquisa tipo imovel":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a8deacea-3b34-4a00-b776-4324764c7b16","triggerCount":0,"tags":[]}