workflows/GitHub_Backup.json
{"createdAt":"2025-07-25T14:21:51.594Z","updatedAt":"2025-07-26T19:10:04.103Z","id":"86eRtrkmM2aXK8RY","name":"GitHub Backup","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-60,800],"id":"da935401-4590-436c-94da-17325dfb11f1","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[160,800],"id":"b960c0b5-8c4b-46ab-8f44-2306fc00dfa1","name":"Listar Worflow","credentials":{"n8nApi":{"id":"FRY5aLbGSpS7i9Zv","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[380,800],"id":"7e267b6b-1c4a-44e0-8618-e56e2b0f899f","name":"Pega cada WF","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"20dff568-c0d4-4266-8072-0175a9262dd2","name":"repoOwner","value":"WandMei","type":"string"},{"id":"c8779ad6-4a03-4e9d-a0bc-fee813074de9","name":"repoName","value":"n8n-workflows","type":"string"},{"id":"5a912e0a-9ea8-48ac-8768-51c6dfb29b5a","name":"filePath","value":"=workflows/{{ $json.name.replace(/[^a-zA-Z0-9-\\s]/g, '').replace(/\\s/g, '_') }}.json","type":"string"},{"id":"136e1ed2-fa65-4f15-9533-b309d8c2dfd4","name":"workflowData","value":"={{ $json }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,900],"id":"683a1242-e3f4-49be-af3f-e7049dec4a24","name":"Dados WF"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $json.repoOwner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json.repoName }}","mode":"name"},"filePath":"={{ $json.filePath }}","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[820,900],"id":"18ed8c49-f31d-494b-a26f-ad8a48a4c38a","name":"Arquivo existe?","webhookId":"93445473-f1fa-461a-95f9-e21ea681736e","credentials":{"githubApi":{"id":"nZB1EdQN79OPtUMf","name":"GitHub WandMei"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9275ec44-29d8-4800-a405-67d0bef15f93","leftValue":"={{ $json.error }}","rightValue":"could not be found","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,900],"id":"e9bec1d0-9104-4fb3-9929-630fb8982fa5","name":"If"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Dados WF').item.json.repoOwner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Dados WF').item.json.repoName }}","mode":"name"},"filePath":"={{ $('Dados WF').item.json.filePath }}","fileContent":"={{ $('Dados WF').item.json.workflowData }}","commitMessage":"=Workflow n8n criado em {{ $now.format('dd/LL/yyyy hh:mm') }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1260,820],"id":"a9bec58d-4eb9-456b-9339-451348a170bc","name":"Criar arquivo","webhookId":"da340ef1-91f3-44a3-a387-af9d10ee1416","credentials":{"githubApi":{"id":"nZB1EdQN79OPtUMf","name":"GitHub WandMei"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[600,700],"id":"514147ba-acbe-45ef-99f9-89baa97dfb43","name":"Finalizar"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Dados WF').item.json.repoOwner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Dados WF').item.json.repoName }}","mode":"name"},"filePath":"={{ $('Dados WF').item.json.filePath }}","fileContent":"={{ $('Dados WF').item.json.workflowData }}\n","commitMessage":"=Workflow n8n atualizado em {{ $now.format('dd/LL/yyyy hh:mm') }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1260,980],"id":"680d0997-0d16-4024-8dfe-589a3a31a521","name":"Update arquivo","webhookId":"da340ef1-91f3-44a3-a387-af9d10ee1416","credentials":{"githubApi":{"id":"nZB1EdQN79OPtUMf","name":"GitHub WandMei"}},"onError":"continueRegularOutput"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1480,980],"id":"3c714dbc-35a6-4cb0-8943-a249ab63eace","name":"Pausa","webhookId":"ee2ba8d6-b50b-4c13-939e-e400d96f39e5"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Listar Worflow","type":"main","index":0}]]},"Listar Worflow":{"main":[[{"node":"Pega cada WF","type":"main","index":0}]]},"Pega cada WF":{"main":[[{"node":"Finalizar","type":"main","index":0}],[{"node":"Dados WF","type":"main","index":0}]]},"Dados WF":{"main":[[{"node":"Arquivo existe?","type":"main","index":0}]]},"Arquivo existe?":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Criar arquivo","type":"main","index":0}],[{"node":"Update arquivo","type":"main","index":0}]]},"Update arquivo":{"main":[[{"node":"Pausa","type":"main","index":0}]]},"Criar arquivo":{"main":[[{"node":"Pausa","type":"main","index":0}]]},"Pausa":{"main":[[{"node":"Pega cada WF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9bc4fb9f-a4ea-497c-b06b-064d89a6cff4","triggerCount":1,"tags":[]}
