workflows/Home.json
{"createdAt":"2025-06-11T12:52:14.003Z","updatedAt":"2025-06-11T13:58:33.269Z","id":"IhnG0wPHNOreP4w9","name":"Home","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ca54eae-15d1-49d3-af33-7a6e5d17b833","leftValue":"={{ $json.tipo }}","rightValue":"incoming","operator":{"type":"string","operation":"equals"}},{"id":"82912d66-ee4b-439c-9d55-96090bc6ba62","leftValue":"={{ $json.etiquetas }}","rightValue":"agente-off","operator":{"type":"array","operation":"notContains","rightType":"any"}},{"id":"45632144-a142-41af-85a3-31ba9204850d","leftValue":"={{ $json.etiquetas }}","rightValue":"testando-agente","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[560,0],"id":"83d80d2a-84de-456c-8555-0ec012a752a7","name":"Mensagem chegando?"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Info').item.json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Info').item.json.mensagem_de_audio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[840,0],"id":"8756d47d-f162-44b0-98d7-e8b02c3bff31","name":"Tipo de mensagem"},{"parameters":{"assignments":{"assignments":[{"id":"c8fd010d-6096-4a50-b3e2-e9fe26661840","name":"id_mensagem","value":"={{ $json.body.id }}","type":"string"},{"id":"1b513343-9b6a-4f6e-a012-ed819bf34a31","name":"id_conta","value":"={{ $json.body.account.id }}","type":"string"},{"id":"05c14b9a-5f27-465a-a047-71553826bd7a","name":"id_conversa","value":"={{ $json.body.conversation.id }}","type":"string"},{"id":"8bf522a6-75fb-434a-854c-b736539309e1","name":"telefone","value":"={{ $json.body.sender.phone_number }}","type":"string"},{"id":"0d622a33-f313-4758-a764-fa6cbf2b0587","name":"mensagem","value":"={{ $json.body.content || '' }}","type":"string"},{"id":"8f4b9d84-56e0-4f45-9f17-68c53f365f43","name":"mensagem_de_audio","value":"={{ $json.body.attachments?.[0]?.meta?.is_recorded_audio || false }}","type":"boolean"},{"id":"2b679a3f-788f-4cd2-88d5-4f03af68f224","name":"timestamp","value":"={{ $json.body.created_at }}","type":"string"},{"id":"24caf88e-74ce-43ab-8dc4-1fff471b706f","name":"tipo","value":"={{ $json.body.message_type }}","type":"string"},{"id":"573669d2-1e43-4010-8c82-a67459ffe1db","name":"etiquetas","value":"={{ $json.body.conversation.labels }}","type":"array"},{"id":"40ff895f-f63f-4e4f-bba3-c7d803c277f1","name":"url_chatwoot","value":"https://chatwoot.alcateia.site","type":"string"},{"id":"cf71dea1-d585-4235-8f05-29bc5f82b5df","name":"telegram_chat_id","value":"5919539323","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,0],"id":"04d2e41e-17b0-481b-89e6-9e862884b541","name":"Info"},{"parameters":{"httpMethod":"POST","path":"3eb999d3-f74d-43b7-9225-fae65256f38c","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"845f4dbf-274f-42ec-b7cf-80e139648e4c","name":"Webhook","webhookId":"3eb999d3-f74d-43b7-9225-fae65256f38c"}],"connections":{"Mensagem chegando?":{"main":[[{"node":"Tipo de mensagem","type":"main","index":0}]]},"Info":{"main":[[{"node":"Mensagem chegando?","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Info","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a94a846a-ef07-4af9-bec7-02921e63b858","triggerCount":0,"tags":[]}
