workflows/On_Demand.json
{"createdAt":"2025-07-02T19:24:56.763Z","updatedAt":"2025-07-17T13:28:54.102Z","id":"SeJZx9OxO4Ejj3Ja","name":"On Demand","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.message }} || {{ $json.chatInput }}","options":{"systemMessage":"=HOJE É: {{ $now.format('FFFF') }}\n \n\n# PAPEL\n\nVocê é um(a) atendente de WhatsApp altamente especializado(a) em agendamento de hospedagens, prestando um serviço de excelência. Sua missão é atender aos clientes de maneira ágil e eficiente, auxiliando com informações e coletando os dados necessários para confirmar a reserva.\n\n## PERSONALIDADE E TOM DE VOZ\n\n- Simpática, prestativa e humana.\n- Tom de voz sempre acolhedor e respeitoso.\n\n## OBJETIVO\n\n1. Fornecer atendimento diferenciado e cuidadoso aos clientes.\n2. Realizar uma busca inicial de disponibilidade com base nas preferências do cliente.\n3. Coletar todas as informações necessárias para um agendamento de hospedagem, caso haja disponibilidade.\n4. Confirmar a disponibilidade e realizar a pré-reserva.\n\n---\n\n# SOP (Procedimento Operacional Padrão)\n\n### 1. Início do atendimento e identificação da necessidade\n\n- Cumprimente o cliente de forma acolhedora.\n- Pergunte ao cliente quais datas ele deseja se hospedar para que você possa verificar a disponibilidade.\n\n### 2. Verificação de disponibilidade e pré-qualificação\n\n- Com as datas e a cidade informadas pelo cliente, realize uma busca inicial para verificar se há alguma opção de hospedagem disponível.\n- Se não houver disponibilidade para as datas ou cidade, informe o cliente e pergunte se ele deseja buscar por outras datas ou em outra localidade.\n\n### 3. Apresentando as opções disponíveis para o cliente\n\n- Apresente as opções de forma brevemente detalhada, informando as principais características da hospedagem, três fotos principais, o valor que a possoa irá pagar pela hospedagem e nada mais na primeira apresentação.\n- Informe ao cliente que caso tenha interesse por alguma das opções você pode fornecer mais detalhes.\n- Sempre que possível, tente entender a necessidade do cliente, se ele deseja uma hospedagem mais tranquila para um passeio, ou uma opção mais próxima ao centro da cidade por estar à trabalho. Com base na intenção do cliente, analise a melhor opção que se encaixa e apresente como opção.\n- Quando o cliente solicitar maiores detalhes, pode enviar os dados principais de forma melhor detalhada e de uma forma comercialmente agradável para despertar o interesse do cliente.\n- Somente envie o link para realizar a hospedagem após o cliente solicitar essa etapa.\n\n### 4. Coleta de informações essenciais para a reserva (APENAS SE HOUVER DISPONIBILIDADE E APÓS O CLIENTE INFORMAR QUE DESEJA AGENDAR UMA HOSPEDAGEM)\n\n- Conforme for apresentando as informações, sempre finalize perguntando ao cliente sobre o interesse dele em se hospedar de forma cordial.\n- Somente após o cliente demonstrar interesse em se hospedar, solicite as seguintes informações de forma clara e objetiva:\n    - **Imóvel desejado:** (Ex: \"Qual tipo de imóvel você busca? Uma casa, apartamento, quarto de hotel?\")\n    - **Total de adultos:** (Ex: \"Quantos adultos estarão hospedados?\")\n    - **Total de crianças:** (Ex: \"E quantas crianças?\")\n    - **Data de entrada:** (Já obtida, apenas confirme com o cliente para validação: \"Confirmando, a data de check-in é [data de entrada], correto?\")\n    - **Data de saída:** (Já obtida, apenas confirme com o cliente para validação: \"E a data de check-out é [data de saída], certo?\")\n    - **CPF do hóspede principal:** (Ex: \"Precisamos do CPF do responsável pela reserva. Poderia me informar, por favor?\")\n    - **Telefone do hóspede:** (Ex: \"Qual o melhor número de telefone para contato?\")\n    - **E-mail do hóspede:** (Ex: \"E para onde podemos enviar a confirmação da reserva?\")\n    - **Cupom de desconto:** (Ex: \"Você possui algum cupom de desconto?\")\n\n- Valide cada informação conforme o cliente for fornecendo.\n- Caso alguma informação esteja incompleta ou inválida, solicite a correção.\n\n### 5. Ajuste para que a informação a ser enviada para a API referente ao imóvel seja apenas o número e não texto.\n\n### 6. Neste momento a API está em desenvolvimento então retorne para o cliente apenas agradecendo o uso do atendimento.\n\n---\n\n# FERRAMENTAS\n\n## Pesquisar datas\n\n- \"Consultar_data\": usada para pesquisar datas disponíveis conforme solicitado pelo cliente.\n- Variáveis a serem preenchidas:\n  - `dataentrada` (data de entrada ex:21082025);\n  - `datasaida` (data de saída ex:21082025);\n\n## Agendamento de Hospedagem\n\n- \"Incluir_reserva\": usada para enviar os dados da reserva para o sistema de agendamento.\n- Variáveis a serem preenchidas:\n  - `imovel` (código do imóvel solicitado para a reserva);\n  - `totaladultos` (quantidade total de adultos);\n  - `totalcriancas` (quantidade total de crianças, quando aplicável);\n  - `dataentrada` (data de entrada);\n  - `datasaida` (data de saída);\n  - `cpfhospede` (cpf do hóspede);\n  - `nomehospede` (nome do hóspede);\n  - `telefonehospede` (telefone do hóspede);\n  - `emailhospede` (e-mail do hóspede);\n  - `cupomdesconto` (cupom de desconto, quando aplicável);\n\n## Calcular valor da hospedagem\n\n- \"calculator\": calcular o valor da hospedagem do cliente\n\n---\n\n# VARIÁVEIS\n\n## Variáveis a serem repassadas no output\n- \"id_conta\": {{ $json.id_conta }}\n- \"id_conversa\": {{ $json.id_conversa }}\n- \"url_chatwoot\": {{ $json.url_chatwoot }}\n\n---\n\n# EXEMPLOS DE FLUXO\n\n1. Informar ao cliente os dados iniciais da hospedagem\n  - Cliente: \"Gostaria de procurar uma hospedagem entre os dias 13/12 e 14/12\"\n  - Você:\n    - Informe a localização da hospedagem\n    - Informe as carcterísticas principais da hospedagem\n    - Informe o valor da hospedagem nas datas solicitadas\n    - Envie duas fotos principais\n    - Pergunte de forma amistosa se deseja mais informações sobre alguma das opções apresentadas.\n\n2. Informar ao cliente os dados detalhados da hospedagem\n  - Cliente: \"Gostaria de mais detalhes da segunda opção\"\n  - Você:\n    - Informe a localização da hospedagem\n    - Informe as carcterísticas da hospedagem\n    - Informe o valor da hospedagem nas datas solicitadas\n    - Envie todas as fotos\n    - Faça comentários sobre os pontos fortes da hospedagem de forma a aumentar a atratividade para o cliente.\n    - Envie o link para acessar a hospedagem e realizar a reserva.\n\n---\n\n# OBSERVAÇÕES FINAIS\n\n- Nunca forneça opiniões pessoais.\n- Nunca confirme o agendamento sem ter o retorno de sucesso da ferramenta de agendamento.\n- Qualquer assunto fora do escopo de agendamento de hospedagem deve ser finalizado o atendimento.\n- Não mencione que você é uma assistente virtual ou robô, mantenha um atendimento humanizado.","returnIntermediateSteps":false,"passthroughBinaryImages":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[200,0],"id":"41138ac7-aede-4cb4-af77-db03eab1f592","name":"AI Agent","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"description":"Chame esta ferramenta para realizar a consulta de datas conforme informado pelo cliente","workflowId":{"__rl":true,"value":"kSSgdc11LqG5M3hu","mode":"list","cachedResultName":"API OD Consulta data"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dataentrada":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dataentrada', ``, 'string') }}","datasaida":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('datasaida', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"dataentrada","displayName":"dataentrada","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"datasaida","displayName":"datasaida","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[420,220],"id":"33ae5cc2-1dfc-4fff-99c2-102c6392a0e6","name":"Consultar data"},{"parameters":{"description":"Chame esta ferramenta para realizar a consulta à API de agendamento de hospedagem","workflowId":{"__rl":true,"value":"rVJcwRRTVqW3mIxo","mode":"list","cachedResultName":"API OD Inclui reserva"},"workflowInputs":{"mappingMode":"defineBelow","value":{"imovel":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imovel', ``, 'string') }}","totaladultos":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('totaladultos', ``, 'string') }}","totalcriancas":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('totalcriancas', ``, 'string') }}","dataentrada":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dataentrada', ``, 'string') }}","datasaida":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('datasaida', ``, 'string') }}","cpfhospede":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cpfhospede', ``, 'string') }}","nomehospede":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nomehospede', ``, 'string') }}","telefonehospede":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefonehospede', ``, 'string') }}","emailhospede":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('emailhospede', ``, 'string') }}","cupomdesconto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cupomdesconto', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"imovel","displayName":"imovel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"totaladultos","displayName":"totaladultos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"totalcriancas","displayName":"totalcriancas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dataentrada","displayName":"dataentrada","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"datasaida","displayName":"datasaida","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cpfhospede","displayName":"cpfhospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nomehospede","displayName":"nomehospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefonehospede","displayName":"telefonehospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"emailhospede","displayName":"emailhospede","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cupomdesconto","displayName":"cupomdesconto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[540,220],"id":"26359081-8bbd-425d-b6ca-e81b3ec97319","name":"Incluir reserva"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n    \"imovel\": \"1\",\n    \"totaladultos\": \"2\",\n    \"totalcriancas\": \"1\",\n    \"dataentrada\": \"24/08/2025\",\n    \"datasaida\": \"25/08/2025\",\n    \"cpfhospede\": \"054300000123\",\n    \"nomehospede\": \"Victor\",\n    \"telefonehospede\": \"1498765432\",\n    \"emailhospede\": \"email@email.com\",\n    \"cupomdesconto\": \"\",\n    \"id_conta\": \"1\",\n    \"id_conversa\": \"199\",\n    \"url_chatwoot\": \"https://chatwoot.alcateia.site\",\n    \"telefone\": \"+5514998011995\",\n    \"message\": \"\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-20,0],"id":"e6db0901-10d5-4329-893f-a6c2484acbda","name":"When Executed by Another Workflow"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[80,220],"id":"53114dee-673e-4ea1-81f8-7d21bdda1316","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"WPMXivmzlmPwJxyt","name":"OpenAi account Wanderson"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.telefone }}","tableName":"n8n_historico_mensagens","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[200,220],"id":"56d9f93e-1c5f-4d70-b474-305e8894cf5d","name":"Memory","credentials":{"postgres":{"id":"bb5UIwrNd9s9ZPwa","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.id_conta }}/conversations/{{ $('When Executed by Another Workflow').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"multipart/form-data"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,0],"id":"d0f99bd8-1ef2-48f2-bcba-be1321e8b9f5","name":"Enviar mensagem","credentials":{"chatwootApi":{"id":"zT1Bg0imC8LCHEgH","name":"ChatWoot account"}},"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.principal }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,-160],"id":"b656bd7d-0aa5-4b4e-a16f-e7343d2dc075","name":"Download Imagens","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"b77ec3d1-43ae-48d6-b521-a8ae83c19280","name":"id_conta","value":"={{ $('When Executed by Another Workflow').item.json.id_conta }}","type":"string"},{"id":"258a891d-e65c-4781-8014-6fad7b1b805a","name":"id_conversa","value":"={{ $('When Executed by Another Workflow').item.json.id_conversa }}","type":"string"},{"id":"539cac84-adf0-4af1-b27c-2febc56de033","name":"url_chatwoot","value":"={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-20,-160],"id":"835bbb4a-4d49-42e5-a51b-2f2d1cd20416","name":"Edit Fields","alwaysOutputData":true},{"parameters":{"jsCode":"const inputItem = items[0].json;\nconst outputText = inputItem.output; // Saída do AI Agent que pode conter markdown\n\n// Captura os componentes da URL do Chatwoot do inputItem\nconst chatwootBaseUrl = inputItem.url_chatwoot;\nconst accountId = inputItem.id_conta;\nconst conversationId = inputItem.id_conversa;\n\n// Constrói a conversation_url completa\nlet conversationUrl = '';\nif (chatwootBaseUrl && accountId && conversationId) {\n    conversationUrl = `${chatwootBaseUrl}/api/v1/accounts/${accountId}/conversations/${conversationId}`;\n} else {\n    console.error(\"Dados de URL do Chatwoot faltando no inputItem:\", inputItem);\n}\n\n// Regex para extrair as URLs das imagens (para o Download Imagens)\nconst imageUrlRegex = /!\\[.*?\\]\\((https?:\\/\\/[^\\s)]+\\.(?:jpg|jpeg|png|gif|webp))\\)/g;\nlet match;\nconst imageUrls = [];\n\nwhile ((match = imageUrlRegex.exec(outputText)) !== null) {\n    imageUrls.push(match[1]);\n}\n\n// **AJUSTE CRÍTICO AQUI (para o texto ficar 100% limpo):**\nlet cleanedText = outputText\n    .replace(/!\\[.*?\\]\\((https?:\\/\\/[^\\s)]+\\.(?:jpg|jpeg|png|gif|webp))\\)\\s*/g, '') // Remove o markdown e espaços/quebras de linha após\n    .replace(/^- \\*\\*Fotos:\\*\\*(\\s*)$/gm, '') // Remove a linha \"- **Fotos:**\" e seus espaços ao final da linha\n    .replace(/^\\s*\\n/gm, '') // Remove linhas vazias que sobraram\n    .replace(/(\\n\\s*){2,}/g, '\\n\\n'); // Reduz múltiplas quebras de linha para no máximo duas\n\n// NOVO PASSO: Limpa espaços em branco no início e fim de CADA LINHA e reconstrói o texto.\ncleanedText = cleanedText.split('\\n').map(line => line.trim()).filter(line => line.length > 0).join('\\n');\n\n\nconst outputItems = imageUrls.map(url => ({\n    json: {\n        principal: url, // URL da imagem para download\n        cleanedContent: cleanedText, // **TEXTO AGORA REALMENTE LIMPO**\n        conversation_url: conversationUrl // URL da conversa\n    }\n}));\n\n// Se não houver URLs de imagem, ainda retorna o texto limpo e a conversation_url em um único item\nif (outputItems.length === 0) {\n    return [{\n        json: {\n            cleanedContent: cleanedText, // **TEXTO AGORA REALMENTE LIMPO**\n            conversation_url: conversationUrl\n        }\n    }];\n}\n\nreturn outputItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,-160],"id":"b898d748-f5d5-4300-8d31-8cfa6e904458","name":"Extrair imagens","alwaysOutputData":true},{"parameters":{"jsCode":"// Assumimos que os itens de entrada vêm do \"Download Imagens\",\n// onde cada item tem:\n//   item.json (com principal, cleanedContent, conversation_url)\n//   item.binary (que é um objeto como { mimeType: \"...\", fileName: \"...\", data: \"...\" })\n\nconst firstInputItem = items[0];\nconst cleanedContent = firstInputItem.json.cleanedContent;\nconst conversationUrl = firstInputItem.json.conversation_url;\n\nconst outputItems = [];\n\n// 1. Adicione um item para o conteúdo da mensagem (texto)\noutputItems.push({\n    json: {\n        content: cleanedContent,\n        conversation_url: conversationUrl\n    }\n});\n\n// 2. Para cada imagem, crie um item separado com seus dados binários\nfor (let i = 0; i < items.length; i++) {\n    const item = items[i];\n\n    // Apenas para depuração - você pode remover esses console.log depois que funcionar\n    console.log(`--- Processando Item de Entrada ${i} ---`);\n    console.log(`item.binary existe? ${!!item.binary}`);\n    if (item.binary) {\n        console.log(`item.binary.data existe? ${!!item.binary.data}`);\n        console.log(`item.binary.mimeType: ${item.binary.mimeType}`);\n        console.log(`item.binary.fileName: ${item.binary.fileName}`);\n    }\n\n    // A condição verifica se o objeto binary existe e se ele tem a propriedade 'data'\n    if (item.binary && item.binary.data) {\n        outputItems.push({\n            json: {\n                // Estes campos ainda são úteis no .json para metadados,\n                // mas o nó HTTP Request usará principalmente os metadados do próprio objeto binary\n                file_name: item.json.principal ? item.json.principal.split('/').pop() : `image_${i+1}.jpg`,\n                content_type: item.binary.mimeType || \"application/octet-stream\"\n            },\n            // *** MUDANÇA ESSENCIAL AQUI: PASSE O OBJETO BINARY COMPLETO! ***\n            binary: item.binary\n        });\n    } else {\n        console.warn(`AVISO: Item ${i} não possui dados binários completos ou esperados em item.binary.data. Item JSON: ${JSON.stringify(item.json)}`);\n    }\n}\n\nreturn outputItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,-160],"id":"d700d486-0de1-425e-9793-9b70acf5d79f","name":"Montar Payload"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[660,220],"id":"346c225c-79ce-4806-bad2-75935f3bb319","name":"Calculator"}],"connections":{"Consultar data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Incluir reserva":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar mensagem","type":"main","index":0}]]},"Enviar mensagem":{"main":[[]]},"Download Imagens":{"main":[[{"node":"Montar Payload","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Extrair imagens","type":"main","index":0}]]},"Extrair imagens":{"main":[[{"node":"Download Imagens","type":"main","index":0}]]},"Montar Payload":{"main":[[]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"imovel":"1","totaladultos":"2","totalcriancas":"1","dataentrada":"24/08/2025","datasaida":"25/08/2025","cpfhospede":"054300000123","nomehospede":"Victor","telefonehospede":"1498765432","emailhospede":"email@email.com","cupomdesconto":"","id_conta":"1","id_conversa":"199","url_chatwoot":"https://chatwoot.alcateia.site","telefone":"+5514998011995","message":"Bom dia, gostaria de procurar uma hospedagem entre os dias 03/12 e 04/12 deste ano para duas pessoas em Marília e já confirmo estas informações"}}]},"versionId":"f3b7b78e-69ca-4a22-85b9-5f23426e326a","triggerCount":0,"tags":[]}
