workflows/Via_CEP_copy.json
{"createdAt":"2025-07-02T13:53:27.102Z","updatedAt":"2025-07-02T22:38:40.417Z","id":"MxmIq5GaFBsqCH1P","name":"Via CEP copy","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"2b32874d-3bf0-4e14-af3e-0e7aa2c94967","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[60,680],"typeVersion":1},{"parameters":{"content":"### Sub-workflow: Custom tool\nThe agent above can call this workflow. It calls an example API called \"Bored API\" and returns a string with an activity idea.","height":775.3931210698682,"width":1180.0825159534493,"color":7},"id":"cf37467c-aa9f-48a7-931c-939bd153bc28","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,500],"typeVersion":1},{"parameters":{"content":"### Main workflow: AI agent using custom tool","height":486.5625,"width":927.5,"color":7},"id":"f35b7092-26d9-4055-8df5-0671d804bc05","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{},"id":"3f748b72-8b42-4b5d-ac65-a5de6e64c803","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[140,100],"webhookId":"e3f23177-c7c1-417b-a513-1c1090dda0a2","typeVersion":1},{"parameters":{},"id":"46aae098-3cce-48e8-b4f5-0d3c770e6cff","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[400,320],"typeVersion":1.1},{"parameters":{"content":"**This tool calls the sub-workflow below**","height":179.21380662202682,"width":197.45572294791873,"color":5},"id":"77841c03-3561-4409-9f86-192ebe80c42d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[560,260],"typeVersion":1},{"parameters":{"content":"**Set your credentials**","height":171,"width":150,"color":2},"id":"9ead263a-0cb7-43c8-9fed-88b0f699aacc","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,260]},{"parameters":{"content":"**Set your credentials**","height":170.10898979087855,"width":152.85917676941358,"color":2},"id":"6a83c5a8-5261-4d25-bb4f-f6fca6af3e20","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[420,1100]},{"parameters":{"name":"activity_tool","description":"=Suggest an activity for a person to do. Use this tool if someone is bored, or asking for ideas of things to do.","workflowId":"={{ $workflow.id }}","fields":{"values":[{"name":"chatInput","stringValue":"={{ $('Chat Trigger').item.json.chatInput }}"}]}},"id":"c3796d3b-d5ab-4e84-8419-d23370f94fce","name":"Activity tool","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[620,320],"typeVersion":1},{"parameters":{"text":"={{ $json.chatInput }}","options":{"maxIterations":10}},"id":"36711406-c467-4626-8fb6-b288f6604bb0","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[360,100],"typeVersion":1.1},{"parameters":{"options":{}},"id":"7063d29c-91f9-40fb-be29-79525a0a3e16","name":"Auto-fixing Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[460,920]},{"parameters":{"content":"**Set your credentials**","height":189.79768930311286,"width":150,"color":2},"id":"1ea56b8e-555d-4e17-b739-a49e51cd7bc9","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[200,880]},{"parameters":{"model":"gpt-4","options":{}},"id":"35738579-1fff-4dac-b949-a974190ace55","name":"GPT4 Model 1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[200,320],"typeVersion":1},{"parameters":{"model":"gpt-4","options":{}},"id":"9c2c4723-80b9-4f6a-8f8b-ecad32b2f0de","name":"GPT4 Model 2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[240,960]},{"parameters":{"model":"gpt-4","options":{}},"id":"5abf8a0a-0d3d-49b3-a7bd-0a70cc6870ed","name":"GPT4 Model 3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[460,1140]},{"parameters":{"content":"## Try it out\n\nSelect **Chat** at the bottom and enter:\n\n_Hi! Please suggest something to do. I feel like learning something new._","height":214.8397420554627,"width":185.9375,"color":4},"id":"3bc3ec6e-0cbe-40cf-8364-b9b160f45d71","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-160,80],"typeVersion":1},{"parameters":{"content":"## Next steps\n\nLearn more about [Advanced AI in n8n](https://docs.n8n.io/advanced-ai/)","height":144.50520156238127},"id":"414c420b-447c-4f93-9c69-856fdca20349","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,1080]},{"parameters":{"jsonSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"type\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"data\": {\n          \"enum\": [\"education\", \"recreational\",\"social\",\"diy\",\"charity\",\"cooking\",\"relaxation\",\"music\",\"busywork\"]\n        }\n      }\n    },\n    \"participants\": {\n      \"type\": \"number\"\n    }\n  }\n}"},"id":"c75cc386-f904-4890-9b52-43d209241001","name":"Structure as JSON","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1,"position":[660,1060]},{"parameters":{"url":"http://www.boredapi.com/api/activity/","sendQuery":true,"queryParameters":{"parameters":[{"name":"type","value":"={{ $json.output.type.data }}"},{"name":"participants","value":"={{ $json.output.participants }}"}]},"options":{}},"id":"8498e1be-f882-431c-8d14-8ec8c076a898","name":"Call the API","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[660,680]},{"parameters":{"prompt":"={{ $('Execute Workflow Trigger').item.json.chatInput }}"},"id":"4e88daec-d0a5-4f72-b3f5-f06c369cf463","name":"Work out activity type and number of people","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.3,"position":[280,680]},{"parameters":{"assignments":{"assignments":[{"id":"e37e64f6-64e7-4fbd-9ea1-e9d3ef99b39c","name":"response","value":"={{ $json.activity }}","type":"string"}]},"options":{}},"id":"d7b31486-da80-4331-a1dc-d3534b1e3f42","name":"Set 'response' value","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[880,680]}],"connections":{"Chat Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Work out activity type and number of people","type":"main","index":0}]]},"Activity tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Work out activity type and number of people","type":"ai_outputParser","index":0}]]},"GPT4 Model 1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"GPT4 Model 2":{"ai_languageModel":[[{"node":"Work out activity type and number of people","type":"ai_languageModel","index":0}]]},"GPT4 Model 3":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Structure as JSON":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Call the API":{"main":[[{"node":"Set 'response' value","type":"main","index":0}]]},"Work out activity type and number of people":{"main":[[{"node":"Call the API","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b5e671e0-e35f-4f69-94ba-8fedbd07f75d","triggerCount":0,"tags":[]}
