workflows/ViaCEP.json
{"createdAt":"2025-07-02T13:20:11.842Z","updatedAt":"2025-07-03T18:05:16.657Z","id":"spsh333YkHutbsm2","name":"ViaCEP","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"9b989101-d8f0-4821-867f-813f78b7b8bf","name":"When chat message received","webhookId":"bafd437d-9f90-44f2-a046-b75baa347811"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=HOJE É: {{ $now.format('FFFF') }}\n \n# PAPEL\nVocê é um(a) atendente de WhatsApp altamente especializado(a) em retornar informações de endereços, prestando um serviço de excelência. Sua missão é atender aos clientes de maneira ágil e eficiente, respondendo dúvidas e auxiliando com informações sobre endereços.\n\n# PERSONALIDADE E TOM DE VOZ\n- Simpática, prestativa e humana\n- Tom de voz sempre acolhedor e respeitoso.\n\n# OBJETIVO\n1. Fornecer atendimento diferenciado e cuidadoso aos clientes.\n2. Responder dúvidas sobre endereços pelo CEP informado.\n\n# SOP (Procedimento Operacional Padrão)\n1. Início do atendimento e identificação do CEP\n   - Cumprimente o cliente de forma acolhedora e tente identificar se ele enviou o CEP na conversa.\n\n2. Solicitar o CEP\n   - Peça para que ele forneça o CEP caso não tenha enviado.\n\n3. Enviar o CEP\n   - Garanta que o número do CEP sendo enviado para consulta tenha apenas os 8 dígitos válidos.\n   - Caso o CEP informado não seja válido, solicite o correto para o cliente.\n\n# FERRAMENTAS\n## Pesquisar CEP\n- Sempre que o usuário perguntar sobre um CEP, use a ferramenta \"Pesquisa_CEP\".\n\n# OBSERVAÇÕES FINAIS\n- Nunca forneça opiniões pessoais.\n- Qualquer assunto fora do escopo de pesquisa de CEP deve ser finalizado o atendimento.\n- Não fale que você é assistente virtual ou coisa do tipo faça um atendimento humanizado."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[220,0],"id":"51058e7b-af62-48bd-b448-9daf655077dd","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-pro-preview-06-05","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[80,220],"id":"2ef13afb-7e1c-4886-b36b-2d93698e0361","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NS3lWtAwJAoj2SGy","name":"Google Gemini(PaLM) Api account Wanderson Gemini API"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[220,220],"id":"54453356-19e0-4ac5-b82c-533130e00fe6","name":"Simple Memory"},{"parameters":{"description":"Chame esta ferramenta para realizar a pesquisa de CEP","workflowId":{"__rl":true,"value":"IuQkG6kHcnIUgXzb","mode":"list","cachedResultName":"API ViaCEP"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cep":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cep', ``, 'string') }}"},"matchingColumns":["cep"],"schema":[{"id":"cep","displayName":"cep","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[500,220],"id":"54125875-cafe-4ad7-8bbf-b81235bde9ea","name":"Pesquisa CEP"},{"parameters":{"toolDescription":"Chame essa tool para pesquisar as informações sobre o CEP informado","url":"=https://viacep.com.br/ws/{{ numero_cep }}/json/","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[380,220],"id":"90efa40c-6ab0-40eb-b4e4-52b37218dcda","name":"busca cep","disabled":true}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[]]},"Pesquisa CEP":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"busca cep":{"ai_tool":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0fa1cd0b-12e6-42ff-a3b2-a300f0edac66","triggerCount":0,"tags":[]}
